@import '../../theme/var';
@import '../../theme/mixin';

@mixin option-group($block) {
  .#{$block} {
    &__title {
      padding: 4px 8px;
      @include text-set(s, help);
    }
  }

  #{$block}:not(:first-child) .#{$block} {
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid get-color(n-8);
  }
}
