<div
  [class]="rootClass"
  (click)="inputRef.focus()"
  [style.max-height]="maxHeight"
>
  <span
    [hidden]="model.length || inputRef.value.length"
    [class]="bem.element('placeholder')"
  >
    {{ placeholder }}
  </span>
  @for (item of model; let index = $index; track index) {
    @if (!item.isInputting) {
      <aui-tag
        type="info"
        [title]="item.value"
        [size]="tagSize"
        [round]="true"
        [border]="true"
        [closeable]="!(disabled || readonlyTags.includes(item.value))"
        (close)="onRemove(index)"
      >
        {{ item.value }}
      </aui-tag>
    }
  }
  <input
    #inputRef
    [class]="inputClass"
    [disabled]="disabled"
    autocomplete="off"
    (focus)="onInputFocus()"
    (blur)="onInputBlur($event)"
    (keydown)="onKeyDown($event)"
    (input)="onInput()"
  />
  <span
    #inputValueMirror
    [class]="bem.element('mirror')"
    >{{ inputRef.value }}</span
  >
</div>
