@import '../theme/var';
@import '../theme/mixin';
@import './option-group/option-group-style.scss';

@mixin option-container($block) {
  .#{$block} {
    padding: $select-options-padding 0;
    border-radius: $border-radius;
    background-color: $color-white;
    @include popper-shadow;

    &__content {
      max-height: $select-options-max-height;
      position: relative;
      overflow: auto;
      @include scroll-bar;
      .divider {
        border: none;
        @include option-group-divider;
      }
    }

    &__placeholder {
      color: $color-text-placeholder;
      font-size: $font-size-regular;
      text-align: center;
    }
  }
}
