@use '../theme/var' as var;
@use '../theme/mixin' as mixin;
@use './option-group/option-group-style' as optionGroupStyle;

@mixin option-container($block, $size: m) {
  .#{$block} {
    padding: 8px 0;
    max-width: 90vw;

    &__content {
      max-height: calc(#{var.use-var(inline-height-#{$size})} * 10);
      position: relative;
      overflow: auto;
      @include mixin.scroll-bar;
    }

    &__placeholder {
      color: var.use-rgb(n-4);
      font-size: var.use-var(font-size-m);
      text-align: center;
    }
  }

  .#{$block}--small {
    .#{$block}__content {
      max-height: calc(#{var.use-var(inline-height-s)} * 10);
    }
    .#{$block}__placeholder {
      font-size: var.use-var(font-size-s);
    }
  }
}
