@import '../theme/var';
@import '../theme/mixin';
@import './option-group/option-group-style.scss';

@mixin option-container($block) {
  .#{$block} {
    padding: get-size(select-options-padding) 0;
    border-radius: get-size(border-radius-m);
    background-color: get-color(n-10);
    @include popper-shadow;

    &__content {
      max-height: calc(#{get-size(inline-height-m)} * 10);
      position: relative;
      overflow: auto;
      @include scroll-bar;
      .divider {
        border: none;
        @include option-group-divider;
      }
    }

    &__placeholder {
      color: get-color(n-4);
      font-size: get-size(font-size-m);
      text-align: center;
    }
  }

  .#{$block}--small {
    .#{$block}__content {
      max-height: calc(#{get-size(inline-height-s)} * 10);
    }
    .#{$block}__placeholder {
      font-size: get-size(font-size-s);
    }
  }
}

@function get-select-padding-variables($size: m, $clearable: false) {
  @return calc(
    #{get-size(font-size-#{$size})} * #{if($clearable == false, 1, 2)} + #{get-size(
        inline-padding-xs
      )} + #{get-size(spacing-m)} * #{if($clearable == false, 1, 2)}
  );
}
