@import '../theme/var';
@import '../theme/mixin';
@import './option-group/option-group-style.scss';

@mixin option-container($block, $size: m) {
  .#{$block} {
    padding: 8px 0;
    max-width: 90vw;
    border-radius: use-var(border-radius-m);
    background-color: use-rgb(popper-bg);
    @include popper-shadow;

    &__content {
      max-height: calc(#{use-var(inline-height-#{$size})} * 10);
      position: relative;
      overflow: auto;
      @include scroll-bar;
    }

    &__placeholder {
      color: use-rgb(n-4);
      font-size: use-var(font-size-m);
      text-align: center;
    }
  }

  .#{$block}--small {
    .#{$block}__content {
      max-height: calc(#{use-var(inline-height-s)} * 10);
    }
    .#{$block}__placeholder {
      font-size: use-var(font-size-s);
    }
  }
}
