@import '../theme/var';
@import '../theme/mixin';
@import './option-container';

@include option-container(aui-option-container);

.aui-select {
  display: inline-block;
  position: relative;
  width: 100%;

  @include input-field-indicator;

  &__label-container.aui-input {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-flex;
    align-items: center;
    pointer-events: none;
    background-color: transparent;
    border-color: transparent;

    &[readonly] {
      pointer-events: auto;
    }
  }

  &.isFilterable.isOpened &__label-container.aui-input {
    color: use-rgb(n-4);
  }

  &__label {
    width: 100%;
    @include text-overflow;
  }

  &__input-inaction {
    background-color: use-rgb(main-bg);
    border-color: use-rgb(n-7) !important;
    cursor: text;

    &:focus {
      border-color: use-rgb(primary);
    }
  }

  &__input[disabled] {
    background-color: use-rgb(n-8);
    border-color: use-rgb(n-7);
  }
}

aui-select.ng-invalid.ng-dirty,
.ng-submitted aui-select.ng-invalid {
  .aui-input {
    @include input-error;
  }
}
