<div
  [class]="rootClass"
  [class.isDisabled]="disabled"
  [class.isClearable]="isClearable(hasSelected$ | async)"
  [class.isFilterable]="filterable"
  [class.isOpened]="opened"
  #selectRef
  #tooltipRef="auiTooltip"
  [auiTooltip]="templateRef"
  auiTooltipAnimType="scaleY"
  [auiTooltipDisabled]="disabled"
  auiTooltipTrigger="click"
  auiTooltipPosition="bottom start"
  auiTooltipType="plain"
  (auiTooltipVisibleChange)="onVisibleOptions($event)"
>
  <aui-input-group>
    <input
      #inputRef
      class="aui-select__input"
      autocomplete="off"
      aui-input
      [disabled]="disabled"
      [size]="size"
      [readonly]="inputReadonly"
      [placeholder]="!(hasSelected$ | async) ? placeholder : ''"
      (input)="onInput($event)"
      (keydown)="onKeyDown($event)"
      (blur)="closeOption()"
    />
    <span
      auiInputSuffix
      class="aui-select__icon-container"
    >
      <aui-icon
        class="aui-select__indicator"
        [icon]="loading ? 'spinner' : 'caret_down_s'"
      ></aui-icon>
      <aui-icon
        class="aui-select__clear"
        icon="xmark_small"
        (click)="clearValue($event)"
      ></aui-icon>
    </span>
    <div
      *ngIf="(selectedOption$ | async) && !filterString"
      class="aui-select__label-container aui-input aui-input--{{ size }}"
      [attr.disabled]="disabled ? true : null"
    >
      <div class="aui-select__label">
        <ng-container *ngIf="(selectedOption$ | async).label as optionLabel">
          <ng-container
            *ngIf="isTemplateRef(optionLabel); else label"
            [ngTemplateOutlet]="optionLabel"
            [ngTemplateOutletContext]="(selectedOption$ | async).labelContext"
          ></ng-container>
          <ng-template #label>{{ optionLabel }}</ng-template>
        </ng-container>
      </div>
    </div>
  </aui-input-group>
</div>

<ng-template #templateRef>
  <div
    [class]="containerClass"
    [style.minWidth]="containerWidth"
    (mousedown)="$event.preventDefault()"
  >
    <ng-content select="[prefix]"></ng-content>
    <div
      #optionListRef
      class="aui-option-container__content"
    >
      <ng-container *ngIf="!useVirtual; else virtual">
        <ng-template
          *ngFor="let item of filterOptions$ | async; trackBy: trackByValue"
          [ngTemplateOutlet]="inputItemTemplate || itemTemplate"
          [ngTemplateOutletContext]="{ $implicit: item }"
        >
        </ng-template>
      </ng-container>
      <ng-template #virtual>
        <aui-virtual-scroll-viewport
          [itemSize]="_itemSize"
          [maxBufferPx]="_itemSize * maxItemLength"
          [minBufferPx]="_itemSize * maxItemLength"
          (scrolledIndexChange)="onScrolledIndexChange($event)"
          [style.height.px]="(filterOptions$ | async).length * _itemSize"
          [style.max-height.px]="_itemSize * maxItemLength"
        >
          <!-- templateCacheSize: 0 能解决过滤场景从无匹配项到有匹配项后前面几个option的内容显示不出来的问题 -->
          <ng-template
            *auiVirtualFor="
              let item of filterOptions$ | async;
              trackBy: trackByValue;
              template: inputItemTemplate || itemTemplate;
              templateCacheSize: 0
            "
          >
          </ng-template>
        </aui-virtual-scroll-viewport>
      </ng-template>
      <ng-template
        #itemTemplate
        let-item
      >
        <aui-option-item
          [label]="item.label"
          [value]="item.value"
          [selected]="item.selected"
          [disabled]="item.disabled"
          [groupTitle]="item.groupTitle"
          [focused]="isFocus(item.value, focused$ | async)"
        >
          <ng-container *ngIf="item.contentTemplate; else normal">
            <ng-container
              *ngTemplateOutlet="item.contentTemplate"
            ></ng-container>
          </ng-container>
          <ng-template #normal>
            {{ item.label || getLabelByValue(item.value) }}
          </ng-template>
        </aui-option-item>
      </ng-template>
    </div>
    <ng-content select="[suffix]"></ng-content>
    <div
      *ngIf="
        !((filterOptions$ | async)?.length || (allowCreate && filterString))
      "
      class="aui-option-container__placeholder"
    >
      <ng-content select="aui-option-placeholder"></ng-content>
    </div>
  </div>
</ng-template>
