<div
  [class]="rootClass"
  [class.isDisabled]="disabled"
  [class.isClearable]="isClearable(hasSelected$ | async)"
  [class.isFilterable]="filterable"
  [class.isOpened]="opened"
  #selectRef
  #tooltipRef="auiTooltip"
  [auiTooltip]="templateRef"
  auiTooltipAnimType="scaleY"
  [auiTooltipDisabled]="disabled"
  auiTooltipTrigger="click"
  auiTooltipPosition="bottom start"
  auiTooltipType="plain"
  (auiTooltipVisibleChange)="onVisibleOptions($event)"
  >
  <aui-input-group>
    <input
      #inputRef
      class="aui-select__input"
      [class.aui-select__input-inaction]="inaction"
      autocomplete="off"
      aui-input
      [disabled]="disabled"
      [size]="size"
      [readonly]="readonly || inaction"
      [placeholder]="!(hasSelected$ | async) ? placeholder : ''"
      (input)="onInput($event)"
      (keydown)="onKeyDown($event)"
      (blur)="closeOption()"
      />
    <span
      auiInputSuffix
      class="aui-select__icon-container"
      >
      <aui-icon
        class="aui-select__indicator"
        [icon]="loading ? 'spinner' : 'caret_down_s'"
      ></aui-icon>
      <aui-icon
        class="aui-select__clear"
        icon="xmark_small"
        (click)="clearValue($event)"
      ></aui-icon>
    </span>
    @if ((selectedOption$ | async) && !filterString) {
      <div
        class="aui-select__label-container aui-input aui-input--{{ size }}"
        [attr.disabled]="disabled ? true : null"
        [attr.readonly]="readonly ? true : null"
        >
        <div class="aui-select__label">
          @if ((selectedOption$ | async).label; as optionLabel) {
            @if (isTemplateRef(optionLabel)) {
              <ng-container
                [ngTemplateOutlet]="optionLabel"
                [ngTemplateOutletContext]="(selectedOption$ | async).labelContext"
              ></ng-container>
            } @else {
              {{ optionLabel }}
            }
          }
        </div>
      </div>
    }
  </aui-input-group>
</div>

<ng-template #templateRef>
  <div
    [class]="containerClass"
    [style.minWidth]="containerWidth"
    (mousedown)="$event.preventDefault()"
    >
    <div
      #optionListRef
      class="aui-option-container__content"
      >
      @if (allowCreate && filterString && !(hasMatchedOption$ | async)) {
        <aui-option
          #inputtingOption
          [value]="filterString"
          >
          {{ filterString }}
        </aui-option>
      }
      @if (allowCreate) {
        @for (option of customCreatedOptions$ | async; track option) {
          <aui-option
            [label]="option.label"
            [value]="option.value"
            >
            {{ option.label }}
          </aui-option>
        }
      }
      <ng-content></ng-content>
    </div>
    @if (
      !(
      (hasVisibleOption$ | async) ||
      (allowCreate && (customCreatedOptions$ | async).length) ||
      (allowCreate && filterString)
      )
      ) {
      <div
        class="aui-option-container__placeholder"
        >
        <ng-content select="aui-option-placeholder"></ng-content>
      </div>
    }
  </div>
</ng-template>
