@use "sass:meta";

@import '../theme/var';
@import '../theme/mixin';
@import './option-container';

@include option-container(aui-option-container);

.aui-select {
  display: inline-block;
  position: relative;
  width: get-size(select-width);

  &__clear .aui-icon {
    @include clear-button;
  }

  &__label-container.aui-input {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-flex;
    align-items: center;
    pointer-events: none;
    background-color: transparent;
    border-color: transparent;
  }

  &.isFilterable.isOpened &__label-container.aui-input {
    color: get-color(n-4);
  }

  &__label {
    @include text-overflow;
  }

  &.isClearable .aui-input-group .aui-input {
    &--large {
      padding-right: get-select-padding-variables(l, true);
    }
    &--medium {
      padding-right: get-select-padding-variables(m, true);
    }
    &--small {
      padding-right: get-select-padding-variables(m, true);
    }
    &--mini {
      padding-right: get-select-padding-variables(s, true);
    }
  }

  &:not(.isDisabled) .aui-icon-caret_down_s {
    fill: get-color(n-2);
  }

  &__input.aui-input[readonly] {
    background-color: get-color(n-9);
    border-color: get-color(n-7) !important;
    cursor: text;

    &:focus {
      border-color: get-color(primary);
    }
  }

  &__input.aui-input[disabled] {
    background-color: get-color(n-8);
    border-color: get-color(n-7);
  }
}

aui-select.ng-invalid.ng-dirty,
.ng-submitted aui-select.ng-invalid {
  .aui-input {
    border-color: get-color(red) !important;
  }
}
