@import '../../theme/mixin';
@import '../../theme/var';

$block: 'aui-radio-button';

.#{$block} {
  font-size: 0;
  margin-left: -1px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  color: get-color(primary);
  border: 1px $border-style get-color(primary);
  background-color: get-color(n-9);
  overflow: hidden;
  z-index: 1;
  @include transition;

  &.cdk-keyboard-focused {
    z-index: 2;
    @include outline-shadow(primary);
  }

  &:hover {
    background-color: get-color(p-7);
  }

  &.isChecked:not(.isDisabled) {
    z-index: 2;
    color: get-color(n-10);
    background-color: get-color(primary);
  }

  &.isChecked.isDisabled {
    color: get-color(n-10);
    border-color: get-color(p-4);
    background-color: get-color(p-4);
  }

  &.isPlain {
    color: get-color(n-1);
    border: 1px solid get-color(n-7);
    background-color: get-color(n-9);
    &:hover,
    &.isChecked {
      z-index: 2;
      &:not(.isDisabled) {
        color: get-color(primary);
        border-color: get-color(primary);
        background-color: get-color(n-9);
      }
    }
    &.isDisabled {
      color: get-color(n-6);
      border-color: get-color(n-7);
      background-color: get-color(n-8);
    }
    &.isDisabled.isChecked {
      color: get-color(p-4);
      border-color: get-color(p-4);
      background-color: get-color(n-9);
    }
  }

  &.isDisabled {
    z-index: 0;
    color: get-color(p-4);
    border-color: get-color(p-4);
    background-color: get-color(p-7);

    .#{$block} {
      &__pointer {
        color: get-color(p-4);
      }

      &__label {
        cursor: not-allowed;
      }
    }
  }

  &__pointer {
    color: get-color(primary);
    &:not(:last-child) {
      margin: 0;
    }
    .aui-icon {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  &__input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  &__label {
    display: flex;
    align-items: center;
    font-size: get-size(font-size-m);
    cursor: pointer;
  }

  &--medium {
    .#{$block} {
      &__pointer {
        .aui-icon {
          font-size: get-size(font-size-l);
        }
      }
      &__label {
        height: calc(#{get-size(inline-height-m)} - 2px);
        padding: 0 get-size(inline-padding-m);
      }
    }
  }

  &--small {
    .#{$block} {
      &__pointer {
        .aui-icon {
          font-size: get-size(font-size-s);
        }
      }
      &__label {
        height: calc(#{get-size(inline-height-s)} - 2px);
        padding: 0 get-size(inline-padding-s);
      }
    }
  }
}

#{$block}:first-child {
  .#{$block} {
    margin-left: 0;
    border-top-left-radius: get-size(border-radius-m);
    border-bottom-left-radius: get-size(border-radius-m);
  }
}

#{$block}:last-child {
  .#{$block} {
    border-top-right-radius: get-size(border-radius-m);
    border-bottom-right-radius: get-size(border-radius-m);
  }
}
