@use '../mixin' as mixin;
@use '../var' as var;

@mixin fade-motion(
  $className,
  $keyframeName,
  $duration: var.$animation-duration-base
) {
  @include mixin.make-motion($className, $keyframeName, $duration);

  .#{$className}-enter {
    opacity: 0;
    animation-timing-function: linear;
  }
  .#{$className}-leave {
    animation-timing-function: linear;
  }
}

@keyframes aui-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes aui-fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
