@use '../mixin' as mixin;
@use '../var' as var;

@mixin zoom-motion(
  $className,
  $keyframeName,
  $duration: var.$animation-duration-base
) {
  @include mixin.make-motion($className, $keyframeName, $duration);

  .#{$className}-enter {
    opacity: 0;
    animation-timing-function: var.$ease-out;
  }
  .#{$className}-leave {
    animation-timing-function: var.$ease-in-out;
  }
}

@keyframes aui-zoom-in {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes aui-zoom-out {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.2);
    opacity: 0;
  }
}
