@import '../../theme/pattern';

.aui-platform-nav {
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__stage {
    margin-left: 4px;
    @include feat-stage-text;
  }
}

.aui-nav-item-tooltip .aui-platform-nav__stage {
  @include feat-stage-tag;
}
