<div [class]="bem.block()">
  <div *ngFor="let layout of getLayoutArr()" [class]="bem.element('layout')">
    <div *ngIf="layout === 'pager'" [class]="bem.element('pager')">
      <button
        [ngClass]="bem.element('navigator')"
        aui-button
        [disabled]="disabled || currentPage <= 1"
        (click)="navigate(-1)"
      >
        <aui-icon icon="angle_left"></aui-icon>
      </button>
      <button
        [ngClass]="bem.element('page')"
        [aui-button]="currentPage === 1 ? 'primary' : 'default'"
        [plain]="!(currentPage === 1)"
        [disabled]="disabled"
        (click)="jumpTo(1)"
      >
        1
      </button>
      <button
        *ngIf="pageCount > 7 && currentPage > 4"
        [ngClass]="bem.element('fast-navigator')"
        aui-button
        [disabled]="disabled"
        (click)="navigate(-5)"
      >
        <aui-icon icon="ellipsis_h_s"></aui-icon>
        <aui-icon icon="angle_double_left"></aui-icon>
      </button>
      <button
        *ngFor="let page of getCenterPages(); trackBy: trackByIndex"
        [ngClass]="bem.element('page')"
        [aui-button]="currentPage === page ? 'primary' : 'default'"
        [plain]="!(currentPage === page)"
        [disabled]="disabled"
        (click)="jumpTo(page)"
      >
        {{ page }}
      </button>
      <button
        *ngIf="pageCount > 7 && currentPage < pageCount - 3"
        [ngClass]="bem.element('fast-navigator')"
        aui-button
        [disabled]="disabled"
        (click)="navigate(5)"
      >
        <aui-icon icon="ellipsis_h_s"></aui-icon>
        <aui-icon icon="angle_double_right"></aui-icon>
      </button>
      <button
        *ngIf="pageCount > 1"
        [ngClass]="bem.element('page')"
        [aui-button]="currentPage === pageCount ? 'primary' : 'default'"
        [plain]="!(currentPage === pageCount)"
        [disabled]="disabled"
        (click)="jumpTo(pageCount)"
      >
        {{ pageCount }}
      </button>
      <button
        aui-button
        [ngClass]="bem.element('navigator')"
        [disabled]="disabled || currentPage >= pageCount"
        (click)="navigate(1)"
      >
        <aui-icon icon="angle_right"></aui-icon>
      </button>
    </div>
    <div *ngIf="layout === 'total'" [class]="bem.element('total')">
      {{ intl.getTotalLabel(total) }}
    </div>
    <div *ngIf="layout === 'sizes'" [class]="bem.element('sizes')">
      <aui-select
        [disabled]="disabled"
        [value]="pageSize"
        [filterable]="false"
        (valueChange)="changePageSize($event)"
      >
        <aui-option *ngFor="let size of pageSizeOptions" [value]="size">
          {{ size }}
        </aui-option>
      </aui-select>
      <span>{{ intl.itemsPerPageLabel }}</span>
    </div>
    <div *ngIf="layout === 'jumper'" [class]="bem.element('jumper')">
      <span *ngIf="intl.jumperLabelPrefix">{{ intl.jumperLabelPrefix }}</span>
      <input
        aui-input
        type="number"
        min="1"
        [max]="pageCount"
        [value]="currentPage"
        [disabled]="disabled"
        (keydown)="onKeydown($event)"
      />
      <span *ngIf="intl.jumperLabelSuffix">{{ intl.jumperLabelSuffix }}</span>
    </div>
    <div *ngIf="layout === 'content'" [class]="bem.element('content')">
      <ng-content></ng-content>
    </div>
  </div>
</div>
