@import '../theme/var';
@import '../theme/mixin';

$block: 'aui-paginator';
$input-width: 80px;

.#{$block} {
  display: inline-flex;
  align-items: center;
  color: use-rgb(n-1);

  .aui-button {
    width: use-var(line-height-xl);
    height: use-var(line-height-xl);
    border: unset;

    &--default {
      background-color: transparent;
    }

    .aui-button__content {
      padding: unset;
    }
  }

  &__fast-navigator {
    &[hidden] {
      display: none;
    }

    .aui-icon {
      margin: 0;
    }

    aui-icon:last-child {
      display: none;
    }

    &:hover aui-icon {
      &:first-child {
        display: none;
      }

      &:last-child {
        display: inline;
      }
    }
  }

  &__sizes {
    display: inline-flex;
    align-items: center;

    .aui-select {
      width: $input-width;
      margin-right: use-var(spacing-s);
    }
  }

  &__jumper {
    .aui-input {
      width: $input-width;
    }

    span + input {
      margin-left: use-var(spacing-m);
    }

    input + span {
      margin-left: use-var(spacing-s);
    }
  }

  &__total {
    font-size: use-var(font-size-m);
  }

  &__navigator.aui-button {
    background-color: use-rgb(n-8);

    aui-icon {
      font-size: use-var(font-size-l);
    }

    &:hover {
      background-color: use-rgb(p-6);
    }
  }

  &__pager {
    border: 1px solid use-rgb(n-7);
    padding: 3px;
    border-radius: use-var(border-radius-m);
    background-color: use-rgb(main-bg);
  }

  &__layout {
    display: inline-block;

    + .#{$block}__layout {
      margin-left: use-var(spacing-l);
    }
  }
}
