{
  "extends": "@1stg/eslint-config/loose",
  "parserOptions": {
    "requireConfigFile": false
  },
  "overrides": [
    {
      "files": "*.spec.ts",
      "rules": {
        "@typescript-eslint/no-extraneous-class": 0,
        "jest/expect-expect": 0,
        "jest/no-export": 0,
        "sonarjs/no-duplicate-string": 0
      }
    }
  ],
  "rules": {
    "accessor-pairs": 0,
    "@angular-eslint/no-inputs-metadata-property": 0,
    "@angular-eslint/no-output-native": 0,
    "@angular-eslint/no-input-rename": 0,
    "@angular-eslint/no-output-rename": 0,
    "@angular-eslint/no-host-metadata-property": 0,
    "@typescript-eslint/no-useless-constructor": 0
  }
}
