{
  "extends": "@1stg/eslint-config/loose",
  "parserOptions": {
    "requireConfigFile": false
  },
  "overrides": [
    {
      "files": "*.spec.ts",
      "rules": {
        "@typescript-eslint/no-extraneous-class": "off",
        "jest/expect-expect": "off",
        "jest/no-export": "off",
        "sonarjs/no-duplicate-string": 0
      }
    }
  ],
  "rules": {
    "accessor-pairs": "off",
    "@angular-eslint/no-inputs-metadata-property": "off",
    "@angular-eslint/no-output-native": "off",
    "@angular-eslint/no-input-rename": "off",
    "@angular-eslint/no-output-rename": "off",
    "@angular-eslint/no-host-metadata-property": "off",
    "@typescript-eslint/no-useless-constructor": "off",
    "@typescript-eslint/no-unsafe-call": "off",
    "@typescript-eslint/no-unsafe-argument": "off"
  }
}
