{
  "extends": "@1stg/stylelint-config/loose",
  "rules": {
    "no-descending-specificity": null,
    "plugin/no-unsupported-browser-features": null,
    "selector-class-pattern": null,
    "selector-type-no-unknown": [
      true,
      {
        "ignoreTypes": [
          "/^(aui|ng|storybook)-/"
        ]
      }
    ]
  },
  "overrides": [
    {
      "files": "**/*.scss",
      "rules": {
        "import-notation": "string",
        "no-invalid-position-at-import-rule": [
          true,
          {
            "ignoreAtRules": [
              "use"
            ]
          }
        ],
        "scss/no-duplicate-dollar-variables": null,
        "scss/function-no-unknown": [
          true,
          {
            "ignoreFunctions": [
              "get-height-calc",
              "use-rgb",
              "use-rgba",
              "use-text-color",
              "use-var"
            ]
          }
        ]
      }
    }
  ]
}
