@import '../theme/var';
@import '../theme/mixin';

$block: aui-status-bar;
$bar-border-radius: 5px;
$small-bar-border-radius: 4px;

.#{$block} {
  display: inline-flex;
  overflow: hidden;
  width: 100%;
  vertical-align: middle;
  border-radius: $bar-border-radius;

  &--medium {
    height: 10px;
  }

  &--small {
    height: 8px;
    border-radius: $small-bar-border-radius;
    .#{$block}__chunk {
      &:first-child {
        border-top-left-radius: $small-bar-border-radius;
        border-bottom-left-radius: $small-bar-border-radius;
      }

      &:last-child {
        border-top-right-radius: $small-bar-border-radius;
        border-bottom-right-radius: $small-bar-border-radius;
      }
    }
  }

  &__chunk {
    min-width: 2px;
    height: 100%;
    flex: 1 1 1;
    border-radius: get-size(border-radius-m);

    &:first-child {
      border-top-left-radius: $bar-border-radius;
      border-bottom-left-radius: $bar-border-radius;
    }

    &:last-child {
      border-top-right-radius: $bar-border-radius;
      border-bottom-right-radius: $bar-border-radius;
    }

    &--primary {
      background-color: get-color(primary);
    }
    &--success {
      background-color: get-color(green);
    }
    &--warning {
      background-color: get-color(yellow);
    }
    &--error {
      background-color: get-color(red);
    }
    &--info {
      background-color: get-color(n-4);
    }
    &--pending {
      height: get-size(inline-height-m);
      animation: pending 0.5s linear infinite;
      background: repeating-linear-gradient(
        -60deg,
        get-color(b-5),
        get-color(b-5) get-size(spacing-s),
        get-color(b-6) get-size(spacing-s),
        get-color(b-6) get-size(spacing-m)
      );
    }
  }

  &__chunk + &__chunk {
    margin-left: get-size(spacing-xs);
  }

  &:hover {
    .#{$block}__chunk--primary {
      background-color: get-color(primary);
    }
    .#{$block}__chunk--success {
      background-color: get-color(green);
    }
    .#{$block}__chunk--warning {
      background-color: get-color(yellow);
    }
    .#{$block}__chunk--error {
      background-color: get-color(red);
    }
    .#{$block}__chunk--info {
      background-color: get-color(n-4);
    }
  }
}

@keyframes pending {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}
