@use '../theme/var' as var;
@use '../theme/mixin' as mixin;
@use 'sass:map';

$block: aui-status-bar;
$bar-border-radius: 5px;
$small-bar-border-radius: 4px;

$bar-type: (
  primary: (
    background: var.use-rgb(primary),
    hover-background: var.use-rgb(p-2),
  ),
  success: (
    background: var.use-rgb(green),
    hover-background: var.use-rgb(g-2),
  ),
  warning: (
    background: var.use-rgb(yellow),
    hover-background: var.use-rgb(y-2),
  ),
  error: (
    background: var.use-rgb(red),
    hover-background: var.use-rgb(r-2),
  ),
  info: (
    background: var.use-rgb(n-4),
    hover-background: var.use-rgb(n-6),
  ),
);

.#{$block} {
  display: inline-flex;
  overflow: hidden;
  width: 100%;
  vertical-align: middle;
  border-radius: $bar-border-radius;

  &--medium {
    height: 10px;
  }

  &--small {
    height: 8px;
    border-radius: $small-bar-border-radius;
    .#{$block}__chunk {
      &:first-child {
        border-top-left-radius: $small-bar-border-radius;
        border-bottom-left-radius: $small-bar-border-radius;
      }

      &:last-child {
        border-top-right-radius: $small-bar-border-radius;
        border-bottom-right-radius: $small-bar-border-radius;
      }
    }
  }

  &__chunk {
    min-width: 2px;
    height: 100%;
    flex: 1 1 1;
    border-radius: var.use-var(border-radius-m);

    &:first-child {
      border-top-left-radius: $bar-border-radius;
      border-bottom-left-radius: $bar-border-radius;
    }

    &:last-child {
      border-top-right-radius: $bar-border-radius;
      border-bottom-right-radius: $bar-border-radius;
    }

    @each $type in primary, success, warning, error, info {
      $map: map.get($bar-type, $type);
      &--#{$type} {
        background-color: map.get($map, background);

        &:hover {
          background-color: map.get($map, hover-background);
        }
      }
    }

    &--pending {
      height: var.use-var(inline-height-m);
      animation: pending 0.5s linear infinite;
      background: repeating-linear-gradient(
        -60deg,
        var.use-rgb(b-5),
        var.use-rgb(b-5) var.use-var(spacing-s),
        var.use-rgb(b-6) var.use-var(spacing-s),
        var.use-rgb(b-6) var.use-var(spacing-m)
      );
    }
  }

  &__chunk + &__chunk {
    margin-left: var.use-var(spacing-xs);
  }
}

@keyframes pending {
  0% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(0);
  }
}
