@import '../theme/mixin';
@import '../theme/var';
@import './mixin';

$block: 'aui-checkbox';

.#{$block} {
  margin-right: get-size(spacing-xxxl);
  display: inline-flex;
  width: fit-content;
  height: get-size(inline-height-m);
  position: relative;

  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover .#{$block}__pointer {
      border-color: get-color(primary);
    }
  }

  &__content {
    @include text-set(m, main);
  }

  &.isTag {
    margin-right: get-size(spacing-m);
    height: get-size(inline-height-s);
    padding: 0 get-size(spacing-l);
    line-height: get-size(inline-height-s);
    background-color: get-color(n-8);
    border-radius: calc(#{get-size(inline-height-s)} / 2);
    font-size: get-size(font-size-m);
    display: inline-flex;

    &:hover .#{$block}__pointer {
      border-color: get-color(primary);
    }

    &:hover,
    &.isChecked {
      background-color: get-color(p-6);
      color: get-color(primary);
    }
  }

  &__input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  @include pointer('isChecked');

  &.isIndeterminate &__pointer {
    border-color: get-color(primary);
    background-color: get-color(primary);
  }

  &.isIndeterminate.isDisabled &__pointer {
    border-color: get-color(p-4);
    background-color: get-color(p-4);
  }
}
