<div
  #elRef
  class="aui-checkbox"
  [class.isDisabled]="disabled"
  [class.isChecked]="model"
  [class.isIndeterminate]="indeterminate"
  [class.isTag]="type === 'tag'"
>
  <input
    [name]="name"
    [id]="id"
    class="aui-checkbox__input"
    type="checkbox"
    [checked]="model"
    [disabled]="disabled"
    (click)="onClick()"
    (blur)="onBlur()"
  />
  <label class="aui-checkbox__label" [for]="id">
    <i class="aui-checkbox__pointer">
      <aui-icon
        [icon]="indeterminate ? 'square_s' : 'check_s'"
        [hidden]="!model && !indeterminate"
      ></aui-icon>
    </i>
    <span class="aui-checkbox__content"><ng-content></ng-content></span>
  </label>
</div>
