@import '../theme/mixin';
@import '../theme/var';

@mixin pointer($checkedStatus) {
  &__pointer {
    display: inline-block;
    width: use-var(icon-size-m);
    height: use-var(icon-size-m);
    margin-right: use-var(spacing-m);
    border-radius: use-var(border-radius-m);
    border: 1px solid use-rgb(n-7);
    color: white;
    background-color: use-rgb(main-bg);
    position: relative;
    vertical-align: middle;
    @include transition;

    .aui-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-left: 0;
    }
  }

  &.cdk-keyboard-focused &__pointer {
    border-color: use-rgb(primary);
    @include outline-shadow(primary);
  }

  &.#{$checkedStatus} &__pointer {
    border-color: use-rgb(primary);
    background-color: use-rgb(primary);
  }

  &.#{$checkedStatus}.isDisabled &__pointer {
    border-color: use-rgb(p-4);
    background-color: use-rgb(p-4);
  }

  &.isDisabled &__label {
    cursor: not-allowed;
  }

  &.isDisabled &__pointer {
    border-color: use-rgb(n-7);
    background-color: use-rgb(n-8);
  }
}
