@import '../theme/var';
@import '../theme/mixin';
@import '../../node_modules/@angular/cdk/overlay-prebuilt';

.cdk-overlay-pane.aui-message-overlay-pane {
  z-index: 1001;
}

$color-map: (
  success: green,
  warning: yellow,
  error: red,
  info: blue,
);

.aui-message {
  display: flex;
  margin-bottom: use-var(spacing-xxl);
  padding: 8px 16px;
  min-width: 100px;
  max-width: 800px;
  border-radius: use-var(border-radius-m);
  background-color: use-rgb(popper-bg);
  @include text-set(m, main);
  @include modal-shadow;

  &__icon {
    font-size: use-var(icon-size-m);
  }

  @each $status, $color in $color-map {
    &__icon--#{$status} {
      margin-right: use-var(spacing-m);
      color: use-rgb($color);
    }
  }
}
