@import '../../theme/var';
@import '../../theme/mixin';

$padding: 32px;
$action-padding: 20px;
$icon-size: get-size(line-height, xl);
$icon-margin: get-size(spacing);

.aui-confirm-dialog {
  margin: auto;
  padding: $padding $padding $action-padding;
  border-radius: get-size(border-radius);
  min-width: 400px;
  max-width: 600px;
  background-color: get-color(neutral, 10);

  &__title {
    margin-bottom: get-size(spacing);
    @include text-size(xl);

    color: get-color(text);
    display: flex;
    word-wrap: break-word;
    word-break: break-all;
  }

  &__icon {
    margin-right: $icon-margin;
    font-size: $icon-size;

    &--primary,
    &--warning {
      color: get-color(warning);
    }
    &--success {
      color: get-color(success);
    }
    &--danger {
      color: get-color(danger);
    }
  }

  &__content {
    padding-left: calc(#{$icon-margin} + #{$icon-size});
    @include text-size(m);

    color: get-color(text, secondary);
    word-wrap: break-word;
    word-break: break-all;
  }

  &__button-wrapper {
    margin: $action-padding ($action-padding - $padding) 0 0;
    display: flex;
    flex-direction: row-reverse;
  }
}
