<div [class]="bem.block()">
  <div [class]="bem.element('title')">
    <span [class]="bem.element('icon', config.confirmType + '')">
      <aui-icon
        [icon]="iconMap(config.confirmType)"
        [background]="
          iconMap(config.confirmType).endsWith('_triangle_s')
            ? 'triangle'
            : 'circle'
        "
      ></aui-icon>
    </span>
    <span>{{ config.title }}</span>
  </div>
  <div [class]="bem.element('content')">
    @if (config.content) {
      @if (
        isTemplateRef(config.content) || isString(config.content)) {
        @if (isTemplateRef(config.content)) {
          <ng-template *ngTemplateOutlet="config.content"></ng-template>
        } @else {
          {{ config.content }}
        }
      } @else {
        <ng-container *ngComponentOutlet="$any(config.content)"></ng-container>
      }
    }
  </div>
  <div [class]="bem.element('button-wrapper')">
    <div>
      <button
        [aui-button]="config.confirmType"
        [ngClass]="bem.element('confirm-button')"
        [loading]="waitConfirm"
        [disabled]="waitConfirm || waitCancel"
        (click)="confirm()"
        >
        {{ config.confirmText }}
      </button>
      @if (config.cancelButton) {
        <button
          aui-button
          [ngClass]="bem.element('cancel-button')"
          [loading]="waitCancel"
          [disabled]="waitConfirm || waitCancel"
          (click)="cancel()"
          >
          {{ config.cancelText }}
        </button>
      }
    </div>
  </div>
</div>
