@import '../../theme/var';
@import '../../theme/mixin';

$padding: 32px;
$action-padding: 20px;
$icon-size: use-var(icon-size-xl);
$icon-margin: use-var(spacing-m);

.aui-confirm-dialog {
  margin: auto;
  padding: $padding $padding $action-padding;
  border-radius: use-var(border-radius-m);
  min-width: 400px;
  max-width: 600px;
  background-color: use-rgb(n-10);

  &__title {
    margin-bottom: use-var(spacing-m);
    display: flex;
    @include text-set(xl, main, bolder);
  }

  &__icon {
    margin-right: $icon-margin;
    font-size: $icon-size;

    &--primary,
    &--warning {
      color: use-rgb(yellow);
    }

    &--success {
      color: use-rgb(green);
    }

    &--danger {
      color: use-rgb(red);
    }
  }

  &__content {
    padding-left: calc(#{$icon-margin} + #{$icon-size});
    @include text-set(m, secondary);
  }

  &__button-wrapper {
    margin: $action-padding ($action-padding - $padding) 0 0;
    display: flex;
    flex-direction: row-reverse;
  }
}
