@import '../../theme/var';
@import '../../theme/mixin';

$padding: 32px;
$action-padding: 20px;
$icon-size: get-size(line-height-xl);
$icon-margin: get-size(spacing-m);

.aui-confirm-dialog {
  margin: auto;
  padding: $padding $padding $action-padding;
  border-radius: get-size(border-radius-m);
  min-width: 400px;
  max-width: 600px;
  background-color: get-color(n-10);

  &__title {
    margin-bottom: get-size(spacing-m);
    @include text-set(xl);

    display: flex;
    word-wrap: break-word;
    word-break: break-all;
  }

  &__icon {
    margin-right: $icon-margin;
    font-size: $icon-size;

    &--primary,
    &--warning {
      color: get-color(yellow);
    }
    &--success {
      color: get-color(green);
    }
    &--danger {
      color: get-color(red);
    }
  }

  &__content {
    padding-left: calc(#{$icon-margin} + #{$icon-size});
    @include text-set(m, secondary);

    word-wrap: break-word;
    word-break: break-all;
  }

  &__button-wrapper {
    margin: $action-padding ($action-padding - $padding) 0 0;
    display: flex;
    flex-direction: row-reverse;
  }
}
