// When elements such as `<tr>` or `<li>` are repeated inside the aui-virtual-scroll-viewport,
// their container element (e.g. `<table>`, `<ul>`, etc.) needs to be placed in the viewport as
// well. We reset some properties here to prevent these container elements from introducing
// additional space that would throw off the scrolling calculations.
@mixin _aui-virtual-scroll-clear-container-space($direction) {
  $start: if($direction == horizontal, 'left', 'top');
  $end: if($direction == horizontal, 'right', 'bottom');

  > dl:not([auiVirtualFor]),
  > ol:not([auiVirtualFor]),
  > table:not([auiVirtualFor]),
  > ul:not([auiVirtualFor]) {
    padding: {
      #{$start}: 0;
      #{$end}: 0;
    }
    margin: {
      #{$start}: 0;
      #{$end}: 0;
    }
    border: {
      #{$start}-width: 0;
      #{$end}-width: 0;
    }

    outline: none;
  }
}

// Scrolling container.
aui-virtual-scroll-viewport {
  display: block;
  position: relative;
  overflow: auto;
  contain: strict;
  transform: translateZ(0);
  will-change: scroll-position;
  -webkit-overflow-scrolling: touch;
}

// Wrapper element for the rendered content. This element will be transformed to push the rendered
// content to its correct offset in the data set as a whole.
.aui-virtual-scroll-content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  contain: content;

  // Note: We can't put `will-change: transform;` here because it causes Safari to not update the
  // viewport's `scrollHeight` when the spacer's transform changes.

  [dir='rtl'] & {
    right: 0;
    left: auto;
  }
}

.aui-virtual-scroll-orientation-horizontal .aui-virtual-scroll-content-wrapper {
  min-height: 100%;
  @include _aui-virtual-scroll-clear-container-space(horizontal);
}

.aui-virtual-scroll-orientation-vertical .aui-virtual-scroll-content-wrapper {
  min-width: 100%;
  @include _aui-virtual-scroll-clear-container-space(vertical);
}

// Spacer element that whose width or height will be adjusted to match the size of the entire data
// set if it were rendered all at once. This ensures that the scrollable content region is the
// correct size.
.aui-virtual-scroll-spacer {
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 1px;
  transform-origin: 0 0;

  // Note: We can't put `will-change: transform;` here because it causes Safari to not update the
  // viewport's `scrollHeight` when the spacer's transform changes.

  [dir='rtl'] & {
    right: 0;
    left: auto;
    transform-origin: 100% 0;
  }
}
