@import '../theme/var';
@import '../theme/mixin';
@import '../select/option-container';

@include option-container(aui-tree-node-container, s);

.aui-tree-select {
  display: inline-block;
  position: relative;
  width: get-size(select-width);

  &:not(.isDisabled) {
    &:hover .aui-input {
      border-color: get-color(primary);
    }
    .aui-icon-caret_down_s {
      fill: get-text-color(main);
    }
  }

  &__clear .aui-icon {
    @include clear-button;
  }

  &.isClearable .aui-input-group .aui-tree-select__input.aui-input {
    &--medium {
      padding-right: get-select-padding-variables(m, true);
    }
  }

  &__input.aui-input[readonly]:not([disabled]) {
    background-color: get-color(n-9);
    cursor: text;
  }
}

aui-tree-select.ng-invalid.ng-dirty,
.ng-submitted aui-tree-select.ng-invalid {
  .aui-input {
    border-color: get-color(red) !important;
  }
}
