<div
  class="aui-tree-select"
  [class.isDisabled]="disabled"
  [class.isClearable]="isClearable"
  #selectRef
  #tooltipRef="auiTooltip"
  [auiTooltip]="templateRef"
  [auiTooltipDisabled]="disabled"
  auiTooltipTrigger="click"
  auiTooltipPosition="bottom start"
  auiTooltipType="plain"
  (auiTooltipShow)="onShowNodes()"
  (auiTooltipHide)="onHideNodes()"
>
  <aui-input-group>
    <input
      #inputRef
      class="aui-tree-select__input"
      autocomplete="off"
      aui-input
      [value]="getInputValue()"
      [disabled]="disabled"
      [placeholder]="getPlaceholder()"
      [readonly]="inputReadonly"
      (input)="onInput($event)"
      (blur)="closeNodes()"
      (keydown)="onKeyDown($event)"
    />
    <span
      auiInputSuffix
      class="aui-tree-select__icon-container"
    >
      <aui-icon
        class="aui-tree-select__indicator"
        [icon]="loading ? 'spinner' : 'caret_down_s'"
      ></aui-icon>
      <aui-icon
        class="aui-tree-select__clear"
        icon="xmark_small"
        (click)="clearValue($event)"
      ></aui-icon>
    </span>
  </aui-input-group>
</div>

<ng-template #templateRef>
  <div
    class="aui-tree-node-container"
    [style.minWidth]="containerWidth"
    (mousedown)="$event.preventDefault()"
  >
    <div
      #nodeListRef
      class="aui-tree-node-container__content"
    >
      <aui-tree-node
        *ngFor="let data of nodesData; trackBy: trackByLabel"
        [nodeData]="data"
        [leafOnly]="leafOnly"
      ></aui-tree-node>
    </div>
    <div
      *ngIf="!getVisibleNodeCount()"
      class="aui-tree-node-container__placeholder"
    >
      <ng-content select="aui-tree-node-placeholder"></ng-content>
    </div>
  </div>
</ng-template>
