@import '../theme/var';
@import '../theme/mixin';

.aui-tree-node {
  &__content {
    display: flex;
    height: use-var(inline-height-m);
    line-height: use-var(inline-height-m);
    font-size: use-var(font-size-m);
    color: use-text-color(main);
    margin-left: 4px;
    cursor: pointer;

    aui-icon {
      color: use-rgb(n-2);
    }

    &.isLeftOnly {
      &:hover {
        background-color: use-rgb(p-6);
      }
    }
  }

  &__title {
    display: inline-block;
    padding: 6px 8px;
    width: 100%;
    height: 100%;
    @include text-set(m);
    @include text-overflow;

    &:hover {
      background-color: use-rgb(p-6);
    }

    &.unselectable {
      color: use-rgb(n-4);

      aui-icon {
        color: use-rgb(n-4);
      }
    }

    &.isSelected {
      color: use-rgb(primary);
      background-color: use-rgb(p-6);

      aui-icon {
        color: use-rgb(primary);
      }
    }

    &.isDisabled {
      color: use-rgb(n-6);
      cursor: not-allowed;

      aui-icon {
        color: use-rgb(n-6);
      }
    }
  }

  &__loading {
    cursor: not-allowed;
  }

  &__indicator {
    &:hover {
      color: use-rgb(primary);
    }
  }

  &__children {
    margin-left: calc(#{use-var(font-size-m)} + 6px);
  }
}
