@import '../theme/var';
@import '../theme/mixin';
@import '~@angular/cdk/overlay-prebuilt';

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing.aui-dialog-backdrop {
  background-color: get-color(neutral);
  opacity: 0.4;
}

.cdk-overlay-pane.aui-dialog-overlay-pane {
  justify-content: center;
  overflow: auto;
  @include scroll-bar;
}

$spacing: 20px;
$fullscreen-width: 90vw;
$fullscreen-height: calc(100vh - (#{$spacing} * 2));

.aui-dialog {
  // FIXME: margin-bottom is not working
  margin: 18vh auto 20px;
  display: flex;
  flex-direction: column;
  background-color: get-color(neutral, 10);
  border-radius: get-size(border-radius);
  @include modal-shadow;
  @include text-size(m);

  color: get-color(text);

  aui-dialog-content {
    height: 100%;
    overflow: auto;
    @include scroll-bar;

    &:first-child .aui-dialog__content {
      padding-top: $spacing;
    }

    &:last-child .aui-dialog__content {
      padding-bottom: $spacing;
    }
  }

  &__header {
    margin: 0 $spacing;
    padding: $spacing 0;
    display: flex;
    justify-content: space-between;

    &.hasDivider {
      margin-bottom: 16px;
      border-bottom: $divider-line;
    }

    &-title {
      width: 100%;
      @include text-size(xxl);

      color: get-color(text);

      aui-icon:first-child {
        font-size: get-size(line-height, xl);
        margin-right: get-size(spacing);

        &[icon='info_circle_s'] {
          color: get-color(primary);
        }
        &[icon='check_circle_s'] {
          color: get-color(success);
        }
        &[icon='exclamation_circle_s'] {
          color: get-color(warning);
        }
        &[icon='exclamation_triangle_s'] {
          color: get-color(danger);
        }
      }
    }

    &-close {
      margin-left: get-size(spacing, xl);
      line-height: get-size(line-height, xxl);
      font-size: get-size(font-size, l);
      color: get-color(neutral, 4);
      cursor: pointer;

      &:hover {
        color: get-color(primary);
      }
    }
  }

  &__content {
    padding: 0 $spacing;
    min-height: 80px;
  }

  &__footer {
    padding: $spacing;
    display: flex;
    justify-content: flex-end;
  }

  &--small {
    width: 400px;
  }

  &--medium {
    width: 600px;
  }

  &--big {
    width: 800px;
  }

  &--large {
    width: 960px;
  }

  &--fit-content {
    width: fit-content;
  }

  &--fullscreen {
    width: $fullscreen-width;
    height: $fullscreen-height;
    @include absolute-center;
  }

  &--fit-viewport {
    max-width: $fullscreen-width;
    max-height: $fullscreen-height;
    @include absolute-center;

    .aui-dialog {
      &__header {
        margin: 0;
        padding: $spacing;
        border-bottom: $divider-line;
      }
      &__footer {
        border-top: $divider-line;
      }
    }

    aui-dialog-content {
      &:not(:first-child) .aui-dialog__content {
        padding-top: 16px;
      }

      &:not(:last-child) .aui-dialog__content {
        padding-bottom: 16px;
      }
    }

    > ng-component {
      display: flex;
      flex-direction: column;
      overflow: auto;
      &:after {
        clear: both;
      }
    }
  }
}
