@import '../theme/var';
@import '../theme/mixin';
@import '../theme/motion';
@import '~@angular/cdk/overlay-prebuilt';

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing.aui-dialog-backdrop {
  @include modal-backdrop;
}

.cdk-overlay-pane.aui-dialog-overlay-pane {
  @include overlay-pane(normal);
}

.cdk-overlay-pane.aui-dialog-overlay-pane--fit-viewport {
  @include overlay-pane;
}

$spacing: 20px;
$fullscreen-width: 90vw;
$fullscreen-height: calc(100vh - (#{$spacing} * 2));

@include zoom-motion(aui-zoom, aui-zoom);
@include zoom-motion(aui-zoom-slow, aui-zoom, $animation-duration-slow);
@include fade-motion(aui-fade, aui-fade);
@include fade-motion(aui-fade-slow, aui-fade, $animation-duration-slow);

.aui-dialog {
  // FIXME: margin-bottom is not working
  margin: 18vh auto 20px;
  display: flex;
  flex-direction: column;
  background-color: use-rgb(n-10);
  border-radius: use-var(border-radius-l);
  overflow: hidden;
  @include modal-shadow;
  @include text-set(m, main);

  aui-dialog-content {
    height: 100%;
    overflow: auto;
    @include scroll-bar;

    &:first-child .aui-dialog__content {
      padding-top: $spacing;
    }

    &:last-child .aui-dialog__content {
      padding-bottom: $spacing;
    }
  }

  &__header {
    margin: 0 $spacing;
    padding: $spacing 0 16px;
    display: flex;
    justify-content: space-between;

    &.hasDivider {
      margin-bottom: 16px;
      border-bottom: 1px solid use-rgb(divider);
    }

    &-title {
      width: 100%;
      @include text-set(xl, main);

      font-weight: use-var(font-weight-bold);

      > aui-icon:first-child {
        font-size: use-var(icon-size-xl);
        margin-right: use-var(spacing-m);

        &[icon='info_circle_s'] {
          color: use-rgb(primary);
        }

        &[icon='check_circle_s'] {
          color: use-rgb(green);
        }

        &[icon='exclamation_circle_s'] {
          color: use-rgb(yellow);
        }

        &[icon='exclamation_triangle_s'] {
          color: use-rgb(red);
        }
      }
    }

    &-close {
      margin-left: use-var(spacing-xl);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      font-size: use-var(icon-size-l);
      color: use-text-color(secondary);
      border-radius: use-var(border-radius-m);
      cursor: pointer;

      &:hover {
        color: use-rgb(primary);
        background-color: use-rgb(p-6);
      }

      &:active {
        color: use-rgb(p-0);
        background-color: use-rgb(p-5);
      }
    }
  }

  &__content {
    padding: 0 $spacing;
    min-height: 80px;
  }

  &__footer {
    padding: $spacing;
    display: flex;
    justify-content: flex-end;
  }

  &--small {
    width: 400px;
  }

  &--medium {
    width: 600px;
  }

  &--big {
    width: 800px;
  }

  &--large {
    width: 960px;
  }

  &--fit-content {
    width: fit-content;
  }

  &--fullscreen {
    width: $fullscreen-width;
    height: $fullscreen-height;
    margin: 0;
  }

  &--fit-viewport {
    max-width: $fullscreen-width;
    max-height: $fullscreen-height;
    margin: 0;

    .aui-dialog {
      &__header {
        margin: 0;
        padding: $spacing $spacing 16px $spacing;
        border-bottom: 1px solid use-rgb(divider);
      }

      &__footer {
        padding-top: 16px;
        border-top: 1px solid use-rgb(divider);
      }
    }

    aui-dialog-content {
      &:not(:first-child) .aui-dialog__content {
        padding-top: 16px;
      }

      &:not(:last-child) .aui-dialog__content {
        padding-bottom: 16px;
      }
    }

    > ng-component {
      display: flex;
      flex-direction: column;
      overflow: auto;

      &:after {
        clear: both;
      }
    }
  }
}
