@import '../theme/var';
@import '../theme/mixin';

aui-nav-item-ul:not([hidden]) {
  display: block;
}

.aui-nav-menu {
  width: fit-content;
  width: -moz-fit-content;
  height: 100%;
  display: flex;
  position: relative;
  user-select: none;

  &__main-panel {
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 100%;
    background-color: get-color(n-9);

    &-content {
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      @include scroll-bar;
      > aui-nav-item-ul {
        > .aui-nav-item-ul {
          > aui-nav-item-li {
            + aui-nav-item-li {
              margin-top: 4px;
            }
          }
        }
      }
    }
  }
}
