<div
  class="aui-nav-menu"
  [class.isMainPanelCollapsed]="mainPanelCollapsed"
  [class.isSecondaryPanelCollapsed]="secondaryPanelCollapsed"
>
  <div class="aui-nav-menu__main-panel">
    <div class="aui-nav-menu__main-panel-content" cdkScrollable>
      <aui-nav-item-ul
        [items]="items$ | async"
        [groups]="groups$ | async"
        [mainPanelCollapsed]="mainPanelCollapsed"
        (focusedItemChanged)="handleFocusedItemChanged($event)"
      ></aui-nav-item-ul>
    </div>
    <div
      *ngIf="!hideMainPanelToggle"
      class="aui-nav-menu__main-panel-footer"
      (click)="handleMainPanelExpandButtonClicked()"
    >
      <aui-icon
        [icon]="
          !mainPanelCollapsed ? 'angle_double_left' : 'angle_double_right'
        "
      ></aui-icon>
    </div>
  </div>

  <div
    *ngIf="mainPanelCollapsed"
    class="aui-nav-menu__secondary-panel"
    (mouseleave)="handleSecondaryPanelHover(false)"
  >
    <div
      *ngIf="
        (!secondaryPanelCollapsed || (hasFocusedItem$ | async)) &&
        (stickedItem$ | async) &&
        (stickedItem$ | async).subItems.length
      "
      class="aui-nav-menu__secondary-panel-content"
      cdkScrollable
      (mouseenter)="handleSecondaryPanelHover(true)"
    >
      <div class="aui-nav-menu__secondary-panel-title">
        <div
          *ngIf="(stickedItem$ | async).group"
          class="aui-nav-item-group__title"
        >
          <ng-container
            [ngTemplateOutlet]="(stickedItem$ | async).group.title.template"
          ></ng-container>
        </div>
        <div class="aui-nav-item__content">
          <ng-container
            [ngTemplateOutlet]="(stickedItem$ | async).content.template"
          ></ng-container>
        </div>
      </div>
      <aui-nav-item-ul
        [items]="(stickedItem$ | async).subItems"
        [mainPanelCollapsed]="mainPanelCollapsed"
      ></aui-nav-item-ul>
    </div>
    <div
      *ngIf="!hideSecondaryPanelToggle"
      class="aui-nav-menu__secondary-panel-expand-button"
      (click)="handleSecondaryPanelExpandButtonClicked()"
    >
      <aui-icon
        [icon]="
          !secondaryPanelCollapsed ? 'navigation_collapse' : 'navigation_expand'
        "
      ></aui-icon>
    </div>
  </div>
</div>
