@import '../theme/var';
@import '../theme/mixin';

$footer-height: 20px;

.aui-nav-menu {
  width: fit-content;
  width: -moz-fit-content;
  height: 100%;
  display: flex;
  position: relative;
  color: $nav-menu-color;
  user-select: none;

  &__main-panel {
    display: flex;
    flex-direction: column;
    width: $nav-menu-main-panel-expanded-width;
    height: 100%;
    background-color: $nav-menu-bg-color-main;

    &-content {
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      @include scroll-bar(rgba(255, 255, 255, 0.3));
    }

    &-footer {
      flex-shrink: 0;
      height: $footer-height;
      padding: 0 $nav-item-padding-hoz;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: $nav-item-icon-size;
      cursor: pointer;

      &:hover {
        color: $nav-menu-color-hover;
        background-color: $nav-menu-bg-color-tertiary;
      }
    }
  }

  &.isMainPanelCollapsed &__main-panel {
    width: $nav-menu-main-panel-width;

    &-footer {
      justify-content: center;
    }
  }

  &.isSecondaryPanelCollapsed &__secondary-panel {
    position: absolute;
    top: 0;
    left: $nav-menu-main-panel-width;
  }

  &__secondary-panel {
    height: 100%;
    background-color: $nav-menu-bg-color-secondary;
    position: relative;

    .aui-nav-item__icon {
      display: none;
    }

    &-content {
      padding: $nav-item-selected-marker-width;
      width: $nav-menu-main-panel-expanded-width - $nav-menu-main-panel-width;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      @include scroll-bar(rgba(255, 255, 255, 0.3));
    }

    &-title {
      padding: $nav-item-padding-ver-large $nav-item-selected-marker-width;
      border-bottom: $nav-menu-bg-color-tertiary $border-width $border-style;
      color: $nav-menu-color-hover;

      .aui-nav-item__content {
        padding: 0 $nav-item-padding-hoz;
      }
    }

    &-expand-button {
      width: $nav-item-icon-size;
      height: $nav-item-icon-size;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      right: -$nav-item-icon-size;
      transform: translateY(-50%);
      font-size: $nav-item-icon-size;
      cursor: pointer;

      &:hover {
        color: $nav-item-selected-marker-color;
      }
    }
  }
}
