<aui-table [dataSource]="dataSource">
  <ng-container auiTableColumnDef="expand">
    <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
    <aui-table-cell
      *auiTableCellDef="let item"
      [expand]="rowExpanded.has(item.id)"
      (expandChange)="toggleRow(item.id)"
    >
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="id">
    <aui-table-header-cell *auiTableHeaderCellDef>No.</aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.id }}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="name">
    <aui-table-header-cell *auiTableHeaderCellDef>Name</aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.name }}
      ({{ item.displayName }})
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="value">
    <aui-table-header-cell *auiTableHeaderCellDef>
      Value
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.value }}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="detail">
    <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
    <aui-table-cell
      *auiTableCellDef="let item"
      [expand]="rowExpanded.has(item.id)"
      [template]="true"
    >
      <span>展开的内容</span>
    </aui-table-cell>
  </ng-container>

  <aui-table-header-row
    *auiTableHeaderRowDef="['expand', 'id', 'name', 'value', 'detail']"
  ></aui-table-header-row>
  <aui-table-row
    *auiTableRowDef="
      let row;
      columns: ['expand', 'id', 'name', 'value', 'detail']
    "
  ></aui-table-row>
</aui-table>
