@use 'sass:math';
@import '../theme/var';
@import '../theme/mixin';

@mixin colorful-tag($color) {
  color: use-rgb($color);
  background-color: use-rgb($color, 6);
  &.hasBorder {
    border-color: use-rgb($color, 2);
    &.allowClick {
      &:hover {
        border-color: use-rgb($color, 1);
      }
      &:active {
        border-color: use-rgb($color, 0);
      }
    }
  }
  &.allowClick {
    &:hover {
      background-color: use-rgb($color, 7);
      cursor: pointer;
    }

    &:active {
      color: use-rgb($color);
      background-color: use-rgb($color, 6);
    }
  }
}

.aui-tag {
  display: inline-flex;
  border-radius: $tag-border-radius;
  border: $tag-border-width $tag-border-style transparent;
  max-width: $tag-max-width;
  vertical-align: middle;
  @include transition(background-color);
  &__content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .aui-tag__close .aui-icon {
    margin-left: $tag-close-margin;
    border-radius: 50%;
    cursor: pointer;
    @include transition;
  }

  &--large {
    height: $tag-large-height;
    line-height: $tag-large-height - $tag-border-width * 2;
    font-size: $tag-large-font-size;
    padding: 0 $tag-large-padding;
    &.isRound {
      border-radius: math.div($tag-large-height, 2);
    }
  }

  &--medium {
    height: $tag-medium-height;
    line-height: $tag-medium-height - $tag-border-width * 2;
    font-size: use-var(font-size-m);
    padding: 0 $tag-medium-padding;
    &.isRound {
      border-radius: math.div($tag-medium-height, 2);
    }
  }

  &--small {
    height: $tag-small-height;
    line-height: $tag-small-height - $tag-border-width * 2;
    font-size: $tag-small-font-size;
    padding: 0 $tag-mini-padding;
    &.isRound {
      border-radius: math.div($tag-small-height, 2);
    }
  }

  &--mini {
    height: $tag-mini-height;
    line-height: $tag-mini-height - $tag-border-width * 2;
    font-size: $tag-mini-font-size;
    padding: 0 $tag-mini-padding;
    &.isRound {
      border-radius: math.div($tag-mini-height, 2);
    }
  }

  &--primary {
    @include colorful-tag(primary);
    .aui-tag__close .aui-icon:hover {
      color: $tag-primary-bg-color;
      background-color: $tag-primary-color;
    }
  }

  &--success {
    @include colorful-tag(green);
    .aui-tag__close .aui-icon:hover {
      color: $tag-success-bg-color;
      background-color: $tag-success-color;
    }
  }

  &--warning {
    @include colorful-tag(yellow);
    .aui-tag__close .aui-icon:hover {
      color: $tag-warning-bg-color;
      background-color: $tag-warning-color;
    }
  }

  &--error {
    @include colorful-tag(red);
    .aui-tag__close .aui-icon:hover {
      color: $tag-error-bg-color;
      background-color: $tag-error-color;
    }
  }

  &--info {
    color: use-rgb(n-2);
    background-color: use-rgb(n-8);
    &.hasBorder {
      border-color: use-rgb(n-7);
      background-color: use-rgb(button-bg);
    }
    .aui-tag__close .aui-icon:hover {
      color: $tag-info-bg-color;
      background-color: use-rgb(n-4);
    }
  }

  &.isInvalid {
    text-decoration: line-through;
  }

  &.isSolid {
    color: $color-white;
    .aui-tag__close .aui-icon:hover {
      color: $color-white;
    }
  }

  &.isSolid#{&} {
    &--primary {
      background-color: use-rgb(primary);
    }

    &--success {
      background-color: use-rgb(green);
    }

    &--warning {
      background-color: use-rgb(yellow);
    }

    &--error {
      background-color: use-rgb(red);
    }

    &--info {
      background-color: use-rgb(n);
    }
  }

  &.allowClick {
    a {
      color: inherit;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

aui-tag + aui-tag {
  .aui-tag--large,
  .aui-tag--medium,
  .aui-tag--small {
    margin-left: $tag-margin;
  }

  .aui-tag--mini {
    margin-left: $tag-mini-margin;
  }
}
