.demo-container {
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  .links {
    width: 200px;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li > a {
        display: block;
        padding: 20px;
        color: gray;
        &.isActive {
          color: deepskyblue;
        }
      }
    }
  }

  /* last content active issue strategies */
  .contents {
    display: block;
    flex-grow: 1;
    overflow: auto;
    padding: 20px;
    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 400px;
      margin-bottom: 18px;
      background-color: gray;
      color: white;
      // stylelint-disable-next-line plugin/no-low-performance-animation-properties
      transition: background-color ease-in 0.3s;
      &:last-of-type {
        min-height: 100%;
      }
      &.isActive {
        background-color: deepskyblue;
      }
    }
  }
}
