@import '../../theme/var';
@import '../../theme/mixin';

$block: aui-date-picker-trigger;

$height-mapper: (
  'medium': $height-medium,
  'large': $height-large,
  'small': $height-small,
  'mini': $height-mini,
);

aui-range-picker,
aui-date-picker {
  &.ng-invalid {
    &.ng-submitted,
    &.ng-dirty {
      .#{$block}__container {
        border-color: $color-error !important;
      }
    }
  }
}

:host {
  display: inline-block;
  width: 100%;
}

.#{$block} {
  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    border: $input-border-width $input-border-style $input-border-color;
    position: relative;
    cursor: pointer;
    input[readonly] {
      cursor: pointer;
      border: none;
      @include view-readonly;
    }
    // trigger有自己的border，隐藏了input的border，修正input由于border-box设定引起的高度差异
    @each $name, $height in $height-mapper {
      .aui-input--#{$name} {
        height: $height - 2px;
      }
    }

    &.is-focus,
    &:hover {
      border-color: $color-primary;
    }
    &.is-disabled {
      input[readonly] {
        background: transparent;
        cursor: not-allowed;
      }

      background: $color-disabled-bg;
      border: $input-border-width $input-border-style $input-border-color !important;
      &:hover {
        cursor: not-allowed;
      }
    }
  }

  &__content {
    flex: 1;
    display: flex;
    align-items: center;
    .placeholder {
      color: $color-text-placeholder;
    }
  }

  &__addon {
    color: $color-text-help;
    margin-right: 8px;
    font-size: $date-picker-icon-size;
    width: $date-picker-icon-size;
    height: $date-picker-icon-size;
    line-height: 1em;
    .clear {
      @include clear-button;
    }
  }
}
