<div
  [class]="bem.element('container')"
  [ngClass]="{
    isFocused: isFocus,
    isRange: isRange,
    disabled: disabled,
  }"
  (mouseenter)="hovered = true"
  (mouseleave)="hovered = false"
  >
  <span [class]="bem.element('content')">
    @if (isRange) {
      <input
        style="flex: 1"
        aui-input
        #focusRef
        [value]="$any($formatValue() || [])[0]"
        [readonly]="true"
        [size]="size"
        (focus)="leftFocus = true"
        (blur)="leftFocus = false; blur.next()"
        [placeholder]="startPlaceholder || ('start_date' | auiI18n)"
        />
      <span
        class="placeholder"
        (click)="focusInput()"
        >{{ 'to' | auiI18n }}</span
        >
        <input
          style="flex: 1"
          aui-input
          [value]="$any($formatValue() || [])[1]"
          [readonly]="true"
          [size]="size"
          (focus)="rightFocus = true"
          (blur)="rightFocus = false; blur.next()"
          [placeholder]="endPlaceholder || ('end_date' | auiI18n)"
          />
      }
      @if (!isRange) {
        <input
          aui-input
          auiTooltipType="plain"
          [value]="$any($formatValue())"
          [readonly]="true"
          #focusRef
          [size]="size"
          auiTooltipType="info"
          (focus)="centerFocus = true"
          (blur)="centerFocus = false; blur.next()"
          [placeholder]="placeholder || ('select_date' | auiI18n)"
          />
      }
    </span>
    <span
      [class]="bem.element('addon')"
      (click)="focusInput()"
      >
      @if (showClear) {
        <aui-icon
          class="clear"
          size="16px"
          icon="xmark_small"
          (click)="$event.stopImmediatePropagation(); this.clear.next()"
        ></aui-icon>
      } @else {
        <aui-icon icon="calendar"></aui-icon>
      }
    </span>
  </div>
