<div
  [class]="bem.element('container')"
  [ngClass]="{
    isFocused: isFocus,
    isRange: isRange,
    disabled: disabled
  }"
  (mouseenter)="hovered = true"
  (mouseleave)="hovered = false"
>
  <span [class]="bem.element('content')">
    <ng-container *ngIf="isRange">
      <input
        style="flex: 1"
        aui-input
        #focusRef
        [value]="$any(value || [])[0]?.format(format)"
        [readonly]="true"
        [size]="size"
        (focus)="leftFocus = true"
        (blur)="leftFocus = false; blur.next()"
        [placeholder]="startPlaceholder || ('start_date' | auiI18n)"
      />
      <span class="placeholder" (click)="focusInput()">{{
        'to' | auiI18n
      }}</span>
      <input
        style="flex: 1"
        aui-input
        [value]="$any(value || [])[1]?.format(format)"
        [readonly]="true"
        [size]="size"
        (focus)="rightFocus = true"
        (blur)="rightFocus = false; blur.next()"
        [placeholder]="endPlaceholder || ('end_date' | auiI18n)"
      />
    </ng-container>
    <ng-container *ngIf="!isRange">
      <input
        aui-input
        auiTooltipType="plain"
        [value]="$any(value)?.format(format)"
        [readonly]="true"
        #focusRef
        [size]="size"
        auiTooltipType="info"
        (focus)="centerFocus = true"
        (blur)="centerFocus = false; blur.next()"
        [placeholder]="placeholder || ('select_date' | auiI18n)"
      />
    </ng-container>
  </span>
  <span [class]="bem.element('addon')" (click)="focusInput()">
    <aui-icon
      *ngIf="showClear; else calendar"
      class="clear"
      size="16px"
      icon="close_small"
      (click)="$event.stopImmediatePropagation(); this.clear.next()"
    ></aui-icon>
    <ng-template #calendar>
      <aui-icon icon="calendar"></aui-icon>
    </ng-template>
  </span>
</div>
