@import '../../theme/var';
@import '../../theme/mixin';

$block: aui-date-picker-trigger;

$height-mapper: (
  'medium': $height-medium,
  'large': $height-large,
  'small': $height-small,
  'mini': $height-mini,
);

aui-range-picker,
aui-date-picker {
  &.ng-invalid {
    &.ng-submitted,
    &.ng-dirty {
      .#{$block}__container {
        @include input-error;
      }
    }
  }
}

:host {
  display: block;
}

.#{$block} {
  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    border: $input-border-width $input-border-style $input-border-color;
    position: relative;
    width: 100%;
    background-color: get-color(n-9);
    border-radius: get-size(border-radius-m);
    &:hover:not(.disabled) {
      border-color: get-color(primary);
      cursor: pointer;
    }
    // trigger有自己的border，隐藏了input的border，修正input由于border-box设定引起的高度差异
    @each $name, $height in $height-mapper {
      .aui-input--#{$name} {
        height: $height - 2px;
      }
    }
    &.isFocused:not(.disabled) {
      border-color: get-color(primary);
      @include outline-shadow(primary);
    }
    .aui-input {
      border: none;
      background-color: transparent !important;
      &:hover {
        cursor: pointer;
      }
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    &.disabled {
      .aui-input {
        background: transparent;
        cursor: not-allowed;
        color: get-color(n-7);
      }

      background: $color-disabled-bg;
      border: $input-border-width $input-border-style $input-border-color !important;
      &:hover {
        cursor: not-allowed;
      }
    }
  }

  &__content {
    flex: 1;
    display: flex;
    align-items: center;
    .placeholder {
      color: get-color(n-6);
    }
  }

  &__addon {
    color: $color-text-help;
    margin-right: 8px;
    font-size: $date-picker-icon-size;
    width: $date-picker-icon-size;
    height: $date-picker-icon-size;
    line-height: $date-picker-icon-size;
    .clear {
      display: inline-flex;
      @include clear-button;
    }
  }
}
