@import '../theme/var';
@import '../theme/mixin';
@import '~@angular/cdk/overlay-prebuilt';

$block: 'aui-tooltip';

.#{$block} {
  position: relative;
  padding: use-var(spacing-xl);
  border-radius: use-var(border-radius-l);
  @include popper-shadow;
  @include text-set(s);

  max-width: 400px;
  word-wrap: break-word; // do NOT add 'word-break: break-all;', design requirement

  &--default {
    padding: use-var(spacing-m) use-var(spacing-xl);
    @include theme-light {
      color: use-rgb(n-10);
      background-color: use-rgb(n-1);
    }
    @include theme-dark {
      color: use-rgb(n-1);
      background-color: use-rgb(popper-bg);
    }
  }

  &--primary {
    color: use-rgb(primary);
    background-color: use-rgb(popper-bg);
  }

  &--success {
    color: use-rgb(green);
    background-color: use-rgb(popper-bg);
  }

  &--warning {
    color: use-rgb(yellow);
    background-color: use-rgb(popper-bg);
  }

  &--error {
    color: use-rgb(red);
    background-color: use-rgb(popper-bg);
  }

  &--info {
    color: use-rgb(n-1);
    background-color: use-rgb(popper-bg);
  }

  &--top,
  &--bottom {
    margin: use-var(spacing-s) 0;
  }

  &--start,
  &--end {
    margin: 0 use-var(spacing-s);
  }
}
