@if (inputContent$ | async) {
  <div
    [class]="class$ | async"
    (mouseenter)="hover$.next(true)"
    (mouseleave)="hover$.next(false)"
    [@.disabled]="animationType === 'none'"
    [@showHide]="showHide"
    (@showHide.start)="onAnimation($event)"
    (@showHide.done)="onAnimation($event)"
    >
    {{ text$ | async }}
    @if (template$ | async) {
      <ng-container
        [ngTemplateOutlet]="template$ | async"
        [ngTemplateOutletContext]="context$ | async"
      ></ng-container>
    }
  </div>
}
