@import '../../theme/var';
@import '../../theme/mixin';

.aui-tree-node {
  &__content {
    display: flex;
    height: get-size(inline-height-m);
    line-height: get-size(inline-height-m);
    font-size: get-size(font-size-m);
    color: get-text-color(main);
    background-color: get-color(n-10);
    cursor: pointer;
  }

  &__title {
    display: inline-block;
    margin-left: 4px;
    padding: 0 4px;
    width: 100%;
    height: 100%;
    @include text-overflow;

    &:hover {
      background-color: get-color(p-6);
    }

    &.unselectable {
      color: get-color(n-6);
    }

    &.isSelected {
      color: get-color(primary);
      background-color: get-color(p-6);
    }

    &.isDisabled {
      color: get-color(n-6);
      background-color: get-color(n-10);
      cursor: not-allowed;
    }
  }

  &__indicator {
    margin-left: 4px;
    &:hover {
      color: get-color(primary);
    }
  }

  &__children {
    margin-left: calc(#{get-size(font-size-m)} + 4px);
  }
}
