@import '../theme/mixin';
@import '../theme/var';

.aui-tab-header {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
  background-color: use-rgb(n-10);

  // Size modifiers:
  &--large {
    .aui-tab-label {
      padding: $tab-label-padding-large;
      font-weight: use-var(font-weight-bolder);
      @include text-set(xl);
    }
  }

  &--medium {
    .aui-tab-label {
      padding: $tab-label-padding-medium;
      font-weight: use-var(font-weight-bolder);
      @include text-set(l);
    }
  }

  &--small {
    .aui-tab-label {
      padding: $tab-label-padding-small;
      @include text-set(m);
    }
  }

  &__header-wrapper {
    display: flex;
    flex-shrink: 0;
    position: relative;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    color: use-rgb(n-1);
    font-size: $tab-header-title-font-size;
    margin-inline: $tab-header-title-spacing;
    padding: $tab-header-title-padding;
    font-weight: use-var(font-weight-bolder);
    border-bottom: 1px use-rgb(n-8) solid;
    line-height: 32px;
  }

  &--card {
    background-color: use-rgb(button-bg);
  }

  &--line {
    border-radius: use-var(border-radius-l);
    overflow: hidden;
    box-shadow: 0 0 4px 0 rgb(50 52 55 / 10%);
    background-color: use-rgb(n-10);
  }

  &__pagination-wrapper {
    display: flex;
    overflow: hidden;
    flex-grow: 1;
    align-items: center;
    position: relative;
  }

  &__pagination-button {
    width: 32px;
    align-self: stretch;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    cursor: pointer;
    z-index: $tab-pagination-button-z-index; // higher than labels
    box-shadow: 0 0 4px #ccc;
    opacity: 0.6;
    // stylelint-disable-next-line plugin/no-low-performance-animation-properties
    transition: box-shadow 0.3s, opacity 0.3s, color 0.3s;

    &:hover {
      opacity: 1;
      color: use-rgb(primary);
    }

    &:first-of-type {
      margin-right: 1px;
    }

    &:last-of-type {
      margin-left: 1px;
    }

    &[disabled] {
      cursor: default;
      box-shadow: none;
      opacity: 0.1;
    }
  }

  &__tab-list-container {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }

  &__tab-list {
    flex-grow: 1;
    position: relative;
    transition: $tab-scroll-transition;
  }

  &__labels {
    display: flex;

    &:focus {
      outline: none;
    }
  }

  &__addon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
  }

  &__spacer {
    flex: 1 1 0;
  }
}

.aui-tab-label {
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  color: use-rgb(n-2);
  font-weight: use-var(font-weight-bold);
  z-index: $tab-label-z-index;
  transition: opacity 0.3s;

  &:focus,
  &.isActive {
    outline: none;
  }

  &:not(.aui-tab-label--disabled) {
    &.isActive,
    &:hover {
      color: use-rgb(primary);
    }
  }

  &.aui-tab-label--disabled {
    cursor: not-allowed;
    opacity: 0.2;
  }

  &__content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__close {
    margin-left: 8px;
    font-size: $tab-header-close-icon-size;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: use-rgb(n-4);
    @include transition;

    &:hover {
      color: use-rgb(n-9);
      background-color: use-rgb(n-4);
    }
  }

  &.cdk-focused:not(.cdk-mouse-focused) {
    box-shadow: $tab-label-focus-box-shadow;
  }
}

aui-tab-header-active-indicator {
  display: flex;
  height: 100%;
  position: absolute;
  top: 0;
  pointer-events: none;
  transition: $tab-scroll-transition;
}

.aui-tab-header-active-indicator {
  position: relative;
  flex: 1;
  height: 100%;
  z-index: $tab-active-indicator-z-index;

  &:after {
    content: '';
    position: absolute;
    display: block;
    background: use-rgb(primary);
    height: 2px;
  }

  &--line {
    &:after {
      width: 100%;
      left: 0;
      bottom: 0;
    }
  }

  &--card {
    background-color: use-rgb(n-10);

    &:after {
      width: calc(100% + 2px);
      top: 0;
      left: -1px;
    }
  }
}
