@use '../theme/mixin' as mixin;
@use '../theme/var' as var;

.aui-tab-header {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
  background-color: var.use-rgb(n-10);
  border-radius: var.use-var(border-radius-l);
  overflow: hidden;

  // Size modifiers:
  &--large {
    .aui-tab-label {
      padding: var.$tab-label-padding-large;
      @include mixin.text-set($size: xl, $weight: bolder);
    }
  }

  &--medium {
    .aui-tab-label {
      padding: var.$tab-label-padding-medium;
      @include mixin.text-set($size: l, $weight: bolder);
    }
  }

  &--small {
    .aui-tab-label {
      padding: var.$tab-label-padding-small;
      @include mixin.text-set(m);
    }
  }

  &__header-wrapper {
    display: flex;
    flex-shrink: 0;
    position: relative;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    color: var.use-rgb(n-1);
    font-size: var.$tab-header-title-font-size;
    margin-inline: var.$tab-header-title-spacing;
    padding: var.$tab-header-title-padding;
    font-weight: var.use-var(font-weight-bolder);
    border-bottom: 1px var.use-rgb(n-8) solid;
    line-height: 32px;
  }

  &--card {
    background-color: var.use-rgb(button-bg);
  }

  &--line {
    box-shadow: 0 0 4px 0 rgb(50 52 55 / 10%);
    background-color: var.use-rgb(n-10);
  }

  &__pagination-wrapper {
    display: flex;
    overflow: hidden;
    flex-grow: 1;
    align-items: center;
    position: relative;
  }

  &__pagination-button {
    width: 32px;
    align-self: stretch;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    cursor: pointer;
    z-index: var.$tab-pagination-button-z-index; // higher than labels
    box-shadow: 0 0 4px #ccc;
    opacity: 0.6;
    // prettier-ignore
    transition: box-shadow 0.3s, opacity 0.3s, color 0.3s; // stylelint-disable-line plugin/no-low-performance-animation-properties

    &:hover {
      opacity: 1;
      color: var.use-rgb(primary);
    }

    &:first-of-type {
      margin-right: 1px;
    }

    &:last-of-type {
      margin-left: 1px;
    }

    &[disabled] {
      cursor: default;
      box-shadow: none;
      opacity: 0.1;
    }
  }

  &__tab-list-container {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }

  &__tab-list {
    flex-grow: 1;
    position: relative;
    transition: var.$tab-scroll-transition;
  }

  &__labels {
    display: flex;

    &:focus {
      outline: none;
    }
  }

  &__addon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
  }

  &__spacer {
    flex: 1 1 0;
  }
}

.aui-tab-label {
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  color: var.use-rgb(n-2);
  font-weight: var.use-var(font-weight-bold);
  z-index: var.$tab-label-z-index;
  transition: opacity 0.3s;

  &:focus,
  &.isActive {
    outline: none;
  }

  &:not(.aui-tab-label--disabled) {
    &.isActive,
    &:hover {
      color: var.use-rgb(primary);
    }
  }

  &.aui-tab-label--disabled {
    cursor: not-allowed;
    opacity: 0.2;
  }

  &__content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__close {
    margin-left: 8px;
    font-size: var.$tab-header-close-icon-size;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var.use-rgb(n-4);
    @include mixin.transition;

    &:hover {
      color: var.use-rgb(n-9);
      background-color: var.use-rgb(n-4);
    }
  }

  &.cdk-focused:not(.cdk-mouse-focused) {
    box-shadow: var.$tab-label-focus-box-shadow;
  }
}

aui-tab-header-active-indicator {
  display: flex;
  height: 100%;
  position: absolute;
  top: 0;
  pointer-events: none;
  transition: var.$tab-scroll-transition;
}

.aui-tab-header-active-indicator {
  position: relative;
  flex: 1;
  height: 100%;
  z-index: var.$tab-active-indicator-z-index;

  &:after {
    content: '';
    position: absolute;
    display: block;
    background: var.use-rgb(primary);
    height: 2px;
  }

  &--line {
    &:after {
      width: 100%;
      left: 0;
      bottom: 0;
    }
  }

  &--card {
    background-color: var.use-rgb(n-10);

    &:after {
      width: 100%;
      top: 0;
      left: 0;
    }
  }
}
