@import '../../theme/var';
@import '../../theme/mixin';
@import '../../checkbox/mixin';

@mixin option($block) {
  .#{$block} {
    padding: 0 use-var(inline-padding-xs);
    color: use-text-color(main);
    background-color: use-rgb(n-10);
    @include text-overflow;

    cursor: pointer;

    &--large {
      padding: calc(
        (#{use-var(inline-height-l)} - #{use-var(line-height-l)}) / 2
      );
      line-height: use-var(line-height-l);
      font-size: use-var(font-size-l);
    }

    &--medium {
      padding: calc(
        (#{use-var(inline-height-m)} - #{use-var(line-height-m)}) / 2
      );
      line-height: use-var(line-height-m);
      font-size: use-var(font-size-m);
    }

    &--small {
      padding: calc(
        (#{use-var(inline-height-s)} - #{use-var(line-height-m)}) / 2
      );
      line-height: use-var(line-height-m);
      font-size: use-var(font-size-m);
    }

    &--mini {
      padding: calc(
        (#{use-var(inline-height-xs)} - #{use-var(line-height-s)}) / 2
      );
      line-height: use-var(line-height-s);
      font-size: use-var(font-size-s);
    }

    &:not(.isMulti).isSelected {
      color: use-rgb(primary);
      background-color: use-rgb(p-6);
    }

    &:hover,
    &.isFocused {
      background-color: use-rgb(p-6);
    }

    &.isDisabled {
      color: use-rgb(n-6);
      background-color: use-rgb(n-10);
      cursor: not-allowed;
    }

    @include pointer('isSelected');

    &:not(.isDisabled):hover &__pointer,
    &:not(.isDisabled).isFocused &__pointer {
      border-color: use-rgb(primary);
    }
  }
}
