@import '../../theme/var';
@import '../../theme/mixin';
@import '../../checkbox/mixin';

@mixin option($block) {
  .#{$block} {
    padding: 0 get-size(inline-padding-xs);
    color: get-text-color(main);
    background-color: get-color(n-10);
    @include text-overflow;

    cursor: pointer;

    &--large {
      height: get-size(inline-height-l);
      line-height: get-size(inline-height-l);
      font-size: get-size(font-size-l);
    }

    &--medium {
      height: get-size(inline-height-m);
      line-height: get-size(inline-height-m);
      font-size: get-size(font-size-m);
    }

    &--small {
      height: get-size(inline-height-s);
      line-height: get-size(inline-height-s);
      font-size: get-size(font-size-m);
    }

    &--mini {
      height: get-size(inline-height-xs);
      line-height: get-size(inline-height-xs);
      font-size: get-size(font-size-s);
    }

    &:not(.isMulti).isSelected {
      color: get-color(primary);
      background-color: get-color(p-6);
    }

    &:hover,
    &.isFocused {
      background-color: get-color(p-6);
    }

    &.isDisabled {
      color: get-color(n-6);
      background-color: get-color(n-10);
      cursor: not-allowed;
    }

    @include pointer('isSelected');

    &:not(.isDisabled):hover &__pointer,
    &:not(.isDisabled).isFocused &__pointer {
      border-color: get-color(primary);
    }
  }
}
