@import '../theme/var';
@import '../theme/mixin';

.aui-breadcrumb {
  display: flex;
  align-content: center;
  font-size: use-var(font-size-m);
  color: use-rgb(n-2);

  &__separator {
    margin: 0 use-var(spacing-s);
  }

  aui-breadcrumb-item:last-child #{&}__separator {
    display: none;
  }
}
