@import '../theme/var';
@import '../theme/mixin';

.aui-breadcrumb {
  display: flex;
  align-content: center;
  font-size: get-size(font-size-m);
  color: get-color(n-2);

  &__separator {
    margin: 0 get-size(spacing-s);
  }

  aui-breadcrumb-item:last-child #{&}__separator {
    display: none;
  }
}
