@import '../theme/var';
@import '../theme/mixin';

$default-border: 1px solid use-rgb(n-8);

$b: aui-card;

.#{$b} {
  padding: 20px;
  border-radius: use-var(border-radius-l);
  background-color: use-rgb(n-10);
  @include text-set(m, main);
  @include card-shadow;

  &__header {
    display: flex;
    align-items: center;
    padding: 0;
    @include text-set(xl, main, bolder);

    &--secondary {
      @include text-set($size: xl, $weight: bolder);
    }

    + .#{$b}__content {
      margin-top: use-var(spacing-xl);
    }
  }

  &__content {
    padding: 0;

    + .#{$b}__footer {
      margin-top: use-var(spacing-xl);
    }
  }

  &__footer {
    padding: 0;
  }

  &.hasDivider {
    > .#{$b} {
      &__header {
        padding-bottom: use-var(spacing-xl);
        border-bottom: $default-border;

        + .#{$b}__content {
          margin-top: use-var(spacing-xl);
        }
      }

      &__content {
        + .#{$b}__footer {
          margin-top: use-var(spacing-xl);
        }
      }

      &__footer {
        padding-top: use-var(spacing-xl);
        border-top: $default-border;
      }
    }
  }
}

#{$b} + #{$b} > .#{$b} {
  margin-top: use-var(spacing-xl);
}
