@import '../theme/var';
@import '../theme/mixin';

$b: aui-section;

.#{$b} {
  padding: use-var(spacing-xl) 0;
  @include text-set(m, main);

  &__title {
    margin-bottom: use-var(spacing-l);
    @include text-set(l, main, bolder);
  }
}

#{$b}:first-child > .#{$b} {
  padding-top: 0;
}

#{$b}:last-child > .#{$b} {
  padding-bottom: 0;
}
