@import '../theme/var';
@import '../theme/mixin';

$b: aui-section;

.#{$b} {
  padding: get-size(spacing-xl) 0;
  font-size: get-size(font-size-m);

  &__title {
    margin-bottom: get-size(spacing-xl);
    font-size: get-size(font-size-l);
    font-weight: get-size(font-weight-bold);
  }
}

#{$b}:first-child > .#{$b} {
  padding-top: 0;
}

#{$b}:last-child > .#{$b} {
  padding-bottom: 0;
}

#{$b} + #{$b} > .#{$b} {
  border-top: 1px dashed get-color(n-8);
}
