@use '../../../theme/var' as var;
@use '../../../theme/mixin' as mixin;

$block: aui-date-range-picker-panel;

.#{$block} {
  &__container {
    display: flex;
    flex-direction: column;
    width: var.$range-picker-body-width;
    @include mixin.text-set(m);

    .placeholder {
      color: var.use-text-color(placeholder);

      &.separator {
        margin-inline: 12px;
      }
    }

    .date-value {
      color: var.use-text-color(main);
    }

    .date-holder {
      display: inline-block;
      margin-right: 8px;
      width: 82px;
    }

    .panel__wrapper {
      width: var.$range-picker-header-width;
      display: flex;
      justify-content: center;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;

    aui-calendar-header {
      flex: 0 0 var.$range-picker-header-width;
      max-width: 50%;
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
  }

  &__footer {
    .aui-time-picker {
      width: 88px;
    }
  }

  &__footer-content {
    display: flex;
    align-items: center;
    height: 100%;
  }
}
