@import '../../theme/var';
@import '../../theme/pattern';

$block: aui-time-picker-panel;
$cell_height: 28px;
$total_height: $cell_height * 9;

.#{$block} {
  &__wrapper {
    @include popper-shadow;

    display: flex;
    flex-direction: column;
    font-size: $font-size-regular;
    font-weight: $font-weight-normal;
    ul,
    li {
      border: none;
    }
  }
  &__content {
    display: flex;
    flex-direction: row;
    height: $total_height;
    border-bottom: $border-width $border-style $default-border-color;
  }
  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 9px;
  }
  &__column {
    overflow: hidden;
    flex: 1;
    text-align: center;
    &:hover {
      overflow-y: auto;
    }

    align-self: stretch;
    ul {
      min-height: $total_height;
      list-style: none;
      padding: 0;
      margin: 0;
    }
    &-strut {
      height: $total_height;
      width: 1px;
      visibility: hidden;
    }
  }
  &__column + .#{$block}__column {
    border-left: 1px solid #e8e8e8;
  }
  &__cell {
    flex: none;
    height: $cell_height;
    line-height: $cell_height;
    width: 100%;

    &.selected {
      background-color: #e6f1ff;
      color: $color-primary;
      font-weight: $font-weight-bold;
    }

    &.disabled {
      cursor: not-allowed !important;
      background-color: $color-disabled-bg;
      color: $color-info;
    }

    &:not(.disabled):not(.selected):hover {
      background-color: $color-primary-ultra-light;
      color: $color-primary;
      cursor: pointer;
    }
  }
}
