@if (enabledColumns) {
  <div
    [class]="bem.block()"
    [style.width.px]="totalWidth"
    >
    <div [class]="bem.element('content')">
      @if (hourEnabled) {
        <div
          [class]="bem.element('column')"
          #hourRef
          >
          <ul>
            @for (item of getControlTypeConfig(TimePickerControlType.Hour); track item) {
              <li
                [class]="bem.element('cell')"
                [style.height.px]="CONTROL_ITEM_HEIGHT"
          [ngClass]="{
            disabled: isDisabled(item, TimePickerControlType.Hour),
            selected: matchValue(item, TimePickerControlType.Hour, model),
          }"
                (click)="selectValue(item, TimePickerControlType.Hour)"
                >
                {{ item | number: '2.0-0' }}
              </li>
            }
          </ul>
          <div [class]="bem.element('column-strut')"></div>
        </div>
      }
      @if (minuteEnabled) {
        <div
          [class]="bem.element('column')"
          #minuteRef
          >
          <ul>
            @for (
              item of getControlTypeConfig(TimePickerControlType.Minute); track trackBy($index,
              item)) {
              <li
                [class]="bem.element('cell')"
                [style.height.px]="CONTROL_ITEM_HEIGHT"
          [ngClass]="{
            disabled: isDisabled(item, TimePickerControlType.Minute),
            selected: matchValue(item, TimePickerControlType.Minute, model),
          }"
                (click)="selectValue(item, TimePickerControlType.Minute)"
                >
                {{ item | number: '2.0-0' }}
              </li>
            }
          </ul>
          <div [class]="bem.element('column-strut')"></div>
        </div>
      }
      @if (secondEnabled) {
        <div
          [class]="bem.element('column')"
          #secondRef
          >
          <ul>
            @for (
              item of getControlTypeConfig(TimePickerControlType.Second)
              ; track
              item) {
              <li
                [class]="bem.element('cell')"
                [style.height.px]="CONTROL_ITEM_HEIGHT"
          [ngClass]="{
            disabled: isDisabled(item, TimePickerControlType.Second),
            selected: matchValue(item, TimePickerControlType.Second, model),
          }"
                (click)="selectValue(item, TimePickerControlType.Second)"
                >
                {{ item | number: '2.0-0' }}
              </li>
            }
          </ul>
          <div [class]="bem.element('column-strut')"></div>
        </div>
      }
    </div>
    @if (!footerTemplate) {
      <div [class]="bem.element('footer')">
        <button
          aui-button="inline"
          (click)="selectNow()"
          [size]="ComponentSize.Small"
          >
          {{ 'now' | auiI18n }}
        </button>
        <button
          aui-button="primary"
          [size]="ComponentSize.Small"
          (click)="$event.stopImmediatePropagation(); confirm.next()"
          >
          {{ 'confirm' | auiI18n }}
        </button>
      </div>
    } @else {
      <ng-container [ngTemplateOutlet]="footerTemplate"></ng-container>
    }
  </div>
}
