@use '../../theme/var' as var;
@use '../../theme/pattern' as pattern;
@use '../../theme/mixin' as mixin;

$block: aui-time-picker-panel;
$cell_height: 28px;
$col_reveal_items: 9;
$total_height: $cell_height * $col_reveal_items;
$strut_height: $cell_height * ($col_reveal_items - 1);

.#{$block} {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @include mixin.text-set(m);

  ul,
  li {
    border: none;
  }

  &__content {
    display: flex;
    flex-direction: row;
    height: $total_height;
    border-bottom: 1px solid var.use-rgb(n-8);
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 9px;
  }

  &__column {
    flex: 1;
    align-self: stretch;
    text-align: center;
    overflow: auto;
    @include mixin.scroll-bar;

    ul {
      min-height: $total_height;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &-strut {
      height: $strut_height;
      width: 1px;
      visibility: hidden;
    }
  }

  &__column + .#{$block}__column {
    border-left: 1px solid var.use-rgb(n-8);
  }

  &__cell {
    flex: none;
    width: 100%;
    height: $cell_height;
    color: var.use-text-color(main);
    line-height: $cell_height;
    cursor: pointer;

    &:hover {
      background-color: var.use-rgb(p-6);
      color: var.use-rgb(primary);
    }

    &.selected {
      background-color: var.use-rgb(p-7);
      color: var.use-rgb(primary);
      font-weight: var.use-var(font-weight-bold);
    }

    &.disabled {
      background-color: var.use-rgb(n-8);
      color: var.use-text-color(disabled);
      cursor: not-allowed;
    }
  }
}
