@import '../../theme/var';
@import '../../theme/pattern';

$block: aui-time-picker-panel;
$cell_height: 28px;
$col_reveal_items: 9;
$total_height: $cell_height * $col_reveal_items;
$strut_height: $cell_height * ($col_reveal_items - 1);

.#{$block} {
  &__wrapper {
    display: flex;
    flex-direction: column;
    background-color: get-color(n-10);
    @include text-set(m);
    @include popper-shadow;

    ul,
    li {
      border: none;
    }
  }
  &__content {
    display: flex;
    flex-direction: row;
    height: $total_height;
    border-bottom: 1px solid get-color(n-8);
  }
  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 9px;
  }
  &__column {
    overflow: hidden;
    flex: 1;
    text-align: center;
    &:hover {
      overflow-y: auto;
    }

    align-self: stretch;
    ul {
      min-height: $total_height;
      list-style: none;
      padding: 0;
      margin: 0;
    }
    &-strut {
      height: $strut_height;
      width: 1px;
      visibility: hidden;
    }
  }
  &__column + .#{$block}__column {
    border-left: 1px solid get-color(n-8);
  }
  &__cell {
    flex: none;
    height: $cell_height;
    line-height: $cell_height;
    width: 100%;
    cursor: pointer;

    &:hover {
      background-color: get-color(p-6);
      color: get-color(primary);
    }

    &.selected {
      background-color: get-color(p-7);
      color: get-color(primary);
      font-weight: get-size(font-weight-bold);
    }

    &.disabled {
      background-color: $color-disabled-bg;
      color: $color-info;
      cursor: not-allowed;
    }
  }
}
