<div class="aui-date-picker-panel__wrapper">
  <aui-calendar-header
    [dateNavRange]="navRange"
    [anchor]="anchor"
    [minAvail]="minDate"
    [maxAvail]="maxDate"
    [style.margin-inline.px]="4"
    (navRangeChange)="navRange = $event"
    (anchorChange)="anchor = $event"
  ></aui-calendar-header>

  <aui-picker-panel
    [style.margin]="'16px 0'"
    [anchor]="anchor"
    [navRange]="navRange"
    [disabledDate]="disabledDate"
    [weekStartDay]="weekStartDay"
    [minDate]="minDate"
    [maxDate]="maxDate"
    [type]="type"
    [matchDates]="[selectedDate]"
    (select)="panelValueChange($event)"
  ></aui-picker-panel>

  @if (extraFooter) {
    <ng-container
      [ngTemplateOutlet]="extraFooter"
      [ngTemplateOutletContext]="{ context: this }"
    ></ng-container>
  }

  @if (showFooter) {
    @if (showTime) {
      <aui-calendar-footer
        (clear)="clear.next()"
        (confirm)="confirmValue()"
        [clearable]="clearable"
        [clearText]="clearText"
        >
        @if (footerTemplate) {
          <ng-container
            [ngTemplateOutlet]="footerTemplate"
            [ngTemplateOutletContext]="{ context: this }"
          ></ng-container>
        } @else {
          @if (currentNavType === DatePickerType.Day && showTime) {
            <aui-time-picker
              [showIcon]="false"
              size="small"
              [(ngModel)]="selectedTime"
              [disableHours]="getDisabledTimeFn(selectedDate, 'hours')"
              [disableMinutes]="getDisabledTimeFn(selectedDate, 'minutes')"
              [disableSeconds]="getDisabledTimeFn(selectedDate, 'seconds')"
              tooltipPosition="top start"
              (ngModelChange)="timeDateChange($event)"
              [placeholder]="'select_time' | auiI18n"
            ></aui-time-picker>
          }
        }
      </aui-calendar-footer>
    } @else {
      @if (type === DatePickerType.Day) {
        <aui-calendar-footer
          (clear)="clearValue()"
          [clearable]="false"
          [customAction]="todayBtn"
          >
        </aui-calendar-footer>
      }
      <ng-template #todayBtn>
        <button
          aui-button="inline"
          (click)="setToday()"
          >
          {{ 'today' | auiI18n }}
        </button>
      </ng-template>
    }
  }
</div>
