@import '../theme/var';
@import '../theme/mixin';
@import '~@angular/cdk/overlay-prebuilt';

.cdk-overlay-pane.aui-notification-overlay-pane {
  z-index: 1001;
}

.aui-notification {
  margin: 0 20px 10px 0;
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  position: relative;
  border-radius: 4px;
  padding: 20px 16px 20px 20px;
  align-items: flex-start;
  background-color: $color-white;
  @include modal-shadow;

  &__icon {
    font-size: $font-size-large;
    width: $font-size-large;
    line-height: $line-height-larger;
  }

  @each $status, $color in $status-color-map {
    &--#{$status} {
      border-left: 4px solid $color;

      .aui-notification__icon {
        color: $color;
      }
    }
  }

  &__body {
    margin: 0 16px 0 8px;
    width: 308px;
  }
  &__title {
    font-size: $font-size-larger;
    text-align: left;
    color: get-color(n-1);
    line-height: $line-height-larger;
    word-break: break-word;
    &:not(:only-child) {
      margin-bottom: 6px;
    }
  }
  &__content {
    font-size: $font-size-regular;
    line-height: $line-height-regular;
    text-align: left;
    color: get-color(n-2);
    max-height: 140px;
    overflow: auto;
    overflow-wrap: break-word;
    padding-right: 4px;
    margin-top: ($line-height-larger - $line-height-regular) / 2;
    @include scroll-bar;
  }
  &__close {
    font-size: get-size(font-size-s);
    right: 10px;
    width: 12px;
    color: get-color(n-4);
    line-height: get-size(line-height-l);
    cursor: pointer;
    &:hover {
      color: get-color(n-2);
    }
  }
  &__svg {
    position: absolute;
    color: $toast-close-color;
  }
  &__footer {
    width: 360px;
    margin-top: 12px;
    word-break: break-all;
  }
}
