<div
  [@inOut]="animateState"
  (@inOut.done)="onAnimationEnd($event)"
  [class]="bem.block(type) + ' ' + uniqueId + ' ' + customClass"
>
  <div [class]="bem.element('icon')">
    <aui-icon
      [icon]="icon"
      [background]="icon.endsWith('_triangle_s') ? 'triangle' : 'circle'"
    ></aui-icon>
  </div>
  <div [class]="bem.element('body')">
    <div
      *ngIf="title"
      [class]="bem.element('title')"
    >
      {{ title }}
    </div>
    <div
      *ngIf="content"
      [class]="bem.element('content')"
    >
      {{ content }}
    </div>
    <ng-template cdkPortalHost></ng-template>
    <ng-template #modalComponent></ng-template>
  </div>
  <div [class]="bem.element('close')">
    <div
      *ngIf="duration <= 0 || isHover"
      [class]="bem.element('remove')"
      (click)="remove()"
    >
      <aui-icon icon="xmark"></aui-icon>
    </div>
    <div
      *ngIf="duration > 0 && !isHover"
      [class]="bem.element('duration')"
    >
      {{ remains > 0 ? remains : 1 }}s
    </div>
  </div>
  <div
    *ngIf="footerPortal"
    [class]="bem.element('footer')"
  >
    <ng-template [cdkPortalOutlet]="footerPortal"></ng-template>
  </div>
</div>
