<div
  [@inOut]="animateState"
  (@inOut.done)="onAnimationEnd($event)"
  [class]="bem.block(type) + ' ' + uniqueId + ' ' + customClass"
  >
  <div [class]="bem.element('wrapper')">
    <div [class]="bem.element('icon')">
      <aui-icon
        [icon]="icon"
        [background]="icon.endsWith('_triangle_s') ? 'triangle' : 'circle'"
      ></aui-icon>
    </div>
    <div [class]="bem.element('body')">
      @if (title) {
        <div
          [class]="bem.element('title')"
          >
          {{ title }}
        </div>
      }
      @if (content) {
        <div
          [class]="bem.element('content')"
          >
          {{ content }}
        </div>
      }
      <ng-template cdkPortalOutlet></ng-template>
      <ng-template #modalComponent></ng-template>
    </div>
    <div [class]="bem.element('remove')">
      @if (duration <= 0 || isHover) {
        <aui-icon
          [class]="bem.element('close')"
          icon="xmark"
          (click)="close()"
        ></aui-icon>
      }
      @if (duration > 0 && !isHover) {
        <div
          [class]="bem.element('duration')"
          >
          {{ remains > 0 ? remains : 1 }}s
        </div>
      }
    </div>
  </div>
  @if (footerPortal) {
    <div
      [class]="bem.element('footer')"
      >
      <ng-template [cdkPortalOutlet]="footerPortal"></ng-template>
    </div>
  }
</div>
