@use 'sass:math';

@import '../theme/var';
@import '../theme/mixin';
@import '~@angular/cdk/overlay-prebuilt';

.cdk-overlay-pane.aui-notification-overlay-pane {
  z-index: 1001;
}

.aui-notification {
  margin: 0 20px 10px 0;
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  position: relative;
  border-radius: 4px;
  padding: 20px 16px 20px 20px;
  align-items: flex-start;
  background-color: use-rgb(popper-bg);
  @include modal-shadow;

  &__icon {
    font-size: use-var(icon-size-l);
    width: use-var(icon-size-l);
    line-height: use-var(line-height-xl);
  }

  @each $status, $color in $status-color-map {
    &--#{$status} {
      border-left: 4px solid $color;

      .aui-notification__icon {
        color: $color;
      }
    }
  }

  &__body {
    margin: 0 16px 0 8px;
    width: 304px;
  }

  &__title {
    @include text-set(xl, main);

    text-align: left;
    word-break: break-word;

    &:not(:only-child) {
      margin-bottom: 6px;
    }
  }

  &__content {
    margin-top: calc(
      (#{use-var(line-height-xl)} - #{use-var(line-height-m)}) / 2
    );
    padding-right: 4px;
    max-height: 140px;
    @include text-set(m, secondary);

    text-align: left;
    overflow: auto;
    overflow-wrap: break-word;

    @include scroll-bar;
  }

  &__close {
    right: 10px;
    font-size: use-var(icon-size-m);
    width: use-var(icon-size-m);
    color: use-rgb(n-2);
    line-height: use-var(line-height-xl);
    cursor: pointer;

    &:hover {
      color: use-rgb(primary);
    }
  }

  &__remove {
    font-size: use-var(font-size-l);
  }

  &__duration {
    font-size: use-var(font-size-m);
  }

  &__footer {
    width: 360px;
    margin-top: 12px;
    word-break: break-all;
  }
}
