@use '../theme/var' as var;

.aui-accordion.hasBg {
  padding: var.$table-padding;
  border-radius: var.use-var(border-radius-l);
  background-color: var.use-rgb(n-9);
}

aui-accordion + aui-accordion .aui-accordion {
  margin-top: var.use-var(spacing-xl);
}
