@import '../theme/var';

.aui-accordion.hasBg {
  padding: $table-padding;
  border-radius: use-var(border-radius-l);
  background-color: use-rgb(n-9);
}

aui-accordion + aui-accordion .aui-accordion {
  margin-top: use-var(spacing-xl);
}
