// Colors
$color-white: var(--aui-color-white);
$color-black: var(--aui-color-black);

$color-primary: var(--aui-color-primary);
$color-success: var(--aui-color-success);
$color-warning: var(--aui-color-warning);
$color-danger: var(--aui-color-danger);
$color-error: var(--aui-color-error);
$color-info: var(--aui-color-info);

$status-color-map: (
  success: $color-success,
  error: $color-error,
  warning: $color-warning,
  info: $color-primary,
);

$color-primary-light: var(--aui-color-primary-light);
$color-success-light: var(--aui-color-success-light);
$color-warning-light: var(--aui-color-warning-light);
$color-error-light: var(--aui-color-error-light);
$color-danger-light: $color-error-light;
$color-info-light: var(--aui-color-info-light);

$color-primary-lighter: var(--aui-color-primary-lighter);
$color-success-lighter: var(--aui-color-success-lighter);
$color-warning-lighter: var(--aui-color-warning-lighter);
$color-error-lighter: var(--aui-color-error-lighter);
$color-danger-lighter: $color-error-lighter;
$color-info-lighter: var(--aui-color-info-lighter);

$color-primary-extra-light: var(--aui-color-primary-extra-light);
$color-success-extra-light: var(--aui-color-success-extra-light);
$color-warning-extra-light: var(--aui-color-warning-extra-light);
$color-error-extra-light: var(--aui-color-error-extra-light);
$color-danger-extra-light: $color-error-extra-light;
$color-info-extra-light: var(--aui-color-info-extra-light);

$color-primary-ultra-light: var(--aui-color-primary-ultra-light);
$color-success-ultra-light: var(--aui-color-success-ultra-light);
$color-warning-ultra-light: var(--aui-color-warning-ultra-light);
$color-error-ultra-light: var(--aui-color-error-ultra-light);
$color-danger-ultra-light: $color-error-ultra-light;
$color-info-ultra-light: var(--aui-color-info-ultra-light);

$color-primary-dark: var(--aui-color-primary-dark);
$color-success-dark: var(--aui-color-success-dark);
$color-warning-dark: var(--aui-color-warning-dark);
$color-error-dark: var(--aui-color-error-dark);
$color-danger-dark: $color-error-dark;
$color-info-dark: var(--aui-color-info-dark);

$color-primary-darker: var(--aui-color-primary-darker);
$color-success-darker: var(--aui-color-success-darker);
$color-warning-darker: var(--aui-color-warning-darker);
$color-error-darker: var(--aui-color-error-darker);
$color-danger-darker: $color-error-darker;
$color-info-darker: var(--aui-color-info-darker);

$color-text-main: var(--aui-color-text-main);
$color-text-secondary: var(--aui-color-text-secondary);
$color-text-help: var(--aui-color-text-help);
$color-text-placeholder: var(--aui-color-text-placeholder);

$color-disabled-bg: var(--aui-color-disabled-bg);

// Font
$font-size-extra-large: 20px;
$font-size-larger: 18px;
$font-size-large: 16px;
$font-size-regular: 14px;
$font-size-small: 12px;

$font-weight-bold: 500;
$font-weight-normal: 400;

$line-height-extra-large: 28px;
$line-height-larger: 24px;
$line-height-large: 22px;
$line-height-regular: 20px;
$line-height-small: 16px;

// Height
$height-large: 40px;
$height-medium: 32px;
$height-small: 28px;
$height-mini: 24px;

// Border
$border-radius: 0;
$border-width: 1px;
$border-style: solid;
$border-style-dashed: dashed;

// Outline
$outline-width: 3px;
$outline-color-primary: var(--aui-color-outline-primary);
$outline-color-success: var(--aui-color-outline-success);
$outline-color-warning: var(--aui-color-outline-warning);
$outline-color-error: var(--aui-color-outline-error);
$outline-color-info: var(--aui-color-outline-info);

// Animation
$animation-duration: 0.3s;
$animation-interpolation: ease;
