@use "sass:string";

@function use-var($name) {
  @return var(--aui-#{$name});
}

@function use-rgb($name: primary, $level: none) {
  @if $level != none {
    @return rgb(var(--aui-color-#{string.slice('#{$name}', 1, 1)}-#{$level}));
  }
  @return rgb(var(--aui-color-#{$name}));
}

@function use-rgba($name, $opacity) {
  @return rgba(var(--aui-color-#{$name}), $opacity);
}

@function use-text-color($level: main) {
  @return use-rgb(#{$level}-text);
}

$divider-line: 1px solid use-rgb(n-8);

/**
 ******************************
 *  以下变量不再推荐使用
 ******************************
 */

// Colors
$color-white: #fff;
$color-black: #000;

$color-primary: #007af5;
$color-success: #00c261;
$color-warning: #f5a300;
$color-danger: #eb0027;
$color-error: $color-danger;
$color-info: #c8cacd;

$status-color-map: (
  success: $color-success,
  error: $color-error,
  warning: $color-warning,
  info: $color-primary,
);

$color-primary-light: mix($color-white, $color-primary, 60%);
$color-success-light: mix($color-white, $color-success, 60%);
$color-warning-light: mix($color-white, $color-warning, 60%);
$color-danger-light: mix($color-white, $color-danger, 60%);
$color-error-light: $color-danger-light;
$color-info-light: mix($color-white, $color-info, 60%);

$color-primary-lighter: mix($color-white, $color-primary, 70%);
$color-success-lighter: mix($color-white, $color-success, 70%);
$color-warning-lighter: mix($color-white, $color-warning, 70%);
$color-danger-lighter: mix($color-white, $color-danger, 70%);
$color-error-lighter: $color-danger-lighter;
$color-info-lighter: mix($color-white, $color-info, 70%);

$color-primary-extra-light: mix($color-white, $color-primary, 90%);
$color-success-extra-light: mix($color-white, $color-success, 90%);
$color-warning-extra-light: mix($color-white, $color-warning, 90%);
$color-danger-extra-light: mix($color-white, $color-danger, 90%);
$color-error-extra-light: $color-danger-extra-light;
$color-info-extra-light: mix($color-white, $color-info, 90%);

$color-primary-ultra-light: mix($color-white, $color-primary, 95%);
$color-success-ultra-light: mix($color-white, $color-success, 95%);
$color-warning-ultra-light: mix($color-white, $color-warning, 95%);
$color-danger-ultra-light: mix($color-white, $color-danger, 95%);
$color-error-ultra-light: $color-danger-ultra-light;
$color-info-ultra-light: mix($color-white, $color-info, 95%);

$color-primary-dark: mix($color-black, $color-primary, 10%);
$color-success-dark: mix($color-black, $color-primary, 10%);
$color-warning-dark: mix($color-black, $color-primary, 10%);
$color-danger-dark: mix($color-black, $color-primary, 10%);
$color-error-dark: $color-danger-dark;
$color-info-dark: mix($color-black, $color-primary, 10%);

$color-primary-darker: mix($color-black, $color-primary, 20%);
$color-success-darker: mix($color-black, $color-primary, 20%);
$color-warning-darker: mix($color-black, $color-primary, 20%);
$color-danger-darker: mix($color-black, $color-primary, 20%);
$color-error-darker: $color-danger-dark;
$color-info-darker: mix($color-black, $color-primary, 20%);

$color-text-main: use-text-color(main);
$color-text-secondary: use-text-color(secondary);
$color-text-help: use-text-color(help);
$color-text-disabled: use-text-color(disabled);
$color-text-placeholder: use-text-color(placeholder);

$color-disabled-bg: use-rgb(n-8);

// Font
$font-size-extra-large: 20px;
$font-size-larger: 18px;
$font-size-large: 16px;
$font-size-regular: 14px;
$font-size-small: 12px;

$font-weight-bold: 500;
$font-weight-normal: 400;

$line-height-extra-large: 28px;
$line-height-larger: 24px;
$line-height-large: 22px;
$line-height-regular: 20px;
$line-height-small: 16px;

// Height
$height-large: 40px;
$height-medium: 32px;
$height-small: 28px;
$height-mini: 24px;

// Border
$border-radius: 2px;
$border-width: 1px;
$border-style: solid;
$border-style-dashed: dashed;

// Outline
$outline-width: 3px;
$outline-color-primary: primary;
$outline-color-success: green;
$outline-color-warning: yellow;
$outline-color-error: red;

// Animation
$animation-duration: 0.3s;
$animation-interpolation: ease;
