@use 'sass:string';

@function use-var($name) {
  @return var(--aui-#{$name});
}

@function use-rgb($name: primary, $level: none) {
  @if $level != none {
    @return rgb(var(--aui-color-#{string.slice('#{$name}', 1, 1)}-#{$level}));
  }
  @return rgb(var(--aui-color-#{$name}));
}

@function use-rgba($name, $opacity) {
  @return rgba(var(--aui-color-#{$name}), $opacity);
}

@function use-text-color($level: main) {
  @return use-rgb(#{$level}-text);
}

// Animation
$animation-duration-slow: 0.3s; // Modal
$animation-duration-base: 0.24s; // Tab、Dropdown
$animation-duration-fast: 0.2s;

$ease-out: cubic-bezier(0, 0, 0.2, 1);
$ease-in: cubic-bezier(0.8, 0, 1, 0.9);
$ease-in-out: cubic-bezier(0.38, 0, 0.24, 1);

$animation-interpolation: ease;
