@mixin light-mode {
  $color-white: #fff;
  $color-black: #000;

  $color-primary: #006eff;
  $color-success: #0abf5b;
  $color-warning: #ff9d00;
  $color-danger: #e54545;
  $color-error: #e54545;
  $color-info: #ccc;

  --aui-color-white: #{$color-white};
  --aui-color-black: #{$color-black};
  --aui-color-primary: #{$color-primary};
  --aui-color-success: #{$color-success};
  --aui-color-warning: #{$color-warning};
  --aui-color-danger: #{$color-danger};
  --aui-color-error: #{$color-error};
  --aui-color-info: #{$color-info};
  --aui-color-primary-light: #{mix($color-white, $color-primary, 60%)};
  --aui-color-success-light: #{mix($color-white, $color-success, 60%)};
  --aui-color-warning-light: #{mix($color-white, $color-warning, 60%)};
  --aui-color-error-light: #{mix($color-white, $color-error, 60%)};
  --aui-color-info-light: #{mix($color-white, $color-info, 60%)};
  --aui-color-primary-lighter: #{mix($color-white, $color-primary, 70%)};
  --aui-color-success-lighter: #{mix($color-white, $color-success, 70%)};
  --aui-color-warning-lighter: #{mix($color-white, $color-warning, 70%)};
  --aui-color-error-lighter: #{mix($color-white, $color-error, 70%)};
  --aui-color-info-lighter: #{mix($color-white, $color-info, 70%)};
  --aui-color-primary-extra-light: #{mix($color-white, $color-primary, 90%)};
  --aui-color-success-extra-light: #{mix($color-white, $color-success, 90%)};
  --aui-color-warning-extra-light: #{mix($color-white, $color-warning, 90%)};
  --aui-color-error-extra-light: #{mix($color-white, $color-error, 90%)};
  --aui-color-info-extra-light: #{mix($color-white, $color-info, 90%)};
  --aui-color-primary-ultra-light: #{mix($color-white, $color-primary, 95%)};
  --aui-color-success-ultra-light: #{mix($color-white, $color-success, 95%)};
  --aui-color-warning-ultra-light: #{mix($color-white, $color-warning, 95%)};
  --aui-color-error-ultra-light: #{mix($color-white, $color-error, 95%)};
  --aui-color-info-ultra-light: #{mix($color-white, $color-info, 95%)};
  --aui-color-primary-dark: #{mix($color-black, $color-primary, 10%)};
  --aui-color-success-dark: #{mix($color-black, $color-success, 10%)};
  --aui-color-warning-dark: #{mix($color-black, $color-warning, 10%)};
  --aui-color-error-dark: #{mix($color-black, $color-error, 10%)};
  --aui-color-info-dark: #{mix($color-black, $color-info, 10%)};
  --aui-color-primary-darker: #{mix($color-black, $color-primary, 20%)};
  --aui-color-success-darker: #{mix($color-black, $color-success, 20%)};
  --aui-color-warning-darker: #{mix($color-black, $color-warning, 20%)};
  --aui-color-error-darker: #{mix($color-black, $color-error, 20%)};
  --aui-color-info-darker: #{mix($color-black, $color-info, 20%)};
  --aui-color-text-main: #333;
  --aui-color-text-secondary: #666;
  --aui-color-text-help: #999;
  --aui-color-text-placeholder: #ccc;
  --aui-color-disabled-bg: #f2f2f2;
  --aui-color-outline-primary: #{mix($color-white, $color-primary, 60%)};
  --aui-color-outline-success: #{mix($color-white, $color-success, 60%)};
  --aui-color-outline-warning: #{mix($color-white, $color-warning, 60%)};
  --aui-color-outline-error: #{mix($color-white, $color-error, 60%)};
  --aui-color-outline-info: #{mix($color-white, $color-info, 60%)};
}

@mixin dark-mode {
  $color-white: #000;
  $color-black: #fff;

  $color-primary: #ff9100;
  $color-success: #f540a4;
  $color-warning: #0062ff;
  $color-danger: #1ababa;
  $color-error: #1ababa;
  $color-info: #333;

  --aui-color-white: #{$color-white};
  --aui-color-black: #{$color-black};
  --aui-color-primary: #{$color-primary};
  --aui-color-success: #{$color-success};
  --aui-color-warning: #{$color-warning};
  --aui-color-danger: #{$color-danger};
  --aui-color-error: #{$color-error};
  --aui-color-info: #{$color-info};
  --aui-color-primary-light: #{mix($color-white, $color-primary, 60%)};
  --aui-color-success-light: #{mix($color-white, $color-success, 60%)};
  --aui-color-warning-light: #{mix($color-white, $color-warning, 60%)};
  --aui-color-error-light: #{mix($color-white, $color-error, 60%)};
  --aui-color-info-light: #{mix($color-white, $color-info, 60%)};
  --aui-color-primary-lighter: #{mix($color-white, $color-primary, 70%)};
  --aui-color-success-lighter: #{mix($color-white, $color-success, 70%)};
  --aui-color-warning-lighter: #{mix($color-white, $color-warning, 70%)};
  --aui-color-error-lighter: #{mix($color-white, $color-error, 70%)};
  --aui-color-info-lighter: #{mix($color-white, $color-info, 70%)};
  --aui-color-primary-extra-light: #{mix($color-white, $color-primary, 90%)};
  --aui-color-success-extra-light: #{mix($color-white, $color-success, 90%)};
  --aui-color-warning-extra-light: #{mix($color-white, $color-warning, 90%)};
  --aui-color-error-extra-light: #{mix($color-white, $color-error, 90%)};
  --aui-color-info-extra-light: #{mix($color-white, $color-info, 90%)};
  --aui-color-primary-ultra-light: #{mix($color-white, $color-primary, 95%)};
  --aui-color-success-ultra-light: #{mix($color-white, $color-success, 95%)};
  --aui-color-warning-ultra-light: #{mix($color-white, $color-warning, 95%)};
  --aui-color-error-ultra-light: #{mix($color-white, $color-error, 95%)};
  --aui-color-info-ultra-light: #{mix($color-white, $color-info, 95%)};
  --aui-color-primary-dark: #{mix($color-black, $color-primary, 10%)};
  --aui-color-success-dark: #{mix($color-black, $color-success, 10%)};
  --aui-color-warning-dark: #{mix($color-black, $color-warning, 10%)};
  --aui-color-error-dark: #{mix($color-black, $color-error, 10%)};
  --aui-color-info-dark: #{mix($color-black, $color-info, 10%)};
  --aui-color-primary-darker: #{mix($color-black, $color-primary, 20%)};
  --aui-color-success-darker: #{mix($color-black, $color-success, 20%)};
  --aui-color-warning-darker: #{mix($color-black, $color-warning, 20%)};
  --aui-color-error-darker: #{mix($color-black, $color-error, 20%)};
  --aui-color-info-darker: #{mix($color-black, $color-info, 20%)};
  --aui-color-text-main: #ccc;
  --aui-color-text-secondary: #999;
  --aui-color-text-help: #666;
  --aui-color-text-placeholder: #333;
  --aui-color-disabled-bg: #0d0d0d;
  --aui-color-outline-primary: #{mix($color-white, $color-primary, 60%)};
  --aui-color-outline-success: #{mix($color-white, $color-success, 60%)};
  --aui-color-outline-warning: #{mix($color-white, $color-warning, 60%)};
  --aui-color-outline-error: #{mix($color-white, $color-error, 60%)};
  --aui-color-outline-info: #{mix($color-white, $color-info, 60%)};
}
