@import 'var.scss';

@mixin table-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  font-size: $font-size-larger;
  color: $color-text-main;
}

@mixin table-placeholder {
  padding: calc(#{get-size(spacing-xxl)} - 1px) 0;
  text-align: center;
  font-size: get-size(font-size-m);
  color: get-color(n-4);
  background: get-color(n-10);
  border: solid 1px get-color(n-8);
  border-radius: get-size(border-radius-m);
  aui-icon {
    margin-right: get-size(spacing-m);
  }
}

@mixin shadow-0 {
  border-radius: $border-radius;
  background-color: $color-white;
}

@mixin shadow-2 {
  border-radius: $border-radius;
  background-color: $color-white;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.24);
}

@mixin shadow-8 {
  border-radius: $border-radius;
  background-color: $color-white;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
}

@mixin shadow-16 {
  border-radius: $border-radius;
  background-color: $color-white;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16);
}

@mixin feat-stage-tag {
  display: inline-block;
  padding: 0 4px * 1.2;
  border-radius: 6px * 1.2;
  // stylelint-disable-next-line font-family-no-missing-generic-family-keyword
  font-family: Calibri;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  line-height: 12px * 1.2;
  color: #333;
  background-color: #ffdf00;
  transform: scale(0.8333, 0.8333);
}

@mixin feat-stage-text {
  // stylelint-disable-next-line font-family-no-missing-generic-family-keyword
  font-family: Calibri;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  color: #ffdf00;
  transform: scale(0.8333, 0.8333);
}

@mixin zh-form-label-width($parent) {
  #{$parent} .aui-form-item .aui-form-item__label-wrapper {
    width: 114px;
  }
}

@mixin en-form-label-width($parent) {
  #{$parent} .aui-form-item .aui-form-item__label-wrapper {
    width: 144px;
  }
}

@mixin form-width($selector: '.aui-form') {
  #{$selector} {
    margin: auto;
    max-width: 960px;
  }
}

@mixin with-detail($detailColumn: 'detail') {
  ::ng-deep .aui-table {
    &__row {
      flex-wrap: wrap;
    }
    &__column-#{$detailColumn} {
      &.aui-table__header-cell {
        display: none;
      }
      &.aui-table__cell {
        width: 100%;
        flex-shrink: 0;
        flex-basis: 100%;
        padding: 0 calc(#{get-size(table-cell-padding-lr)} / 2);
        overflow: hidden;
        .aui-table__cell-expand-detail {
          background-color: get-color(n-9);
          margin-top: get-size(table-cell-padding-tb-m);
        }
      }
    }
  }
}

@mixin with-expand($expandColumn: 'expand') {
  ::ng-deep .aui-table {
    &__cell,
    &__header-cell {
      &.aui-table__column-#{$expandColumn} {
        max-width: calc(
          var(--aui-table-cell-padding-lr) / 2 + var(--aui-font-size-l)
        );
        padding-right: 0;
        /* stylelint-disable function-calc-no-unspaced-operator */
        line-height: calc(
          #{get-size(table-row-min-height-m)} - 2 * #{get-size(
              table-cell-padding-tb-m
            )}
        );
        /* stylelint-enable function-calc-no-unspaced-operator */

        .aui-table__cell-expand-button {
          width: get-size(font-size-l);
          height: get-size(font-size-l);
          &.collapsed {
            background-color: get-rgba(primary, 0.1);
            border-color: get-rgba(primary, 0.1);
            color: get-color(primary);
          }
        }
      }
    }
  }
}
