@mixin component-size {
  --aui-inline-height-l: 40px;
  --aui-inline-height-m: 32px;
  --aui-inline-height-s: 28px;
  --aui-inline-height-xs: 24px;
  --aui-inline-margin-m: 8px;
  --aui-inline-margin-s: 4px;
  --aui-inline-margin-xs: 2px;
  --aui-font-size-xxl: 20px;
  --aui-font-size-xl: 18px;
  --aui-font-size-l: 16px;
  --aui-font-size-m: 14px;
  --aui-font-size-s: 12px;
  --aui-font-weight-bold: 500;
  --aui-font-weight-normal: 400;
  --aui-line-height-xxl: 28px;
  --aui-line-height-xl: 24px;
  --aui-line-height-l: 22px;
  --aui-line-height-m: 20px;
  --aui-line-height-s: 16px;
  --aui-border-radius-l: 4px;
  --aui-border-radius-m: 2px;
}

@mixin light-mode {
  --aui-color-primary: #007af5;
  --aui-color-primary-0: #0067d0;
  --aui-color-primary-1: #268df6;
  --aui-color-primary-2: #4da2f8;
  --aui-color-primary-3: #66aff9;
  --aui-color-primary-4: #b3d7fc;
  --aui-color-primary-5: #cce4fd;
  --aui-color-primary-6: #e5f1fe;
  --aui-color-primary-7: #f2f8fe;
  --aui-color-success: #00c261;
  --aui-color-success-0: #00a552;
  --aui-color-success-1: #26cb78;
  --aui-color-success-2: #4cd490;
  --aui-color-success-4: #b3eccf;
  --aui-color-success-6: #e6f9ef;
  --aui-color-success-7: #f2fbf6;
  --aui-color-warning: #f5a300;
  --aui-color-warning-0: #dc9200;
  --aui-color-warning-1: #f6b026;
  --aui-color-warning-2: #f8be4d;
  --aui-color-warning-4: #fce3b3;
  --aui-color-warning-6: #fef5e6;
  --aui-color-warning-7: #fefaf3;
  --aui-color-danger: #eb0027;
  --aui-color-danger-0: #c70021;
  --aui-color-danger-1: #ed2647;
  --aui-color-danger-2: #f14c67;
  --aui-color-danger-4: #f9b3be;
  --aui-color-danger-6: #fde6e9;
  --aui-color-danger-7: #fef3f4;
  --aui-color-neutral-0: #000;
  --aui-color-neutral-1: #323437;
  --aui-color-neutral-2: #646669;
  --aui-color-neutral-3: #7c7e81;
  --aui-color-neutral-4: #96989b;
  --aui-color-neutral-5: #aeb0b3;
  --aui-color-neutral-6: #c8cacd;
  --aui-color-neutral-7: #d4d6d9;
  --aui-color-neutral-8: #edeff2;
  --aui-color-neutral-9: #f7f9fc;
  --aui-color-neutral-10: #fff;
}

@mixin dark-mode {
  --aui-color-primary: #007af5;
  --aui-color-primary-0: #0067d0;
  --aui-color-primary-1: #268df6;
  --aui-color-primary-2: #4da2f8;
  --aui-color-primary-3: #66aff9;
  --aui-color-primary-4: #b3d7fc;
  --aui-color-primary-5: #cce4fd;
  --aui-color-primary-6: #e5f1fe;
  --aui-color-primary-7: #f2f8fe;
  --aui-color-success: #00c261;
  --aui-color-success-0: #00a552;
  --aui-color-success-1: #26cb78;
  --aui-color-success-2: #4cd490;
  --aui-color-success-4: #b3eccf;
  --aui-color-success-6: #e6f9ef;
  --aui-color-success-7: #f2fbf6;
  --aui-color-warning: #f5a300;
  --aui-color-warning-0: #dc9200;
  --aui-color-warning-1: #f6b026;
  --aui-color-warning-2: #f8be4d;
  --aui-color-warning-4: #fce3b3;
  --aui-color-warning-6: #fef5e6;
  --aui-color-warning-7: #fefaf3;
  --aui-color-danger: #eb0027;
  --aui-color-danger-0: #c70021;
  --aui-color-danger-1: #ed2647;
  --aui-color-danger-2: #f14c67;
  --aui-color-danger-4: #f9b3be;
  --aui-color-danger-6: #fde6e9;
  --aui-color-danger-7: #fef3f4;
  --aui-color-neutral-0: #000;
  --aui-color-neutral-1: #323437;
  --aui-color-neutral-2: #646669;
  --aui-color-neutral-3: #7c7e81;
  --aui-color-neutral-4: #96989b;
  --aui-color-neutral-5: #aeb0b3;
  --aui-color-neutral-6: #c8cacd;
  --aui-color-neutral-7: #d4d6d9;
  --aui-color-neutral-8: #edeff2;
  --aui-color-neutral-9: #f7f9fc;
  --aui-color-neutral-10: #fff;
}
