@use "sass:color";

@mixin component-size {
  --aui-inline-height-l: 40px;
  --aui-inline-height-m: 32px;
  --aui-inline-height-s: 28px;
  --aui-inline-height-xs: 24px;
  --aui-inline-padding-l: 19px;
  --aui-inline-padding-m: 15px;
  --aui-inline-padding-s: 11px;
  --aui-inline-padding-xs: 7px;
  --aui-inline-padding-xxs: 5px;
  --aui-spacing-xxxxxl: 40px;
  --aui-spacing-xxxxl: 32px;
  --aui-spacing-xxxl: 24px;
  --aui-spacing-xxl: 20px;
  --aui-spacing-xl: 16px;
  --aui-spacing-l: 12px;
  --aui-spacing-m: 8px;
  --aui-spacing-s: 4px;
  --aui-spacing-xs: 2px;
  --aui-font-weight-bold: 500;
  --aui-font-weight-normal: 400;
  --aui-font-size-xxl: 20px;
  --aui-font-size-xl: 18px;
  --aui-font-size-l: 16px;
  --aui-font-size-m: 14px;
  --aui-font-size-s: 12px;
  --aui-line-height-xxxl: 32px;
  --aui-line-height-xxl: 28px;
  --aui-line-height-xl: 24px;
  --aui-line-height-l: 22px;
  --aui-line-height-m: 20px;
  --aui-line-height-s: 16px;
  --aui-icon-size-xxl: 24px;
  --aui-icon-size-xl: 24px;
  --aui-icon-size-l: 16px;
  --aui-icon-size-m: 16px;
  --aui-icon-size-s: 12px;
  --aui-border-radius-l: 4px;
  --aui-border-radius-m: 2px;
  --aui-page-header-height: 60px;
  --aui-page-toolbar-height: 44px;
  --aui-page-snackbar-height: 60px;
  --aui-page-sider-width: 260px;
  --aui-page-padding-m: 20px;
  --aui-page-padding-s: 16px;
  --aui-form-item-width-l: 732px;
  --aui-form-item-width-m: 436px;
  --aui-form-item-width-s: 140px;
}

@function rgb-string($color) {
  @return color.red($color), color.green($color), color.blue($color);
}

@mixin light-mode {
  --aui-color-blue: #{rgb-string(#007af5)};
  --aui-color-b-0: #{rgb-string(#0067d0)};
  --aui-color-b-1: #{rgb-string(#268df6)};
  --aui-color-b-2: #{rgb-string(#4da2f8)};
  --aui-color-b-3: #{rgb-string(#66aff9)};
  --aui-color-b-4: #{rgb-string(#b3d7fc)};
  --aui-color-b-5: #{rgb-string(#cce4fd)};
  --aui-color-b-6: #{rgb-string(#e5f1fe)};
  --aui-color-b-7: #{rgb-string(#f2f8fe)};
  --aui-color-green: #{rgb-string(#00c261)};
  --aui-color-g-0: #{rgb-string(#00a552)};
  --aui-color-g-1: #{rgb-string(#26cb78)};
  --aui-color-g-2: #{rgb-string(#4cd490)};
  --aui-color-g-4: #{rgb-string(#b3eccf)};
  --aui-color-g-6: #{rgb-string(#e6f9ef)};
  --aui-color-g-7: #{rgb-string(#f2fbf6)};
  --aui-color-yellow: #{rgb-string(#f5a300)};
  --aui-color-y-0: #{rgb-string(#dc9200)};
  --aui-color-y-1: #{rgb-string(#f6b026)};
  --aui-color-y-2: #{rgb-string(#f8be4d)};
  --aui-color-y-4: #{rgb-string(#fce3b3)};
  --aui-color-y-6: #{rgb-string(#fef5e6)};
  --aui-color-y-7: #{rgb-string(#fefaf3)};
  --aui-color-red: #{rgb-string(#eb0027)};
  --aui-color-r-0: #{rgb-string(#c70021)};
  --aui-color-r-1: #{rgb-string(#ed2647)};
  --aui-color-r-2: #{rgb-string(#f14c67)};
  --aui-color-r-4: #{rgb-string(#f9b3be)};
  --aui-color-r-6: #{rgb-string(#fde6e9)};
  --aui-color-r-7: #{rgb-string(#fef3f4)};
  --aui-color-n-1: #{rgb-string(#323437)};
  --aui-color-n-2: #{rgb-string(#646669)};
  --aui-color-n-3: #{rgb-string(#7c7e81)};
  --aui-color-n-4: #{rgb-string(#96989b)};
  --aui-color-n-5: #{rgb-string(#aeb0b3)};
  --aui-color-n-6: #{rgb-string(#c8cacd)};
  --aui-color-n-7: #{rgb-string(#d4d6d9)};
  --aui-color-n-8: #{rgb-string(#edeff2)};
  --aui-color-n-9: #{rgb-string(#f7f9fc)};
  --aui-color-n-10: #{rgb-string(#fff)};
  --aui-color-main-bg: var(--aui-color-n-9);
  --aui-color-popper-bg: var(--aui-color-n-10);
  --aui-color-origin-shadow: var(--aui-color-n-1);
}

@mixin dark-mode {
  --aui-color-blue: #{rgb-string(#3d8eff)};
  --aui-color-b-0: #{rgb-string(#3674ce)};
  --aui-color-b-1: #{rgb-string(#6daaff)};
  --aui-color-b-2: #{rgb-string(#346fc4)};
  --aui-color-b-3: #{rgb-string(#3265b1)};
  --aui-color-b-4: #{rgb-string(#2e5793)};
  --aui-color-b-5: #{rgb-string(#263858)};
  --aui-color-b-6: #{rgb-string(#29426c)};
  --aui-color-b-7: #{rgb-string(#2b4c7f)};
  --aui-color-green: #{rgb-string(#11b671)};
  --aui-color-g-0: #{rgb-string(#159263)};
  --aui-color-g-1: #{rgb-string(#4cc894)};
  --aui-color-g-2: #{rgb-string(#158b60)};
  --aui-color-g-4: #{rgb-string(#1a6952)};
  --aui-color-g-6: #{rgb-string(#1e4c48)};
  --aui-color-g-7: #{rgb-string(#1b5a4d)};
  --aui-color-yellow: #{rgb-string(#edac2c)};
  --aui-color-y-0: #{rgb-string(#ba8a2f)};
  --aui-color-y-1: #{rgb-string(#f1c060)};
  --aui-color-y-2: #{rgb-string(#af8430)};
  --aui-color-y-4: #{rgb-string(#7d6433)};
  --aui-color-y-6: #{rgb-string(#554a37)};
  --aui-color-y-7: #{rgb-string(#685735)};
  --aui-color-red: #{rgb-string(#e2324f)};
  --aui-color-r-0: #{rgb-string(#b22f4a)};
  --aui-color-r-1: #{rgb-string(#e9657b)};
  --aui-color-r-2: #{rgb-string(#a72e49)};
  --aui-color-r-4: #{rgb-string(#782d43)};
  --aui-color-r-6: #{rgb-string(#522b3f)};
  --aui-color-r-7: #{rgb-string(#642c41)};
  --aui-color-n-1: #{rgb-string(#f0f1f6)};
  --aui-color-n-2: #{rgb-string(#c4c6cc)};
  --aui-color-n-3: #{rgb-string(#b4b7c0)};
  --aui-color-n-4: #{rgb-string(#9095a3)};
  --aui-color-n-5: #{rgb-string(#8c919f)};
  --aui-color-n-6: #{rgb-string(#747987)};
  --aui-color-n-7: #{rgb-string(#565d6f)};
  --aui-color-n-8: #{rgb-string(#3f4658)};
  --aui-color-n-9: #{rgb-string(#343b4d)};
  --aui-color-n-10: #{rgb-string(#262d3f)};
  --aui-color-main-bg: #{rgb-string(#161d2f)};
  --aui-color-popper-bg: var(--aui-color-n-9);
  --aui-color-origin-shadow: var(--aui-color-main-bg);
}
