@mixin component-size {
  --aui-font-size-xxl: 20px;
  --aui-font-size-xl: 18px;
  --aui-font-size-l: 16px;
  --aui-font-size-m: 14px;
  --aui-font-size-s: 12px;
  --aui-font-weight-bold: 500;
  --aui-font-weight-normal: 400;
  --aui-line-height-xxl: 28px;
  --aui-line-height-xl: 24px;
  --aui-line-height-l: 22px;
  --aui-line-height-m: 20px;
  --aui-line-height-s: 16px;
  --aui-border-radius-l: 4px;
  --aui-border-radius-m: 2px;
  --aui-inline-height-l: 40px;
  --aui-inline-height-m: 32px;
  --aui-inline-height-s: 28px;
  --aui-inline-height-xs: 24px;
  --aui-spacing-xxxxxl: 40px;
  --aui-spacing-xxxxl: 32px;
  --aui-spacing-xxxl: 24px;
  --aui-spacing-xxl: 20px;
  --aui-spacing-xl: 16px;
  --aui-spacing-l: 12px;
  --aui-spacing-m: 8px;
  --aui-spacing-s: 4px;
  --aui-spacing-xs: 2px;
}

@mixin light-mode {
  --aui-color-blue: #007af5;
  --aui-color-b-0: #0067d0;
  --aui-color-b-1: #268df6;
  --aui-color-b-2: #4da2f8;
  --aui-color-b-3: #66aff9;
  --aui-color-b-4: #b3d7fc;
  --aui-color-b-5: #cce4fd;
  --aui-color-b-6: #e5f1fe;
  --aui-color-b-7: #f2f8fe;
  --aui-color-green: #00c261;
  --aui-color-g-0: #00a552;
  --aui-color-g-1: #26cb78;
  --aui-color-g-2: #4cd490;
  --aui-color-g-4: #b3eccf;
  --aui-color-g-6: #e6f9ef;
  --aui-color-g-7: #f2fbf6;
  --aui-color-yellow: #f5a300;
  --aui-color-y-0: #dc9200;
  --aui-color-y-1: #f6b026;
  --aui-color-y-2: #f8be4d;
  --aui-color-y-4: #fce3b3;
  --aui-color-y-6: #fef5e6;
  --aui-color-y-7: #fefaf3;
  --aui-color-red: #eb0027;
  --aui-color-r-0: #c70021;
  --aui-color-r-1: #ed2647;
  --aui-color-r-2: #f14c67;
  --aui-color-r-4: #f9b3be;
  --aui-color-r-6: #fde6e9;
  --aui-color-r-7: #fef3f4;
  --aui-color-n-0: #000;
  --aui-color-n-1: #323437;
  --aui-color-n-2: #646669;
  --aui-color-n-3: #7c7e81;
  --aui-color-n-4: #96989b;
  --aui-color-n-5: #aeb0b3;
  --aui-color-n-6: #c8cacd;
  --aui-color-n-7: #d4d6d9;
  --aui-color-n-8: #edeff2;
  --aui-color-n-9: #f7f9fc;
  --aui-color-n-10: #fff;
}

@mixin dark-mode {
  --aui-color-blue: #007af5;
  --aui-color-b-0: #0067d0;
  --aui-color-b-1: #268df6;
  --aui-color-b-2: #4da2f8;
  --aui-color-b-3: #66aff9;
  --aui-color-b-4: #b3d7fc;
  --aui-color-b-5: #cce4fd;
  --aui-color-b-6: #e5f1fe;
  --aui-color-b-7: #f2f8fe;
  --aui-color-green: #00c261;
  --aui-color-g-0: #00a552;
  --aui-color-g-1: #26cb78;
  --aui-color-g-2: #4cd490;
  --aui-color-g-4: #b3eccf;
  --aui-color-g-6: #e6f9ef;
  --aui-color-g-7: #f2fbf6;
  --aui-color-yellow: #f5a300;
  --aui-color-y-0: #dc9200;
  --aui-color-y-1: #f6b026;
  --aui-color-y-2: #f8be4d;
  --aui-color-y-4: #fce3b3;
  --aui-color-y-6: #fef5e6;
  --aui-color-y-7: #fefaf3;
  --aui-color-red: #eb0027;
  --aui-color-r-0: #c70021;
  --aui-color-r-1: #ed2647;
  --aui-color-r-2: #f14c67;
  --aui-color-r-4: #f9b3be;
  --aui-color-r-6: #fde6e9;
  --aui-color-r-7: #fef3f4;
  --aui-color-n-0: #000;
  --aui-color-n-1: #323437;
  --aui-color-n-2: #646669;
  --aui-color-n-3: #7c7e81;
  --aui-color-n-4: #96989b;
  --aui-color-n-5: #aeb0b3;
  --aui-color-n-6: #c8cacd;
  --aui-color-n-7: #d4d6d9;
  --aui-color-n-8: #edeff2;
  --aui-color-n-9: #f7f9fc;
  --aui-color-n-10: #fff;
}
