@use 'sass:math';
@use 'base-var' as baseVar;
@forward 'base-var';

$status-color-map: (
  success: basevar.use-rgb(green),
  warning: basevar.use-rgb(yellow),
  error: basevar.use-rgb(red),
  info: basevar.use-rgb(primary),
);

// input
$input-size: (
  large: (
    height: basevar.use-var(inline-height-l),
    font-size: basevar.use-var(font-size-l),
    line-height: basevar.use-var(line-height-l),
    icon-size: basevar.use-var(icon-size-l),
  ),
  medium: (
    height: basevar.use-var(inline-height-m),
    font-size: basevar.use-var(font-size-m),
    line-height: basevar.use-var(line-height-m),
    icon-size: basevar.use-var(icon-size-m),
  ),
  small: (
    height: basevar.use-var(inline-height-s),
    font-size: basevar.use-var(font-size-m),
    line-height: basevar.use-var(line-height-m),
    icon-size: basevar.use-var(icon-size-m),
  ),
  mini: (
    height: basevar.use-var(inline-height-xs),
    font-size: basevar.use-var(font-size-s),
    line-height: basevar.use-var(line-height-s),
    icon-size: basevar.use-var(icon-size-s),
  ),
);

// Table
$table-padding: 12px;
$table-row-min-height: 58px;
$table-cell-padding-v: 15px;
$table-cell-padding-h: 10px;

// Sort
$sort-indicator-color: baseVar.use-text-color(placeholder);
$sort-indicator-color-active: baseVar.use-text-color(secondary);
$sort-indicator-size: 4px;
$sort-indicator-margin: 4px;

// Tabs
$tab-label-padding-large: 16px 20px;
$tab-label-padding-medium: 12px 20px;
$tab-label-padding-small: 8px 16px;
$tab-label-font-size-large: baseVar.use-var(font-size-xl);
$tab-label-font-size-medium: baseVar.use-var(font-size-l);
$tab-label-font-size-small: baseVar.use-var(font-size-m);
$tab-header-type-card-bg-color: baseVar.use-rgb(n-9);
$tab-scroll-transition: all 0.3s cubic-bezier(0.35, 0, 0.25, 1);
$tab-pagination-button-z-index: 3;
$tab-label-z-index: 2;
$tab-active-indicator-z-index: 1;
$tab-label-focus-box-shadow: inset 0 0 0 3px baseVar.use-rgba(primary, 0.3);
$tab-header-close-icon-size: 16px;
$tab-header-title-font-size: baseVar.use-var(font-size-xxl);
$tab-header-title-spacing: 20px;
$tab-header-title-padding: 20px 0 12px;

// date picker
$date-picker-body-size: 216px;
$date-picker-seprator-gap: 20px;
$date-picker-row-gap: 8px;
$date-picker-cell-size: 24px;
$range-picker-body-width: 524px;
$range-picker-panel-spacing: 32px;
$range-picker-header-width: math.div(
  ($range-picker-body-width - $range-picker-panel-spacing),
  2
);
