@import 'base-var';
@import 'mixin';
@import 'theme-preset';

@include theme-light {
  @include light-mode;
}

@include theme-dark {
  @include dark-mode;
}

:root {
  @include component-size;

  --aui-color-primary: var(--aui-color-blue);
  --aui-color-p-0: var(--aui-color-b-0);
  --aui-color-p-1: var(--aui-color-b-1);
  --aui-color-p-2: var(--aui-color-b-2);
  --aui-color-p-3: var(--aui-color-b-3);
  --aui-color-p-4: var(--aui-color-b-4);
  --aui-color-p-5: var(--aui-color-b-5);
  --aui-color-p-6: var(--aui-color-b-6);
  --aui-color-p-7: var(--aui-color-b-7);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue',
    Helvetica, 'Ubuntu', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    'WenQuanYi Micro Hei', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
}

a {
  color: use-rgb(primary);
  text-decoration: none;

  &:hover {
    color: use-rgb(p-1);
    text-decoration: underline;
  }

  &:active,
  &:focus {
    color: use-rgb(p-0);
    text-decoration: underline;
  }
}

[class^='aui-'],
[class*=' aui-'] {
  box-sizing: border-box;

  &[hidden] {
    display: none;
  }
}

.aui-tooltip-copy {
  cursor: pointer;
}

aui-icon.aui-tooltip-copy {
  span + & {
    margin-left: use-var(spacing-s);
  }

  &:hover {
    color: use-rgb(primary);
  }
}

.aui-tab-label__content aui-icon:first-child .aui-icon {
  margin-right: use-var(spacing-s);
}
