@use 'var' as var;
@use 'mixin' as mixin;
@use 'theme-preset' as preset;
@use '../../node_modules/@angular/cdk/overlay-prebuilt' as *;

@include mixin.theme-light {
  @include preset.light-mode;
}

@include mixin.theme-dark {
  @include preset.dark-mode;
}

:root {
  @include preset.component-size;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC',
    Arial, 'Microsoft YaHei', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
}

button {
  @include mixin.text-set(m);
}

a {
  color: var.use-rgb(primary);
  text-decoration: none;

  &:hover {
    color: var.use-rgb(p-1);
    text-decoration: underline;
  }

  &:active,
  &:focus {
    color: var.use-rgb(p-0);
    text-decoration: underline;
  }
}

[class^='aui-'],
[class*=' aui-'] {
  box-sizing: border-box;

  &[hidden] {
    display: none;
  }
}

.aui-tooltip-copy {
  cursor: pointer;
}

aui-icon.aui-tooltip-copy {
  span + & {
    margin-left: var.use-var(spacing-s);
  }

  &:hover {
    color: var.use-rgb(primary);
  }
}

.aui-tab-label__content aui-icon:first-child .aui-icon {
  margin-right: var.use-var(spacing-s);
}
