@import 'base-var';
@import 'mixin';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue',
    Helvetica, 'Ubuntu', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    'WenQuanYi Micro Hei', sans-serif;
}

a {
  color: $color-primary;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: $color-primary-darker;
  }
}

[class^='aui-'],
[class*=' aui-'] {
  box-sizing: border-box;

  &[hidden] {
    display: none;
  }
}

aui-icon[ng-reflect-aui-tooltip-copy],
aui-icon[auiTooltipCopy] {
  cursor: pointer;

  span + & {
    margin-left: 4px;
  }

  &:hover {
    color: $color-primary;
  }
}

.aui-dialog aui-form-item:last-child .aui-form-item,
.aui-section__content aui-form-item:last-child .aui-form-item {
  margin-bottom: 0;
}

.aui-tab-label__content aui-icon:first-child .aui-icon {
  margin-right: 4px;
}
