@import 'base-var';
@import 'mixin';
@import 'theme-preset';
@import 'node_modules/@angular/cdk/overlay-prebuilt';

@include theme-light {
  @include light-mode;
}

@include theme-dark {
  @include dark-mode;
}

:root {
  @include component-size;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC',
    Arial, 'Microsoft YaHei', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
}

button {
  @include text-set(m);
}

a {
  color: use-rgb(primary);
  text-decoration: none;

  &:hover {
    color: use-rgb(p-1);
    text-decoration: underline;
  }

  &:active,
  &:focus {
    color: use-rgb(p-0);
    text-decoration: underline;
  }
}

[class^='aui-'],
[class*=' aui-'] {
  box-sizing: border-box;

  &[hidden] {
    display: none;
  }
}

.aui-tooltip-copy {
  cursor: pointer;
}

aui-icon.aui-tooltip-copy {
  span + & {
    margin-left: use-var(spacing-s);
  }

  &:hover {
    color: use-rgb(primary);
  }
}

.aui-tab-label__content aui-icon:first-child .aui-icon {
  margin-right: use-var(spacing-s);
}
