@import '../theme/var';

aui-icon {
  vertical-align: bottom;
}

.aui-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
  fill: currentColor;

  &__background {
    width: 1em;
    height: 1em;
    fill: white;

    &.circle {
      clip-path: circle(calc(0.5em - 1px));
    }

    &.triangle {
      clip-path: polygon(
        0.5em 1px,
        calc(1em - 1px) calc(1em - 1px),
        1px calc(1em - 1px)
      );
    }
  }

  &--left {
    margin-left: use-var(spacing-s);
  }

  &--right {
    margin-right: use-var(spacing-s);
  }
}

.aui-icon-spinner {
  animation: rotating 0.5s linear infinite;
}

aui-icon + aui-icon > .aui-icon {
  margin-left: use-var(spacing-s);
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
