@use '../theme/var' as *;

aui-icon {
  vertical-align: bottom;
}

.aui-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
  fill: currentcolor;

  &__background {
    width: 1em;
    height: 1em;
    fill: white;

    &.circle {
      clip-path: circle(45%);
    }

    &.triangle {
      clip-path: polygon(50% 10%, 90% 90%, 10% 90%);
    }
  }

  &--left {
    margin-left: use-var(spacing-s);
  }

  &--right {
    margin-right: use-var(spacing-s);
  }
}

.aui-icon-spinner {
  animation: rotating 0.5s linear infinite;
}

aui-icon + aui-icon > .aui-icon {
  margin-left: use-var(spacing-s);
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}
