@import '../theme/var';

aui-icon {
  vertical-align: bottom;
}

.aui-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
  fill: currentColor;

  &--left {
    margin-left: get-size(spacing-s);
  }

  &--right {
    margin-right: get-size(spacing-s);
  }
}

.aui-icon-spinner {
  animation: rotating 0.5s linear infinite;
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
