@import '../theme/mixin';
@import '../theme/var';

$block: 'aui-radio';

.#{$block} {
  margin-right: get-size(spacing-xxxl);
  display: inline-block;
  color: get-color(n-1);
  font-size: get-size(font-size-m);
  line-height: get-size(inline-height-m);
  position: relative;

  &__input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      .#{$block}__pointer {
        border-color: get-color(primary);
        background-color: get-color(n-10);
      }
    }
  }

  &__content {
    vertical-align: middle;
  }

  &__pointer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: get-size(icon-size-m);
    height: get-size(icon-size-m);
    margin-right: get-size(spacing-m);
    border-radius: 50%;
    border: get-size(border-m) $border-style get-color(n-7);
    background-color: get-color(n-9);
    vertical-align: middle;
    @include transition;

    &:before {
      content: '';
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
    }
  }

  &.cdk-keyboard-focused &__pointer {
    border-color: get-color(primary);
    @include outline-shadow(primary);
  }

  &.isChecked &__pointer {
    border-color: get-color(primary);
    background-color: get-color(primary);

    &:before {
      background-color: get-color(n-10);
    }
  }

  &.isDisabled &__label {
    cursor: not-allowed;
  }

  &.isDisabled &__pointer {
    border-color: get-color(n-7);
    background-color: get-color(n-8);
  }

  &.isDisabled.isChecked &__pointer {
    border-color: get-color(p-4);
    background-color: get-color(p-4);
  }
}
