<div
  [class]="bem.block(labelPosition)"
  [class.isPlain]="plain"
  [class.hasError]="hasError$ | async"
>
  <div
    [ngClass]="
      bem.element(
        'label-wrapper',
        { required: !!itemControl?.required },
        labelPosition
      )
    "
    [class.hasLabel]="!!itemLabel"
    [style.width]="labelWidth"
  >
    <ng-content select="label[auiFormItemLabel]"></ng-content>
  </div>
  <div class="aui-form-item__container">
    <div class="aui-form-item__content" [ngClass]="formItemWidthClass">
      <ng-content></ng-content>
      <div
        *ngIf="emptyAddon || addons?.length"
        class="aui-form-item__addon-wrapper"
      >
        <ng-content select="[auiFormItemAddon]"></ng-content>
      </div>
    </div>
    <div
      *ngIf="(hasError$ | async) && (errorCount$ | async)"
      class="aui-form-item__error-wrapper"
    >
      <ng-content select="[auiFormItemError]"></ng-content>
    </div>
    <div *ngIf="hintCount$ | async" class="aui-form-item__hint-wrapper">
      <ng-content select="[auiFormItemHint]"></ng-content>
    </div>
  </div>
</div>
