@import '../../theme/var';
@import '../../theme/mixin';

$form-item-width: (
  large: (
    width: get-size(form-item-width-l),
  ),
  medium: (
    width: get-size(form-item-width-m),
  ),
  small: (
    width: get-size(form-item-width-s),
  ),
);

.aui-form-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: $form-item-margin-vertical;
  color: get-color(n-1);
  font-size: get-size(font-size-m);

  &--top {
    flex-direction: column;
    .aui-form-item__label-wrapper {
      line-height: get-size(line-height-m);
      margin-bottom: 2px;
      &:after {
        display: none;
      }
    }
  }

  &__label-wrapper {
    display: flex;
    align-items: center;
    line-height: get-size(line-height-xxxl);
    flex-shrink: 0;
    padding-right: 8px;
    overflow: hidden;

    &--required .aui-form-item__label:before {
      content: '*';
      color: $color-error;
      margin-right: 4px;
    }

    &.hasLabel:after {
      content: ':';
      align-self: flex-start;
      margin-left: 2px;
      line-height: get-size(line-height-xxxl);
    }

    &--left {
      justify-content: flex-start;

      .aui-form-item__label {
        text-align: start;
      }
    }

    &--right {
      justify-content: flex-end;

      .aui-form-item__label {
        text-align: end;
      }
    }
  }

  &__label {
    display: block;
    line-height: get-size(line-height-m);
  }

  &__container {
    width: 100%;
    min-width: 0;
  }

  &__content {
    display: flex;
    align-items: center;
    min-height: get-size(line-height-xxxl);

    aui-select,
    aui-multi-select {
      &.aui-form-item__control {
        width: 100%;
      }
    }

    @each $key in large medium small {
      $map: map-get($form-item-width, $key);
      &--#{$key} {
        .aui-form-item__control {
          width: map-get($map, width);
        }
        aui-select,
        aui-multi-select {
          &.aui-form-item__control {
            width: map-get($map, width);
          }
        }
      }
    }
  }

  &__content + &__hint-wrapper,
  &__content + &__error-wrapper {
    margin-top: 4px;
  }

  &__hint-wrapper,
  &__error-wrapper {
    font-size: get-size(font-size-s);
    line-height: get-size(line-height-s);
  }

  &__hint-wrapper {
    color: get-color(n-4);
  }

  &__error-wrapper {
    color: get-color(red);
  }

  &__addon-wrapper {
    align-self: flex-start;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: get-size(line-height-xxxl);
    width: get-size(line-height-xxxl);
    padding-left: 8px;
    color: get-color(n-4);
    font-size: get-size(font-size-m);
  }
}

.aui-form--inline {
  display: flex;

  .aui-form-item {
    margin-bottom: 0;
    margin-right: 8px;
  }
}
