@import '../../theme/var';
@import '../../theme/mixin';

$form-item-width: (
  large: (
    width: use-var(form-item-width-l),
  ),
  medium: (
    width: use-var(form-item-width-m),
  ),
  small: (
    width: use-var(form-item-width-s),
  ),
);

.aui-form-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: use-var(spacing-xl);
  @include text-set(m, main);

  &--top {
    flex-direction: column;

    .aui-form-item__label-wrapper {
      line-height: use-var(line-height-m);
      margin-bottom: use-var(spacing-s);

      &:after {
        display: none;
      }
    }
  }

  &__label-wrapper {
    display: flex;
    align-items: center;
    line-height: use-var(inline-height-m);
    flex-shrink: 0;
    padding-right: use-var(spacing-m);
    overflow: hidden;

    &--required .aui-form-item__label:before {
      content: '*';
      color: use-rgb(red);
      margin-right: use-var(spacing-s);
    }

    &.hasLabel:after {
      content: ':';
      align-self: flex-start;
      margin-left: use-var(spacing-xs);
    }

    &--left {
      justify-content: flex-start;

      .aui-form-item__label {
        text-align: start;
      }
    }

    &--right {
      justify-content: flex-end;

      .aui-form-item__label {
        text-align: end;
      }
    }
  }

  &__label {
    display: block;
    line-height: use-var(line-height-s);
  }

  &__container {
    width: 100%;
    min-width: 0;
  }

  &__content {
    display: flex;
    align-items: center;
    min-height: use-var(inline-height-m);

    @each $key in large medium small {
      $map: map-get($form-item-width, $key);
      &--#{$key} {
        .aui-form-item__control {
          flex: 1;
          max-width: map-get($map, width);
        }
      }
    }
  }

  &__content + &__hint-wrapper,
  &__content + &__error-wrapper {
    margin-top: use-var(spacing-s);
  }

  &__hint-wrapper,
  &__error-wrapper {
    @include text-set(s);
  }

  &__hint-wrapper {
    color: use-text-color(help);
  }

  &__error-wrapper {
    color: use-rgb(red);
  }

  &__addon-wrapper {
    align-self: flex-start;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    box-sizing: content-box;
    height: use-var(inline-height-m);
    min-width: use-var(icon-size-m);
    padding-left: use-var(spacing-m);
    color: use-rgb(n-4);
    font-size: use-var(font-size-m);

    aui-icon {
      font-size: use-var(icon-size-m);
    }
  }

  &.isPlain & {
    &__label-wrapper {
      line-height: use-var(line-height-m);

      &--required .aui-form-item__label:before {
        display: none;
      }
    }

    &__content {
      min-height: use-var(line-height-m);
    }

    &__addon-wrapper {
      height: use-var(line-height-m);
    }
  }
}

.aui-form--inline {
  display: flex;

  .aui-form-item {
    margin-bottom: 0;
    margin-right: use-var(spacing-m);
  }
}
