<div
  [class]="bem.block(labelPosition)"
  [class.isPlain]="plain"
  [class.hasError]="hasError$ | async"
  >
  <div
    [ngClass]="
      bem.element(
        'label-wrapper',
        { required: !!itemControl?.required },
        labelPosition
      )
    "
    [class.hasLabel]="!!itemLabel"
    [style.width]="labelWidth"
    >
    <ng-content select="label[auiFormItemLabel]"></ng-content>
  </div>
  <div class="aui-form-item__container">
    <div
      class="aui-form-item__content"
      [ngClass]="formItemWidthClass"
      >
      <ng-content></ng-content>
      @if (emptyAddon || addons?.length) {
        <div
          class="aui-form-item__addon-wrapper"
          >
          <ng-content select="[auiFormItemAddon]"></ng-content>
        </div>
      }
    </div>
    @if ((hasError$ | async) && (errorCount$ | async)) {
      <div
        class="aui-form-item__error-wrapper"
        >
        <ng-content select="[auiFormItemError]"></ng-content>
      </div>
    }
    @if (hintCount$ | async) {
      <div
        class="aui-form-item__hint-wrapper"
        >
        <ng-content select="[auiFormItemHint]"></ng-content>
      </div>
    }
  </div>
</div>
