@use '../theme/var' as var;

$block: aui-sort-header;

.#{$block} {
  display: flex;
  cursor: pointer;

  &__button {
    border: none;
    background: 0 0;
    display: flex;
    align-items: center;
    padding: 0;
    outline: 0;
    font: inherit;
    cursor: inherit;
    color: currentcolor;
    text-align: left;
  }

  &__indicator {
    margin-left: var.$sort-indicator-margin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:before,
    &:after {
      content: '';
      width: 0;
      height: 0;
      border-left: var.$sort-indicator-size solid transparent;
      border-right: var.$sort-indicator-size solid transparent;
    }

    &:before {
      border-bottom: var.$sort-indicator-size solid var.$sort-indicator-color;
      margin-bottom: var.$sort-indicator-size;
    }

    &:after {
      border-top: var.$sort-indicator-size solid var.$sort-indicator-color;
    }
  }

  &--active {
    .#{$block}__indicator {
      &--asc {
        &:before {
          border-bottom-color: var.$sort-indicator-color-active;
        }
      }

      &--desc {
        &:after {
          border-top-color: var.$sort-indicator-color-active;
        }
      }
    }
  }
}
