@import '../../theme/var';
@import '../../theme/mixin';

.aui-menu-group {
  &__title {
    display: inline-block;
    margin: 0 0 get-size(spacing-s) 0;
    padding: get-size(spacing-s) 0;
    font-size: get-size(font-size-s);
    line-height: get-size(line-height-s);
    color: get-color(n-4);
    font-weight: get-size(font-weight-bold);
  }
}

aui-menu-group:not(:first-child) .aui-menu-group {
  margin-top: get-size(spacing-m);
  padding-top: get-size(spacing-m);
  border-top: 1px solid get-color(n-8);
}
