<div
  *ngIf="visible"
  [class]="bem.block(type)"
  [class.hasTitle]="title || titleRef"
>
  <aui-icon
    class="aui-inline-alert__icon"
    [icon]="iconMap(type)"
    [background]="iconMap(type).endsWith('_triangle_s') ? 'triangle' : 'circle'"
  ></aui-icon>
  <div class="aui-inline-alert__body">
    <div
      class="aui-inline-alert__title"
      *ngIf="title || titleRef"
    >
      <ng-container *ngIf="title">{{ title }}</ng-container>
      <ng-content select="[auiInlineAlertTitle]"></ng-content>
    </div>
    <div class="aui-inline-alert__content">
      <ng-container *ngIf="content">{{ content }}</ng-container>
      <ng-content></ng-content>
    </div>
  </div>
  <aui-icon
    *ngIf="closable"
    class="aui-inline-alert__close"
    icon="close"
    (click)="closeSelf()"
  ></aui-icon>
</div>
