@import '../theme/var';
@import '../theme/mixin';

$padding-h: 16px - 1px;
$padding-v: 12px - 1px;

@mixin color-of-types() {
  $types: (
    primary: primary,
    success: success,
    warning: warning,
    danger: danger,
    error: danger,
    info: primary,
  );

  @each $name, $value in $types {
    &--#{$name} {
      background-color: get-color($value, 7);
      border-color: get-color($value);
    }
    &--#{$name} &__icon {
      color: get-color($value);
    }
  }
}

.aui-inline-alert {
  display: flex;
  margin: 0 0 get-size(spacing, xl);
  padding: $padding-v $padding-h;
  border-radius: get-size(border-radius);
  border-width: 1px;
  border-style: solid;

  @include color-of-types;

  &__icon {
    display: flex;
    margin: 0 8px 0 0;
    align-items: center;
    height: get-size(line-height, m);
    font-size: get-size(font-size, l);
  }

  &.hasTitle &__icon {
    height: get-size(line-height, xl);
  }

  &__body {
    flex: 1;
    width: 100%;
    overflow: hidden;
  }

  &__close {
    display: block;
    margin: 4px 0 0 $padding-h;
    height: 1em;
    line-height: 1em;
    font-size: get-size(font-size, s);
    color: get-color(neutral, 4);
    cursor: pointer;

    &:hover {
      color: get-color(neutral, 2);
    }
  }

  &__title {
    @include text-size(xl);
    @include text-overflow;

    color: get-color(text);
  }

  &__content {
    @include text-size(m);

    color: get-color(text);
  }

  &.hasTitle &__content {
    color: get-color(text, secondary);
  }

  &__title + &__content {
    margin-top: 4px;
  }
}
