@use 'sass:string';
@use '../theme/var' as var;
@use '../theme/mixin' as mixin;

$padding-h: 20px - 1px;
$padding-v: 12px - 1px;

@mixin color-of-types() {
  $types: (
    primary: blue,
    success: green,
    warning: yellow,
    danger: red,
    error: red,
    info: blue,
  );

  @each $name, $value in $types {
    &--#{$name} {
      border-color: var.use-rgb($value);
      @include mixin.theme-light {
        background-color: var.use-rgb(#{string.slice('#{$value}', 1, 1)}-7);
      }
      @include mixin.theme-dark {
        background-color: var.use-rgb(#{string.slice('#{$value}', 1, 1)}-6);
      }
    }
    &--#{$name} &__icon {
      color: var.use-rgb($value);
    }
    &--#{$name} &__close:hover {
      color: var.use-rgb($value);
    }
  }
}

.aui-inline-alert {
  display: flex;
  margin: 0 0 var.use-var(spacing-xl);
  padding: $padding-v $padding-h;
  border-radius: var.use-var(border-radius-m);
  border-width: 1px;
  border-style: solid;

  @include color-of-types;

  &__icon {
    display: flex;
    margin: 0 8px 0 0;
    align-items: center;
    height: var.use-var(line-height-m);
    font-size: var.use-var(icon-size-m);
  }

  &.hasTitle &__icon {
    height: var.use-var(line-height-xl);
  }

  &__body {
    flex: 1;
    width: 100%;
    overflow: hidden;
  }

  &__close {
    display: block;
    margin: 4px 0 0 $padding-h;
    height: 1em;
    line-height: 1em;
    font-size: var.use-var(font-size-s);
    color: var.use-rgb(n-2);
    cursor: pointer;
  }

  &__title {
    @include mixin.text-set(xl, main);
    @include mixin.text-overflow;
  }

  &__content {
    @include mixin.text-set(m, main);
  }

  &.hasTitle &__content {
    color: var.use-text-color(secondary);
  }

  &__title + &__content {
    margin-top: 4px;
  }
}
