@use 'sass:string';
@import '../theme/var';
@import '../theme/mixin';

$padding-h: 16px - 1px;
$padding-v: 12px - 1px;

@mixin color-of-types() {
  $types: (
    primary: blue,
    success: green,
    warning: yellow,
    danger: red,
    error: red,
    info: blue,
  );

  @each $name, $value in $types {
    &--#{$name} {
      background-color: get-color(#{string.slice('#{$value}', 1, 1)}-7);
      border-color: get-color($value);
    }
    &--#{$name} &__icon {
      color: get-color($value);
    }
  }
}

.aui-inline-alert {
  display: flex;
  margin: 0 0 get-size(spacing-xl);
  padding: $padding-v $padding-h;
  border-radius: get-size(border-radius-m);
  border-width: 1px;
  border-style: solid;

  @include color-of-types;

  &__icon {
    display: flex;
    margin: 0 8px 0 0;
    align-items: center;
    height: get-size(line-height-m);
    font-size: get-size(icon-size-m);
  }

  &.hasTitle &__icon {
    height: get-size(line-height-xl);
  }

  &__body {
    flex: 1;
    width: 100%;
    overflow: hidden;
  }

  &__close {
    display: block;
    margin: 4px 0 0 $padding-h;
    height: 1em;
    line-height: 1em;
    font-size: get-size(font-size-s);
    color: get-color(n-4);
    cursor: pointer;

    &:hover {
      color: get-color(n-2);
    }
  }

  &__title {
    @include text-set(xl);
    @include text-overflow;
  }

  &__content {
    @include text-set(m);
  }

  &.hasTitle &__content {
    color: get-text-color(secondary);
  }

  &__title + &__content {
    margin-top: 4px;
  }
}
