@if (visible) {
  <div
    [class]="bem.block(type)"
    [class.hasTitle]="title || titleRef"
    >
    <aui-icon
      class="aui-inline-alert__icon"
      [icon]="iconMap(type)"
      [background]="iconMap(type).endsWith('_triangle_s') ? 'triangle' : 'circle'"
    ></aui-icon>
    <div class="aui-inline-alert__body">
      @if (title || titleRef) {
        <div
          class="aui-inline-alert__title"
          >
          @if (title) {
            {{ title }}
          }
          <ng-content select="[auiInlineAlertTitle]"></ng-content>
        </div>
      }
      <div class="aui-inline-alert__content">
        @if (content) {
          {{ content }}
        }
        <ng-content></ng-content>
      </div>
    </div>
    @if (closable) {
      <aui-icon
        class="aui-inline-alert__close"
        icon="xmark"
        (click)="closeSelf()"
      ></aui-icon>
    }
  </div>
}
