@import '../theme/var';

$stickyCssClass: 'aui-table-sticky';

.aui-table {
  display: block;
  font-size: get-size(font-size-m);
  background-color: get-color(n-9);
  color: get-color(n-1);
  padding: 0 get-size(table-margin);

  &__scroll-wrapper {
    padding: 0 get-size(table-margin);
    background-color: get-color(n-9);
    overflow: auto;
    .aui-table {
      padding: 0;
      overflow: auto;
    }
    .aui-table__cell {
      background: get-color(n-10);
    }
    &--has-scroll {
      .#{$stickyCssClass} {
        &:after {
          position: absolute;
          top: 0;
          bottom: -1px;
          width: 30px;
          transform: translateX(-100%);
          // stylelint-disable-next-line plugin/no-low-performance-animation-properties
          transition: box-shadow 0.3s;
          content: '';
          pointer-events: none;
        }
        &-border-elem-left {
          &:after {
            right: -50px;
          }
        }
        &-border-elem-right {
          overflow: visible;
          &:after {
            left: 0;
          }
        }
      }
    }
    &--scrolling {
      .#{$stickyCssClass} {
        &-border-elem-left {
          &:after {
            // stylelint-disable-next-line plugin/no-low-performance-animation-properties
            box-shadow: inset 10px 0 8px -8px rgb(0 0 0 / 15%);
          }
        }
      }
    }

    &--before-end {
      .#{$stickyCssClass} {
        &-border-elem-right {
          &:after {
            // stylelint-disable-next-line plugin/no-low-performance-animation-properties
            box-shadow: inset -10px 0 8px -8px rgb(0 0 0 / 15%);
          }
        }
      }
    }
  }

  &__row,
  &__header-row {
    display: flex;
    align-items: stretch;
    box-sizing: border-box;

    // Workaround for https://goo.gl/pFmjJD in IE 11. Adds a pseudo
    // element that will stretch the row the correct height. See:
    // https://connect.microsoft.com/IE/feedback/details/802625
    &:after {
      display: inline-block;
      min-height: inherit;
      content: '';
    }
  }
  &__row {
    // padding: get-size(table-cell-padding-top) calc(var(--aui-table-cell-padding-left) / 2);
    position: relative;
    .aui-table__cell {
      border-width: get-size(table-border-width) 0;
      border-style: solid;
      border-color: $table-row-border-color;
      &:first-of-type {
        border-left-width: get-size(table-border-width);
        padding-left: get-size(table-cell-padding-lr);
        // margin-left:get-size(table-margin)
      }
      &:last-of-type {
        border-right-width: get-size(table-border-width);
        padding-right: get-size(table-cell-padding-lr);
        // margin-right:get-size(table-margin)
      }
    }

    &:first-of-type {
      .aui-table__cell {
        &:first-of-type {
          border-top-left-radius: 4px;
          // margin-left:get-size(table-margin)
        }
        &:last-of-type {
          border-top-right-radius: 4px;
          // margin-right:get-size(table-margin)
        }
      }
    }
    &:last-of-type {
      .aui-table__cell {
        margin-bottom: get-size(table-margin);
        &:first-of-type {
          border-bottom-left-radius: 4px;
        }
        &:last-of-type {
          border-bottom-right-radius: 4px;
        }
      }
    }

    &:not(&:last-child) {
      .aui-table__cell {
        border-bottom: 0;
      }
    }

    &.isDisabled:before {
      content: '';
      z-index: 10;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color-white;
      opacity: 0.7;
      cursor: not-allowed;
    }
  }
  &__header-row {
    padding: 0;

    .aui-table__header-cell {
      &:first-of-type {
        padding-left: get-size(table-cell-padding-lr);
      }
      &:last-of-type {
        padding-right: get-size(table-cell-padding-lr);
      }
    }
  }
  &__cell,
  &__header-cell {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
    display: flex;
    align-items: center;
    left: 10px;
  }
  &__cell {
    padding: get-size(table-cell-padding-tb)
      calc(var(--aui-table-cell-padding-lr) / 2);
    background-color: get-color(n-10);
  }
  &__header-cell {
    padding: get-size(table-header-cell-padding-tb)
      calc(var(--aui-table-cell-padding-lr) / 2);
    font-weight: 500;
    line-height: get-size(line-height-m);
    background-color: get-color(n-9);
  }
}
