@import '../theme/var';
@import '../theme/mixin';

.aui-table {
  display: block;
  color: get-color(n-1);
  font-size: get-size(font-size-m);
  background-color: get-color(n-9);
  padding: 0 get-size(table-margin) get-size(table-margin);
  border-radius: get-size(border-radius-m);
  @include scroll-bar;

  &__row,
  &__header-row {
    display: flex;
    align-items: center;
  }
  &__header-row + &__row {
    border-top-left-radius: get-size(border-radius-l);
    border-top-right-radius: get-size(border-radius-l);
  }
  &__row {
    position: relative;
    border-width: get-size(table-border-width);
    border-style: solid;
    border-color: $table-row-border-color;
    border-bottom-width: 0;
    background-color: get-color(n-10);
    padding: 0 calc(var(--aui-table-cell-padding-lr) / 2);
    min-height: calc(
      #{get-size(table-border-width)} + #{get-size(table-row-min-height-m)}
    );

    &:first-child {
      border-top-left-radius: get-size(border-radius-l);
      border-top-right-radius: get-size(border-radius-l);
    }

    &:last-child {
      border-bottom-width: get-size(table-border-width);
      min-height: calc(
        #{get-size(table-border-width)} + #{get-size(table-row-min-height-m)}
      );
      border-bottom-left-radius: get-size(border-radius-l);
      border-bottom-right-radius: get-size(border-radius-l);
    }

    &.isDisabled:before {
      content: '';
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color-white;
      opacity: 0.7;
      cursor: not-allowed;
    }
  }

  &__header-row {
    background-color: get-color(n-9);
    padding: 0 calc(var(--aui-table-cell-padding-lr) / 2);
  }
  &__cell,
  &__header-cell {
    flex: 1;
  }
  &__cell {
    padding: get-size(table-cell-padding-tb-m)
      calc(var(--aui-table-cell-padding-lr) / 2);
    background-color: get-color(n-10);
    overflow: hidden;
    word-wrap: break-word;
  }
  &__header-cell {
    padding: get-size(table-header-cell-padding-tb)
      calc(var(--aui-table-cell-padding-lr) / 2);
    font-weight: 500;
    height: get-size(table-header-height);
    line-height: get-size(line-height-m);
    background-color: get-color(n-9);
    @include text-overflow;
  }
}
