@import '../../theme/var';
$b: aui-accordion-item;

.#{$b} {
  display: block;
  border-top: 1px solid $card-border-color;
  box-sizing: content-box;

  &__header {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    padding: $accordion-item-header-padding;
    cursor: pointer;

    &-toggle {
      color: $accordion-item-header-color;
      background: transparent;
      font-size: $nav-item-icon-size;
      &--expanded {
        transform: rotate(90deg);
      }
      &--right {
        flex-direction: row-reverse;
        justify-content: space-between;
      }
    }
  }
}
