@import '../../theme/var';
@import '../../theme/mixin';

.aui-accordion-item {
  display: block;
  padding: 20px;
  border: 1px solid use-rgb(n-7);
  border-radius: use-var(border-radius-l);
  background-color: use-rgb(n-10);

  &__expand-button {
    @include expand-button;

    &:first-child {
      margin-right: 20px;
    }

    &:last-child {
      margin-left: 20px;
    }
  }

  &__header {
    display: inline-flex;
    align-items: center;
    width: 100%;
    @include text-set(m);

    color: use-text-color(main);

    &-content {
      max-width: 100%;
      @include text-overflow;
    }
  }

  &__body {
    border-radius: use-var(border-radius-l);
    overflow: hidden;
  }

  &__content {
    margin-top: 16px;
    border-radius: use-var(border-radius-l);
    overflow: hidden;

    &.hasBackground {
      padding: 16px;
      background-color: use-rgb(n-9);
    }
  }
}

aui-accordion-item + aui-accordion-item .aui-accordion-item {
  margin-top: use-var(spacing-m);
}
