<div class="aui-accordion-item">
  <div class="aui-accordion-item__header">
    <button
      type="button"
      class="aui-accordion-item__expand-button"
      [class.isExpanded]="expanded"
      [disabled]="disabled"
      (click)="toggle()"
    >
      <aui-icon icon="angle_right"></aui-icon>
    </button>
    <div
      class="aui-accordion-item__header-content"
      [class.aui-accordion-item__header-content--expanded]="expanded"
    >
      <ng-content select="[auiAccordionItemHeader]"></ng-content>
    </div>
  </div>
  <div
    *ngIf="expanded"
    class="aui-accordion-item__body"
    [id]="id"
    [@expand]="expanded ? 'expanded' : 'collapsed'"
  >
    <div class="aui-accordion-item__content" [class.hasBackground]="background">
      <ng-content></ng-content>
      <ng-template [ngTemplateOutlet]="lazyContentTpl"></ng-template>
    </div>
  </div>
</div>
