@use '../../theme/var' as var;
@use '../../theme/mixin' as mixin;

.aui-accordion-item {
  display: block;
  padding: 20px;
  border: 1px solid var.use-rgb(n-7);
  border-radius: var.use-var(border-radius-l);
  background-color: var.use-rgb(n-10);

  &__expand-button {
    @include mixin.expand-button;

    &:first-child {
      margin-right: 20px;
    }

    &:last-child {
      margin-left: 20px;
    }
  }

  &__header {
    display: inline-flex;
    align-items: center;
    width: 100%;
    color: var.use-text-color(main);
    @include mixin.text-set(m);

    &-content {
      max-width: 100%;
      @include mixin.text-overflow;
    }
  }

  &__body {
    border-radius: var.use-var(border-radius-l);
    overflow: hidden;
  }

  &__content {
    margin-top: 16px;
    border-radius: var.use-var(border-radius-l);
    overflow: hidden;

    &.hasBackground {
      padding: 16px;
      background-color: var.use-rgb(n-9);
    }
  }
}

aui-accordion-item + aui-accordion-item .aui-accordion-item {
  margin-top: var.use-var(spacing-m);
}
