@for (item of treeItems; track trackById($index, item)) {
  <div
    [class]="bem.element('item')"
    [class.active]="isActive(item)"
    >
    @if (item.label; as label) {
      <a
        [href]="parent.injectId ? '#' + item.id : undefined"
        (click)="onItemClick($event, item)"
        >
        @if (isTemplateRef(label)) {
          <ng-container
            *ngTemplateOutlet="label; context: item.labelContext"
          ></ng-container>
        } @else {
          {{ item.label }}
        }
      </a>
    }
    @if (item.children?.length) {
      <aui-anchor-tree
        [treeItems]="item.children"
        [(activeId)]="activeId"
      ></aui-anchor-tree>
    }
  </div>
}
