@use '../../theme/var' as var;
@use '../../theme/mixin' as mixin;

.aui-button-group {
  display: inline-block;

  .aui-button {
    border-radius: 0;
    z-index: 1;

    &:first-child {
      border-top-left-radius: var.use-var(border-radius-m);
      border-bottom-left-radius: var.use-var(border-radius-m);
    }

    &:last-child {
      border-top-right-radius: var.use-var(border-radius-m);
      border-bottom-right-radius: var.use-var(border-radius-m);
    }

    &:hover,
    &:active,
    &.isActive,
    &.cdk-keyboard-focused {
      z-index: 2;
    }

    &[disabled] {
      z-index: 0;
    }

    + .aui-button {
      margin-left: -1px;
    }

    &:not(.isPlain) + .aui-button:not(.isPlain) {
      margin-left: 1px;
    }
  }
}

aui-button-group + aui-button-group > .aui-button-group,
aui-button-group + .aui-button,
.aui-button + aui-button-group > .aui-button-group {
  margin-left: var.use-var(spacing-m);
}
