@import '../../theme/var';
@import '../../theme/mixin';

.aui-button-group {
  display: inline-block;

  .aui-button {
    border-radius: 0;
    z-index: 1;

    &:first-child {
      border-top-left-radius: get-size(border-radius-m);
      border-bottom-left-radius: get-size(border-radius-m);
    }

    &:last-child {
      border-top-right-radius: get-size(border-radius-m);
      border-bottom-right-radius: get-size(border-radius-m);
    }

    &:hover,
    &:active,
    &.isActive,
    &.cdk-keyboard-focused {
      z-index: 2;
    }

    &[disabled] {
      z-index: 0;
    }

    &.isPlain:not(:last-child) {
      margin-right: -1px;
    }

    &:not(:last-child) {
      margin-right: 1px;
    }
  }
}

@include default-margin(aui-button-group);
