@import '../../theme/var';
@import '../../theme/mixin';

.aui-nav-item-group {
  position: relative;

  & &__title {
    padding: get-size(spacing-m) get-size(spacing-m) get-size(spacing-s);
  }

  &__title {
    color: get-color(help);
    font-size: get-size(font-size-s);
    line-height: get-size(line-height-s);
  }
}

.aui-nav-item-group__title + .aui-nav-item__content {
  margin-top: get-size(spacing-xs);
}

aui-nav-item-li {
  display: block;
}
