<div class="aui-nav-item-ul" [class.isMainPanelCollapsed]="mainPanelCollapsed">
  <aui-nav-item-li
    *ngFor="let item of items; trackBy: trackByKey"
    [item]="item"
    [mainPanelCollapsed]="mainPanelCollapsed"
    (itemFocused)="focusedItemChanged.emit($event)"
  ></aui-nav-item-li>

  <div *ngFor="let group of groups" class="aui-nav-item-group">
    <div
      *ngIf="!mainPanelCollapsed && group.title"
      class="aui-nav-item-group__title"
    >
      <ng-container [ngTemplateOutlet]="group.title.template"></ng-container>
    </div>
    <aui-nav-item-li
      *ngFor="let item of group.items; trackBy: trackByKey"
      [item]="item"
      [mainPanelCollapsed]="mainPanelCollapsed"
      (itemFocused)="focusedItemChanged.emit($event)"
    ></aui-nav-item-li>
  </div>
</div>
