<div
  [class]="bem.block(size)"
  [ngClass]="{
    isFocus: isFocus,
    isDisabled: disabled
  }"
  auiClickOutside
  (auiClickOutside)="isFocus = false"
>
  <button
    *ngIf="controls"
    aui-button
    type="button"
    [ngClass]="bem.element('decrease')"
    [disabled]="disabled || model <= min"
    (click)="takeOneStep(false); isFocus = true"
  >
    <aui-icon icon="minus"></aui-icon>
  </button>
  <input
    #inputRef
    autocomplete="off"
    (change)="inputChanged($any($event).target.value)"
    [disabled]="disabled"
    [ngClass]="bem.element('input')"
    [placeholder]="placeholder"
    (focus)="isFocus = true"
    (blur)="isFocus = false"
  />
  <button
    *ngIf="controls"
    aui-button
    type="button"
    [ngClass]="bem.element('increase')"
    [disabled]="disabled || model >= max"
    (click)="takeOneStep(true); isFocus = true"
  >
    <aui-icon icon="plus"></aui-icon>
  </button>
</div>
