<div [ngClass]="bem.block(size)">
  <button
    *ngIf="controls"
    aui-button
    type="button"
    [ngClass]="bem.element('decrease')"
    square="true"
    [size]="size"
    [disabled]="disabled || (value$ | async) <= min"
    (click)="takeOneStep(false)"
  >
    <aui-icon icon="minus"></aui-icon>
  </button>
  <input
    #inputRef
    aui-input
    autocomplete="off"
    [max]="max"
    [min]="min"
    [step]="step"
    (change)="inputChanged($event.target.value)"
    [disabled]="disabled"
    [ngClass]="bem.element('input')"
    [placeholder]="placeholder"
    [size]="size"
  />
  <button
    *ngIf="controls"
    aui-button
    type="button"
    [ngClass]="bem.element('increase')"
    square="true"
    [size]="size"
    [disabled]="disabled || (value$ | async) >= max"
    (click)="takeOneStep(true)"
  >
    <aui-icon icon="plus"></aui-icon>
  </button>
</div>
