@import '../../theme/var';
@import '../../theme/mixin';

$block: 'aui-number-input';

.#{$block} {
  display: flex;
  padding: 3px;
  width: get-size(form-item-width-s);
  border: 1px solid get-color(n-7);
  border-radius: get-size(border-radius-m);
  background-color: get-color(n-9);
  color: get-text-color(main);

  &--small {
    .#{$block}__decrease.aui-button,
    .#{$block}__increase.aui-button {
      width: get-size(line-height-m);
      height: get-size(line-height-m);
    }
  }

  &:hover {
    border-color: get-color(primary);
  }

  &.isFocus {
    border-color: get-color(primary);
    @include outline-shadow(primary);
  }

  &.isDisabled {
    border: 1px solid get-color(n-7);
    &:hover {
      cursor: not-allowed;
    }
    .#{$block}__input {
      color: get-color(n-6);
      &:hover {
        cursor: not-allowed;
      }
    }
  }

  &__decrease.aui-button,
  &__increase.aui-button {
    background-color: get-color(n-8);
    border: unset;
    width: get-size(icon-size-xl);
    height: get-size(icon-size-xl);
    aui-icon {
      font-size: get-size(font-size-s);
    }
    .aui-button__content {
      padding: unset;
    }
  }

  &__input {
    min-width: 0;
    line-height: get-size(line-height-m);
    border: unset;
    padding: unset;
    margin: 0 get-size(spacing-s);
    background-color: get-color(n-9);
    color: get-text-color(main);
    text-align: center;
    &:focus {
      border: unset;
    }
    &:focus-visible {
      outline: unset;
    }
  }
}

aui-number-input.ng-invalid.ng-dirty,
.ng-submitted aui-number-input.ng-invalid {
  border-color: get-color(red);
}
