@import '../../theme/var';
@import '../../theme/mixin';

$block: 'aui-number-input';

.#{$block} {
  display: inline-flex;
  position: relative;
  width: 144px;

  &--large {
    width: 172px;
  }

  &--small {
    width: 140px;
  }

  &--mini {
    width: 122px;
  }

  &__decrease,
  &__increase {
    z-index: 1;
    &:not([disabled]) {
      &:hover,
      &:active,
      &.isActive,
      &.cdk-keyboard-focused {
        z-index: 3;
      }
    }
  }

  &__decrease.aui-button {
    left: 1px;
    border-radius: $border-radius 0 0 $border-radius;
  }

  &__increase.aui-button {
    right: 1px;
    border-radius: 0 $border-radius $border-radius 0;
  }

  &__input {
    min-width: 0;
  }

  .aui-input {
    &:not(:first-child) {
      border-radius: 0;
    }

    text-align: center;
    &:hover,
    &:active,
    &:focus {
      z-index: 3;
    }
  }
}

aui-number-input.ng-invalid.ng-dirty,
.ng-submitted aui-number-input.ng-invalid {
  .aui-number-input__input {
    border-color: $color-error;
    z-index: 2;
  }
}
