@use '../../src/theme/pattern' as pattern;

.container {
  padding: 20px;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  background-color: #eee;
}

.card {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadow-0 {
  @include pattern.shadow-0;
}

.shadow-2 {
  @include pattern.shadow-2;
}

.shadow-8 {
  @include pattern.shadow-8;
}

.shadow-16 {
  @include pattern.shadow-16;
}
