@import '../../theme/var';
@import '../../theme/mixin';

@mixin nav-icon-size($size: m) {
  width: get-size(icon-size-#{$size});
  height: get-size(icon-size-#{$size});
  line-height: get-size(icon-size-#{$size});
  font-size: get-size(icon-size-#{$size});
  display: inline-flex;
}

.aui-nav-item-li {
  position: relative;
  &__content {
    padding: 6px get-size(spacing-xxl);
    display: flex;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    border-radius: get-size(border-radius-m);
    color: get-color(n-3);
    align-items: center;
    @include transition;

    aui-icon {
      color: get-color(n-4);
    }

    &:link,
    &:hover,
    &:visited,
    &:active {
      color: get-color(n-3);
    }

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }

    &:hover,
    &.isActive {
      background-color: get-color(p-5);
    }

    &.isActive {
      color: get-color(primary);
      aui-icon {
        color: get-color(primary);
      }
    }

    &.isActive.hasSubItem:not(.isLeaf) {
      background-color: transparent;
    }

    &[data-set-depth='0'] {
      padding: 10px get-size(spacing-xxl);
      font-weight: 500;
    }

    &[data-set-depth='1'] {
      padding-left: 48px;
    }
  }

  &__expansion-indicator,
  &__more {
    margin-left: get-size(spacing-xl);
    @include nav-icon-size;
  }

  &__content.isExpanded &__expansion-indicator {
    transform: rotate(90deg);
  }
}

.aui-nav-item {
  display: flex;
  align-items: center;
  width: 100%;

  &__icon {
    margin-right: get-size(spacing-l);
    @include nav-icon-size;
  }

  &__content {
    width: 100%;
    line-height: 20px;
    max-width: 120px;
    font-size: get-size(font-size-m);
  }
}

.aui-nav-leaf {
  &__title {
    font-size: get-size(font-size-l);
    color: get-color(n-2);
    padding-bottom: get-size(spacing-l);
    border-bottom: 1px solid get-color(n-9);
    margin-bottom: 6px;
    font-weight: 500;
  }
  .aui-nav-item-li__content {
    padding: 6px get-size(spacing-xl);
  }
  .aui-nav-item {
    min-width: 116px;
  }
}
