@import '../../theme/var';
@import '../../theme/mixin';

.aui-nav-item-li {
  position: relative;

  &.isExpanded {
    background-color: $nav-menu-bg-color-secondary;
  }

  &.isActive {
    &:before {
      content: '';
      display: block;
      width: $nav-item-selected-marker-width;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      background-color: $nav-item-selected-marker-color;
    }
  }

  &.hasDivider {
    $divider-height: $nav-item-selected-marker-width * 2 + $border-width;

    margin-bottom: $divider-height;

    &:after {
      content: '';
      display: block;
      box-sizing: border-box;
      position: absolute;
      left: 0;
      bottom: -$divider-height;
      padding: $nav-item-selected-marker-width $nav-item-selected-marker-width *
        2;
      height: $divider-height;
      width: 100%;
      background-clip: content-box;
      background-color: $nav-menu-divider-color;

      @at-root .aui-nav-item-ul.isMainPanelCollapsed & {
        padding: $nav-item-selected-marker-width;
      }
    }
  }

  &__content {
    padding: $nav-item-padding-ver $nav-item-padding-hoz $nav-item-padding-ver
      $nav-item-padding-hoz + $nav-item-selected-marker-width;
    display: flex;
    justify-content: space-between;
    position: relative;
    cursor: pointer;

    &:hover {
      color: $nav-menu-color-hover;
      background-color: $nav-menu-bg-color-tertiary;
    }

    &.isActive:not(.hasSubItem) {
      color: $nav-menu-color-hover;
    }

    &.isActive.hasSubItem:not(.isExpanded) {
      color: $nav-menu-color-hover;
    }

    &[data-set-depth='0'] {
      padding: $nav-item-padding-ver-large $nav-item-padding-hoz
        $nav-item-padding-ver-large $nav-item-padding-hoz +
        $nav-item-selected-marker-width;

      &.isMainPanelCollapsed {
        &.hasSubItem:after {
          content: '';
          position: absolute;
          left: $nav-menu-main-panel-width - 12px;
          bottom: 12px;
          width: 0;
          height: 0;
          border-left: 4px solid transparent;
          border-bottom: 4px solid currentColor;
        }
        &.isActive {
          background-color: $nav-menu-bg-color-main;
        }
        &.isSticked {
          color: $nav-menu-color-hover;
          background-color: $nav-menu-bg-color-secondary;
        }
        &:hover {
          color: $nav-menu-color-hover;
        }
        &.hasSubItem:hover {
          background-color: $nav-menu-bg-color-secondary;
        }
      }
    }

    &[data-set-depth='2'] {
      padding-left: $nav-item-padding-hoz * 2 + $nav-item-selected-marker-width;
    }
  }

  &__expansion-indicator {
    margin-left: $nav-item-icon-margin;
    font-size: $nav-item-icon-size;
    line-height: $nav-item-line-height;
  }

  &__content.isExpanded &__expansion-indicator {
    transform: rotate(-90deg);
  }
}

.aui-nav-item {
  display: flex;
  align-items: center;
  width: 100%;

  &__icon {
    margin-right: $nav-item-icon-margin;
    width: $nav-item-icon-size;
    height: $nav-item-line-height;
    line-height: $nav-item-line-height;
    font-size: $nav-item-icon-size;
  }

  &__content {
    width: 100%;
    font-size: $nav-item-font-size;
    line-height: $nav-item-line-height;
  }
}

.aui-tooltip.aui-nav-item-tooltip {
  padding: 2px 6px;
  color: $color-text-main;
}
