<div
  class="aui-nav-item-li"
  [class.isActive]="item.depth === 0 && (isActive$ | async)"
  [class.isExpanded]="isExpanded$ | async"
  [class.hasDivider]="item.divider"
>
  <div
    class="aui-nav-item-li__content"
    [class.isActive]="isActive$ | async"
    [class.isExpanded]="isExpanded$ | async"
    [class.isSticked]="mainPanelCollapsed && (isSticked$ | async)"
    [class.hasSubItem]="hasSubItem"
    [class.isMainPanelCollapsed]="mainPanelCollapsed"
    [attr.data-set-depth]="item.depth"
    (click)="handleContentClicked()"
    (mouseenter)="handleContentFocused(true)"
    (mouseleave)="handleContentFocused(false)"
    [auiTooltip]="tooltipTemplate"
    [auiTooltipDisabled]="!mainPanelCollapsed || item.depth !== 0 || hasSubItem"
    auiTooltipType="info"
    auiTooltipPosition="end"
    auiTooltipClass="aui-nav-item-tooltip"
  >
    <div class="aui-nav-item">
      <div class="aui-nav-item__icon">
        <ng-container
          *ngIf="item.icon"
          [ngTemplateOutlet]="item.icon.template"
        ></ng-container>
      </div>
      <div *ngIf="displayItemContent" class="aui-nav-item__content">
        <ng-container [ngTemplateOutlet]="item.content.template"></ng-container>
      </div>
    </div>
    <aui-icon
      *ngIf="hasSubItem && displayItemContent"
      class="aui-nav-item-li__expansion-indicator"
      icon="angle_left"
    ></aui-icon>
  </div>

  <div
    *ngIf="hasSubItem && displayItemContent"
    class="aui-nav-item-li__sub-items"
  >
    <aui-nav-item-ul
      [hidden]="!(isExpanded$ | async)"
      [items]="item.subItems"
    ></aui-nav-item-ul>
  </div>
</div>

<ng-template #tooltipTemplate>
  <ng-container [ngTemplateOutlet]="item.content.template"></ng-container>
</ng-template>
