@import '../../theme/var';
@import '../../theme/mixin';

.aui-check-tag {
  cursor: pointer;
  .aui-tag__content {
    display: flex;
    user-select: none;
  }
  .aui-tag__checkbox {
    align-self: center;
  }
  &.aui-tag--info {
    color: get-color(n-1);
  }
  &.aui-tag--medium {
    font-size: get-size(font-size-m);
    margin: 0 8px;
    &.isRound {
      border-radius: $tag-medium-height / 2;
    }
  }
}
