<div
  [class]="bem.element('container')"
  [ngClass]="{
    'day-panel-container': navRange === DateNavRange.Month,
    'month-panel-container': navRange === DateNavRange.Year,
    'year-panel-container': navRange === DateNavRange.Decade
  }"
>
  <div
    [class]="[bem.element('row'), 'week-header'].join(' ')"
    *ngIf="navRange === DateNavRange.Month"
  >
    <span
      *ngFor="let item of weekDefs"
      [class]="bem.element('cell')"
    >
      {{ item | auiI18n }}
    </span>
  </div>
  <div
    [class]="bem.element('row')"
    *ngFor="let row of panelData; trackBy: trackByFn"
  >
    <span
      *ngFor="let item of row; trackBy: trackByFn"
      [class]="bem.element('cell')"
      [ngClass]="{
        inRange: item.inRange && !item.isDisabled,
        isActive: match(item.value),
        isBackground: item.isBackground && !item.isDisabled,
        isRangeStart: item.isRangeStart,
        isRangeEnd: item.isRangeEnd,
        isToday: matchToday(item.value) && !item.isBackground,
        isDisabled: item.isDisabled
      }"
      ><button
        aui-button="text"
        [plain]="true"
        [size]="navRange === DateNavRange.Month ? 'mini' : 'small'"
        [disabled]="item.isDisabled"
        (click)="selectValue(item.value)"
        (mouseenter)="hovered.next(item.value)"
      >
        {{ item.label
        }}<ng-container *ngIf="navRange === DateNavRange.Year">{{
          'month_suffix' | auiI18n
        }}</ng-container>
      </button>
    </span>
  </div>
</div>
