@import '../theme/var';
@import '../theme/mixin';

.aui-color-picker {
  display: inline-block;
  padding: 3px;
  width: use-var(inline-height-m);
  height: use-var(inline-height-m);
  border: 1px solid use-rgb(n-7);
  border-radius: use-var(border-radius-m);
  background-color: use-rgb(main-bg);
  color: use-text-color(main);
  outline: none;
  cursor: pointer;

  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  &::-moz-color-swatch-wrapper {
    padding: 0;
  }
  &::-webkit-color-swatch {
    border: none;
    border-radius: use-var(border-radius-m);
  }
  &::-moz-color-swatch {
    border: none;
    border-radius: use-var(border-radius-m);
  }

  &:hover,
  &:focus {
    border-color: use-rgb(primary);
  }

  &[disabled] {
    background-color: use-rgb(n-8);
    border-color: use-rgb(n-7) !important;
    color: use-text-color(disabled);
    cursor: not-allowed;
  }
}
