@use '../theme/var' as var;
@use '../theme/mixin' as mixin;
@use 'sass:map';

$button-size: (
  large: (
    height: var.use-var(inline-height-l),
    padding-hoz: var.use-var(inline-padding-l),
    font-size: var.use-var(font-size-l),
    line-height: var.use-var(line-height-l),
    icon-size: var.use-var(icon-size-l),
  ),
  medium: (
    height: var.use-var(inline-height-m),
    padding-hoz: var.use-var(inline-padding-m),
    font-size: var.use-var(font-size-m),
    line-height: var.use-var(line-height-m),
    icon-size: var.use-var(icon-size-m),
  ),
  small: (
    height: var.use-var(inline-height-s),
    padding-hoz: var.use-var(inline-padding-s),
    font-size: var.use-var(font-size-m),
    line-height: var.use-var(line-height-m),
    icon-size: var.use-var(icon-size-m),
  ),
  mini: (
    height: var.use-var(inline-height-xs),
    padding-hoz: var.use-var(inline-padding-xs),
    font-size: var.use-var(font-size-s),
    line-height: var.use-var(line-height-s),
    icon-size: var.use-var(icon-size-s),
  ),
);

@mixin text-button-sizes() {
  &.aui-button--large:not(.isSquare) {
    height: var.use-var(line-height-l);
    line-height: var.use-var(line-height-l);
    font-size: var.use-var(font-size-l);
  }

  &.aui-button--medium:not(.isSquare) {
    height: var.use-var(line-height-m);
    line-height: var.use-var(line-height-m);
    font-size: var.use-var(font-size-m);
  }

  &.aui-button--small:not(.isSquare) {
    height: var.use-var(line-height-m);
    line-height: var.use-var(line-height-m);
    font-size: var.use-var(font-size-m);
  }

  &.aui-button--mini:not(.isSquare) {
    height: var.use-var(line-height-s);
    line-height: var.use-var(line-height-s);
    font-size: var.use-var(font-size-s);
  }
}

@mixin colorful-button($color) {
  color: white;
  border-color: var.use-rgb($color);
  background-color: var.use-rgb($color);

  &:hover {
    border-color: var.use-rgb($color, 1);
    background-color: var.use-rgb($color, 1);
  }

  &:active,
  &.isActive {
    border-color: var.use-rgb($color, 0);
    background-color: var.use-rgb($color, 0);
  }

  &[disabled]:not(.isPlain) {
    border-color: var.use-rgb($color, 4);
    background-color: var.use-rgb($color, 4);
    @include mixin.theme-dark {
      color: var.use-rgb(n-4);
    }
  }

  &.cdk-focused:not(.cdk-mouse-focused) {
    @include mixin.outline-shadow($color);
  }

  &.isPlain {
    color: var.use-rgb($color);
    border-color: var.use-rgb($color);
    background-color: var.use-rgb($color, 6);

    &:hover {
      color: var.use-rgb($color, 1);
      border-color: var.use-rgb($color, 1);
      background-color: var.use-rgb($color, 7);
    }

    &:active,
    &.isActive {
      color: var.use-rgb($color, 0);
      border-color: var.use-rgb($color, 0);
      background-color: var.use-rgb($color, 5);
    }

    &[disabled] {
      border-color: var.use-rgb($color, 4);
      background-color: var.use-rgb($color, 7);
      @include mixin.theme-light {
        color: var.use-rgb($color, 4);
      }
      @include mixin.theme-dark {
        color: var.use-rgb($color, 0);
      }
    }

    &.cdk-focused:not(.cdk-mouse-focused) {
      @include mixin.outline-shadow(primary);
    }
  }
}

.aui-button {
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  border-width: 1px;
  border-radius: use-var(border-radius-m);
  border-style: solid;
  background: none;
  outline: none;
  user-select: none;
  cursor: pointer;
  font-weight: use-var(font-weight-normal);
  @include mixin.transition;

  &::-moz-focus-inner {
    border: none;
  }

  &[disabled] {
    cursor: not-allowed;
  }

  &__content {
    flex-shrink: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  aui-icon {
    display: inline-flex;
    align-items: center;
  }

  @each $key in large medium small mini {
    $map: map.get($button-size, $key);

    &--#{$key} {
      height: map.get($map, height);
      font-size: map.get($map, font-size);
      line-height: map.get($map, line-height);

      aui-icon {
        height: map.get($map, line-height);
        font-size: map.get($map, icon-size);
      }

      .aui-button__content {
        padding: 0 map.get($map, padding-hoz);
      }

      &.isRound {
        border-radius: calc(#{map.get($map, height)} / 2);
      }

      &.isSquare {
        width: map.get($map, height);

        .aui-button__content {
          padding: 0;
        }
      }
    }
  }

  &--text {
    color: use-rgb(primary);
    border: none;
    background-color: transparent;

    .aui-button__content {
      padding: 0 4px;
    }

    @include text-button-sizes;

    &.isPlain {
      color: var.use-text-color(main);

      aui-icon {
        color: var.use-text-color(secondary);
      }

      &[disabled] {
        color: var.use-text-color(disabled);
      }
    }

    &:hover {
      color: var.use-rgb(p-1);
      background-color: var.use-rgb(p-6);
    }

    &:active,
    &.isActive {
      color: var.use-rgb(p-0);
      background-color: var.use-rgb(p-5);
    }

    &[disabled] {
      color: var.use-rgb(p-4);
      background-color: transparent;
    }

    &.cdk-focused:not(.cdk-mouse-focused) {
      @include mixin.outline-shadow(primary);
    }
  }

  &--inline {
    color: var.use-rgb(primary);
    border: none;
    background-color: none;

    .aui-button__content {
      padding: 0;
    }

    @include text-button-sizes;

    &.isPlain {
      color: var.use-text-color(main);

      aui-icon {
        color: var.use-text-color(secondary);
      }

      &[disabled] {
        color: var.use-rgb(n-6);
      }
    }

    &:hover {
      color: var.use-rgb(p-1);
    }

    &:active,
    &.isActive {
      color: var.use-rgb(p-0);
    }

    &[disabled] {
      color: var.use-rgb(p-4);
    }

    &.cdk-focused:not(.cdk-mouse-focused) {
      @include mixin.outline-shadow(primary);
    }
  }

  &--default {
    color: var.use-text-color(main);
    border-color: var.use-rgb(n-7);
    background-color: var.use-rgb(button-bg);

    aui-icon {
      color: var.use-text-color(secondary);
    }

    &:hover {
      color: var.use-rgb(primary);
      border-color: var.use-rgb(primary);
      background-color: var.use-rgb(p-6);
    }

    &:active,
    &.isActive {
      color: var.use-rgb(p-0);
      border-color: var.use-rgb(p-0);
      background-color: var.use-rgb(p-5);
    }

    &[disabled] {
      color: var.use-text-color(disabled);
      border-color: var.use-rgb(n-7);
      background-color: var.use-rgb(n-8);
    }

    &.cdk-focused:not(.cdk-mouse-focused) {
      @include mixin.outline-shadow(primary);
    }
  }

  &--primary {
    @include colorful-button(primary);
  }

  &--success {
    @include colorful-button(green);
  }

  &--warning {
    @include colorful-button(yellow);
  }

  &--danger {
    @include colorful-button(red);
  }

  &__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.isLoading {
    .aui-button__content {
      opacity: 0;
    }
  }

  &[disabled],
  &:hover,
  &:active,
  &.isActive {
    aui-icon {
      color: inherit;
    }
  }
}

.aui-button + .aui-button,
aui-dropdown-button + aui-dropdown-button > .aui-dropdown-button,
aui-dropdown-button + .aui-button,
.aui-button + aui-dropdown-button > .aui-dropdown-button {
  margin-left: var.use-var(spacing-m);
}

.aui-button--text + .aui-button--text {
  margin-left: var.use-var(spacing-s);
}
