@import '../../theme/var';
@import '../../theme/mixin';

aui-menu {
  display: none;
}

$max-width: 280px;

.aui-menu {
  padding: get-size(spacing-m);
  max-width: $max-width;
  border-radius: get-size(border-radius-m);
  background-color: get-color(n-10);
  box-shadow: 0 2px 8px 0 get-rgba(n-1, 0.16);

  &--large {
    .aui-menu-item,
    .aui-submenu {
      height: get-size(inline-height-l);
      font-size: get-size(font-size-l);
    }
  }

  &--medium {
    .aui-menu-item,
    .aui-submenu {
      height: get-size(inline-height-m);
      font-size: get-size(font-size-l);
    }
  }

  &--small {
    .aui-menu-item,
    .aui-submenu {
      height: get-size(inline-height-s);
      font-size: get-size(font-size-m);
    }
  }

  &--mini {
    .aui-menu-item,
    .aui-submenu {
      height: get-size(inline-height-xs);
      font-size: get-size(font-size-s);
    }
  }
}
