@import '../../theme/var';
@import '../../theme/mixin';

aui-menu {
  display: none;
}

$max-width: 280px;

.aui-menu {
  padding: use-var(spacing-m);
  max-width: $max-width;
  border-radius: use-var(border-radius-m);
  background-color: use-rgb(popper-bg);
  @include popper-shadow;

  &--large {
    .aui-menu-item,
    .aui-submenu {
      height: use-var(inline-height-l);
      font-size: use-var(font-size-l);
    }
  }

  &--medium {
    .aui-menu-item,
    .aui-submenu {
      height: use-var(inline-height-m);
      font-size: use-var(font-size-l);
    }
  }

  &--small {
    .aui-menu-item,
    .aui-submenu {
      height: use-var(inline-height-s);
      font-size: use-var(font-size-m);
    }
  }

  &--mini {
    .aui-menu-item,
    .aui-submenu {
      height: use-var(inline-height-xs);
      font-size: use-var(font-size-s);
    }
  }
}
