.aui-radio-group {
  display: inline-flex;

  &--row {
    align-items: center;
  }

  &--column {
    flex-direction: column;
    justify-content: center;

    .aui-radio {
      margin-right: 0;
    }
  }
}
