@import '../../theme/var';
@import '../../theme/mixin';

$input-size: (
  large: (
    height: get-size(inline-height-l),
    font-size: get-size(font-size-l),
    line-height: get-size(line-height-l),
    icon-size: get-size(icon-size-l),
  ),
  medium: (
    height: get-size(inline-height-m),
    font-size: get-size(font-size-m),
    line-height: get-size(line-height-m),
    icon-size: get-size(icon-size-m),
  ),
  small: (
    height: get-size(inline-height-s),
    font-size: get-size(font-size-m),
    line-height: get-size(line-height-m),
    icon-size: get-size(icon-size-m),
  ),
  mini: (
    height: get-size(inline-height-xs),
    font-size: get-size(font-size-s),
    line-height: get-size(line-height-s),
    icon-size: get-size(icon-size-s),
  ),
);

.aui-input-group {
  display: inline-block;
  width: 100%;
  color: get-text-color(main);

  &.isDisabled {
    color: get-text-color(disabled);
    cursor: not-allowed;
  }

  @each $key in large medium small mini {
    $map: map-get($input-size, $key);
    $padding: calc(
      #{get-size(inline-padding-xs)} * 2 + #{map-get($map, icon-size)}
    );

    &--#{$key} {
      height: map-get($map, height);
      font-size: map-get($map, font-size);
      line-height: map-get($map, line-height);

      .aui-input-group__prefix,
      .aui-input-group__suffix {
        aui-icon {
          font-size: map-get($map, icon-size);
        }
      }

      &.hasPrefix .aui-input {
        padding-left: $padding;
      }

      &.hasSuffix .aui-input {
        padding-right: $padding;
      }
    }
  }

  &__inner-wrapper {
    display: flex;
    height: 100%;
  }

  &__input-wrapper {
    width: 100%;
    position: relative;

    &:hover {
      .aui-input {
        border-color: get-color(primary);
      }
    }
  }

  &__addon {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 100%;
    padding: 0 get-size(inline-padding-xs);
    border: 1px solid get-color(n-7);
    background-color: get-color(n-8);

    &--before {
      border-right: none;
      border-radius: get-size(border-radius-m) 0 0 get-size(border-radius-m);
    }
    &--after {
      border-left: none;
      border-radius: 0 get-size(border-radius-m) get-size(border-radius-m) 0;
    }
  }

  &__prefix {
    position: absolute;
    top: 50%;
    left: get-size(inline-padding-xs);
    transform: translateY(-50%);
    color: get-text-color(placeholder);
  }

  &__suffix {
    position: absolute;
    top: 50%;
    right: get-size(inline-padding-xs);
    transform: translateY(-50%);
    color: get-text-color(placeholder);
  }

  &.hasAddonBefore {
    .aui-input {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &.hasAddonAfter {
    .aui-input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
