@import '../src/theme/style';
@import '../src/theme/colors';

storybook-dynamic-app-root {
  &:first-child,
  > ng-component {
    display: block;
    height: 100%;
  }
}

.sbdocs-table {
  width: 100%;
}
