<div
  #elRef
  *ngIf="!groupTitlePortal; else group"
  [class]="bem.block(size$ | async)"
  [class.isDisabled]="disabled"
  [class.isSelected]="selected"
  [class.isMulti]="isMulti"
  [class.isFocused]="focused"
  (click)="onClick()"
>
  <i
    *ngIf="isMulti"
    class="aui-option__pointer"
  >
    <aui-icon
      [hidden]="!selected"
      icon="check"
    ></aui-icon>
  </i>
  <ng-content></ng-content>
</div>

<ng-template #group>
  <div class="aui-option__group-item">
    <ng-container *cdkPortalOutlet="groupTitlePortal!"></ng-container>
  </div>
</ng-template>
