@use '../../../theme/var' as var;

$block: aui-calendar-header;

$aui-text-button-mini-width: var.use-var(inline-height-xs);
$aui-text-button-mini-spacing: var.use-var(spacing-s);

.#{$block} {
  &__container {
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav-content {
    flex: 1;
    max-width: calc(
      100% - $aui-text-button-mini-width * 4 - $aui-text-button-mini-spacing * 2
    );
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: var.use-var(font-size-l);
    color: var.use-text-color(main);
    font-weight: var.use-var(font-weight-bolder);

    .separator {
      margin: 0 var.use-var(spacing-s);
    }

    .aui-button--text {
      color: var.use-text-color(main);

      .aui-button__content {
        font-size: var.use-var(font-size-l);
        font-weight: var.use-var(font-weight-bolder);
        padding: 0;
      }

      &:hover {
        background-color: transparent;
        color: var.use-rgb(primary);
        text-decoration: none !important;
      }

      + .aui-button--text {
        margin-left: 0;
      }
    }

    .aui-button--text.header-range {
      max-width: 100%;
    }
  }
}

.action-bar {
  width: 52px;
  display: flex;
  // 使用 hidden 保留button的位置，宽度
  .hidden {
    opacity: 0;
    pointer-events: none;
  }
}
