@import '../../../theme/var';
$block: aui-calendar-header;

.#{$block} {
  &__container {
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__nav-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: $color-text-main;
    font-weight: $font-weight-bold;
    a {
      color: $color-text-main;
      &:hover {
        color: #006eff;
        text-decoration: none !important;
      }
    }
    a + a {
      margin-left: 5px;
    }
  }
}
