<div [class]="bem.element('container')">
  <div>
    <ng-container
      *ngIf="dateNavRange !== DateNavRange.Decade"
      [ngTemplateOutlet]="yearControl"
      [ngTemplateOutletContext]="{ side: 'left' }"
    ></ng-container>

    <ng-container
      *ngIf="dateNavRange === DateNavRange.Decade"
      [ngTemplateOutlet]="decadeControl"
      [ngTemplateOutletContext]="{ side: 'left' }"
    ></ng-container>
  </div>
  <!-- 内容区 -->
  <span
    *ngIf="dateNavRange === DateNavRange.Month"
    [class]="bem.element('nav-content')"
  >
    <ng-container
      [ngTemplateOutlet]="$monthBeforeYear() ? monthTemplate : yearTemplate"
    ></ng-container>
    <div class="separator"></div>
    <ng-container
      [ngTemplateOutlet]="$monthBeforeYear() ? yearTemplate : monthTemplate"
    ></ng-container>
  </span>

  <span
    *ngIf="dateNavRange === DateNavRange.Year"
    [class]="bem.element('nav-content')"
  >
    <button
      aui-button="text"
      (click)="clickNav(DateNavRange.Year)"
    >
      {{ $headerRange().start.year }}
    </button>
  </span>

  <span
    *ngIf="dateNavRange === DateNavRange.Decade"
    [class]="bem.element('nav-content')"
  >
    {{ $headerRange().start.year }} - {{ $headerRange().end.year }}
  </span>

  <div [class]="bem.element('nav-action')">
    <ng-container
      *ngIf="dateNavRange !== DateNavRange.Decade"
      [ngTemplateOutlet]="yearControl"
      [ngTemplateOutletContext]="{ side: 'right' }"
    ></ng-container>

    <ng-container
      *ngIf="dateNavRange === DateNavRange.Decade"
      [ngTemplateOutlet]="decadeControl"
      [ngTemplateOutletContext]="{ side: 'right' }"
    ></ng-container>
  </div>
</div>

<ng-template
  #yearControl
  let-side="side"
>
  <span class="action-bar">
    <button
      aui-button="text"
      size="mini"
      [square]="true"
      *ngIf="side === 'right'"
      [class.hidden]="
        !shouldShowNav(DateNavRange.Month, side) ||
        dateNavRange !== DateNavRange.Month
      "
      (click)="navHead(DateNavRange.Month, 1)"
    >
      <aui-icon icon="angle_right"></aui-icon>
    </button>
    <button
      aui-button="text"
      size="mini"
      [square]="true"
      (click)="navHead(DateNavRange.Year, side === 'left' ? -1 : 1)"
      [class.hidden]="!shouldShowNav(DateNavRange.Year, side)"
    >
      <aui-icon
        [icon]="side === 'left' ? 'angles_left' : 'angles_right'"
      ></aui-icon>
    </button>
    <button
      aui-button="text"
      size="mini"
      [square]="true"
      *ngIf="side === 'left'"
      [class.hidden]="
        !shouldShowNav(DateNavRange.Month, side) ||
        dateNavRange !== DateNavRange.Month
      "
      (click)="navHead(DateNavRange.Month, -1)"
    >
      <aui-icon icon="angle_left"></aui-icon>
    </button>
  </span>
</ng-template>

<ng-template
  #decadeControl
  let-side="side"
>
  <button
    aui-button="text"
    size="mini"
    [square]="true"
    (click)="navHead(DateNavRange.Decade, side === 'left' ? -10 : 10)"
    [class.hidden]="!shouldShowNav(DateNavRange.Decade, side)"
  >
    <aui-icon
      [icon]="side === 'left' ? 'angles_left' : 'angles_right'"
    ></aui-icon>
  </button>
</ng-template>

<ng-template #yearTemplate>
  <button
    aui-button="text"
    class="header-range"
    (click)="clickNav(DateNavRange.Year)"
  >
    {{ $headerRange().start.year }}
  </button>
</ng-template>
<ng-template #monthTemplate>
  <button
    aui-button="text"
    class="header-range"
    (click)="clickNav(DateNavRange.Month)"
  >
    {{ $headerRange().start.month }}
  </button>
</ng-template>
