@import '../../theme/var';
@import '../../theme/mixin';
@import '../menu-item/mixin';

@include component-style(aui-submenu);

.aui-submenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: use-var(spacing-s);

  &__title {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__arrow {
    margin-left: use-var(spacing-l);
  }

  &--default {
    &.isActive {
      color: use-rgb(n-1);
    }
  }
}

.aui-sub-dropdown {
  &.aui-tooltip {
    &--start,
    &--end {
      margin: calc(0px - #{use-var(spacing-m)}) use-var(spacing-m);
    }
  }
}
