@use '../../../theme/var' as var;
@use '../../../theme/mixin' as mixin;
@use '../../../theme/motion' as motion;

$drawer: aui-drawer;

.#{$drawer}-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  @include mixin.modal-backdrop;

  &.isOpen {
    height: 100%;
  }
}

@include motion.fade-motion(aui-drawer-mask, aui-fade, 0.3s);

.#{$drawer} {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;

  @include mixin.text-set(m, main);

  &__content {
    background-color: var.use-rgb(n-10);
    position: absolute;
    height: 100%;
    right: 0;
    width: 100%;

    @include mixin.theme-light {
      box-shadow: -2px 0 8px 0 var.use-rgba(origin-shadow, 0.2);
    }
    @include mixin.theme-dark {
      box-shadow: -2px 0 8px 0 var.use-rgba(origin-shadow, 0.75);
    }
  }

  &__header {
    padding: 20px;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
  }

  &__title {
    flex: 1;
    @include mixin.text-set(xxl, main, bolder);
    @include mixin.text-overflow;
  }

  &__close {
    z-index: 10;
    flex-shrink: 0;
    margin-top: 2px;
    margin-left: var.use-var(spacing-xl);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    font-size: var.use-var(icon-size-l);
    color: var.use-text-color(secondary);
    border-radius: var.use-var(border-radius-m);
    cursor: pointer;

    &:hover {
      color: var.use-rgb(primary);
      background-color: var.use-rgb(p-6);
    }

    &:active {
      color: var.use-rgb(p-0);
      background-color: var.use-rgb(p-5);
    }
  }

  &__body-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    z-index: 1;
  }

  &__body {
    padding: 0 20px;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
  }

  &__footer {
    padding: 20px;
  }

  &.hasDivider {
    .#{$drawer} {
      &__header {
        padding-bottom: 16px;
        border-bottom: 1px solid var.use-rgb(n-8);
      }

      &__body {
        padding: 16px 20px;
      }

      &__footer {
        padding-top: 16px;
        border-top: 1px solid var.use-rgb(n-8);
      }
    }
  }
}
