.demo-container {
  overflow: hidden;
  display: flex;
  align-items: stretch;
  padding: 10px;
}

.demo-container .links {
  width: 200px;
  overflow: auto;
}

.demo-container .links ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}

.demo-container .links ul li {
  width: unset;
  height: unset;
  cursor: pointer;
}

.demo-container .links ul li > a {
  display: block;
  padding: 20px;
  color: rgb(128 128 128);
}

.demo-container .links ul li > a.isActive {
  color: #00bfff;
}

.demo-container .contents {
  display: block;
  flex-grow: 1;
  overflow: auto;
  padding: 20px;
}

.demo-container .contents .content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  margin-bottom: 18px;
  background-color: #808080;
  color: #fff;
}

.demo-container .contents .content:last-of-type {
  min-height: 100%;
}

.demo-container .contents .content.isActive {
  background-color: #00bfff;
}
