@use '../../theme/var' as var;
@use '../../theme/mixin' as mixin;
@use '../../input/tags-input/mixin' as tagsInputMixin;
@use '../option/option-style' as optionStyle;
@use '../option-container' as optionContainer;
@use 'sass:map';

@include optionStyle.option('aui-option');

@include optionContainer.option-container(aui-option-container);

$block: aui-multi-select;

@include tagsInputMixin.component-style($block);

.#{$block} {
  @each $key in large medium small mini {
    $map: map.get(var.$input-size, $key);
    $padding: calc(
      #{var.use-var(inline-padding-xs)} * 2 + #{map.get($map, icon-size)} + 1px
    );

    &--#{$key} {
      min-height: map.get($map, height);
      font-size: map.get($map, font-size);
      line-height: map.get($map, line-height);
      padding-right: calc(
        #{var.use-var(inline-padding-xs)} *
          2 +
          #{map.get($map, icon-size)} +
          1px
      );

      .#{$block}__suffix {
        right: calc(#{var.use-var(inline-padding-xs)} + 1px);
        font-size: map.get($map, icon-size);
      }
    }
  }

  &__suffix {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  @include mixin.input-field-indicator;

  &.withHeightLimit {
    @include tagsInputMixin.with-height-limit;
  }

  .aui-tag--info {
    background-color: var.use-rgb(n-10);
  }

  &.isReadonly {
    cursor: default;

    .aui-tag {
      color: var.use-text-color(main);
      background-color: var.use-rgb(n-10);
    }
  }
}
