@import '../../theme/var';
@import '../../theme/mixin';
@import '../../input/tags-input/mixin';
@import '../option/option-style';
@import '../option-container';

@include option('aui-option');

@include option-container(aui-option-container);

$block: aui-multi-select;

@include component-style($block);

@mixin multi-select-style($size: m) {
  padding-right: get-select-padding-variables(#{$size}, false);

  .#{$block} {
    &__suffix {
      right: calc(#{get-size(border-m)} + #{get-size(inline-padding-xs)});
    }
  }

  &.isClearable {
    padding-right: get-select-padding-variables(#{$size}, true);
  }
}

.#{$block} {
  &--large {
    @include multi-select-style(m);
  }

  &--medium {
    @include multi-select-style(m);
  }

  &--small {
    @include multi-select-style(s);
  }

  &--mini {
    @include multi-select-style(s);
  }

  &__suffix {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__clear .aui-icon {
    @include clear-button;
  }

  &__indicator {
    color: get-text-color(help);
    cursor: default;
  }

  &.withHeightLimit {
    @include with-height-limit;
  }

  &:not(.isDisabled) .aui-icon-caret_down_s {
    fill: get-color(n-2);
  }

  .aui-tag--info {
    background-color: get-color(n-10);
  }
}
