<div
  [class]="rootClass"
  #selectRef
  #tooltipRef="auiTooltip"
  [auiTooltip]="templateRef"
  auiTooltipAnimType="scaleY"
  [auiTooltipDisabled]="disabled"
  auiTooltipTrigger="click"
  auiTooltipPosition="bottom start"
  auiTooltipType="plain"
  (auiTooltipVisibleChange)="onVisibleOptions($event)"
  (mousedown)="$event.preventDefault()"
  [style.max-height]="maxHeight"
>
  <div class="aui-multi-select__suffix">
    <span class="aui-multi-select__icon-container">
      <aui-icon
        class="aui-multi-select__indicator"
        [icon]="loading ? 'spinner' : 'caret_down_s'"
      ></aui-icon>
      <aui-icon
        class="aui-multi-select__clear"
        icon="xmark_small"
        (click)="clearValue($event)"
      ></aui-icon>
    </span>
  </div>
  <span
    [hidden]="model.length || inputRef.value.length"
    [class]="bem.element('placeholder')"
  >
    {{ placeholder }}
  </span>
  <aui-tag
    *ngFor="let option of selectedOptions$ | async; trackBy: trackByValue"
    type="info"
    [round]="true"
    [border]="true"
    [size]="tagSize"
    [closeable]="!disabled && !option.disabled"
    (close)="removeValue(option.value)"
    [ngClass]="tagClassFn && tagClassFn(option.label, option.value)"
  >
    <ng-container
      *ngIf="isTemplateRef(option.label); else label"
      [ngTemplateOutlet]="option.label"
      [ngTemplateOutletContext]="option.labelContext"
    ></ng-container>
    <ng-template #label>
      {{ option.label }}
    </ng-template>
  </aui-tag>
  <input
    #inputRef
    autocomplete="off"
    [readonly]="inputReadonly"
    [class]="inputClass"
    (focus)="onInputFocus()"
    (blur)="onInputBlur()"
    (keydown)="onKeyDown($event)"
    (input)="onInput($event)"
  />
  <span
    #inputValueMirror
    [class]="bem.element('mirror')"
  >
    {{ inputValue }}
  </span>
</div>

<ng-template #templateRef>
  <div
    class="aui-option-container"
    [style.minWidth]="containerWidth"
    (mousedown)="$event.preventDefault()"
  >
    <ng-content select="[prefix]"></ng-content>
    <ng-container
      *ngIf="
        allowSelectAll &&
        (hasEnabledOptions$ | async) &&
        (filterOptions$ | async)
      "
    >
      <div
        class="aui-option"
        [class]="bemSelectAll.block(size$ | async)"
        [class.isDisabled]="disabled"
        [class.isSelected]="!!(selectAllStatus$ | async)"
        [class.isIndeterminate]="(selectAllStatus$ | async) === 'indeterminate'"
        [class.isMulti]="true"
        (click)="onSelectAllClick()"
      >
        <i class="aui-option__pointer">
          <aui-icon
            *ngIf="(selectAllStatus$ | async) === 'checked'"
            icon="check"
          ></aui-icon>
        </i>
        {{ 'select_all' | auiI18n }}
      </div>
      <div class="aui-option__divider"></div>
    </ng-container>
    <div
      #optionListRef
      class="aui-option-container__content"
    >
      <ng-container *ngIf="!useVirtual; else virtual">
        <ng-template
          *ngFor="let item of filterOptions$ | async; trackBy: trackByValue"
          [ngTemplateOutlet]="inputItemTemplate || itemTemplate"
          [ngTemplateOutletContext]="{ $implicit: item }"
        >
        </ng-template>
      </ng-container>
      <ng-template #virtual>
        <aui-virtual-scroll-viewport
          [itemSize]="_itemSize"
          [maxBufferPx]="_itemSize * maxItemLength"
          [minBufferPx]="_itemSize * maxItemLength"
          (scrolledIndexChange)="onScrolledIndexChange($event)"
          [style.height.px]="(filterOptions$ | async).length * _itemSize"
          [style.max-height.px]="_itemSize * maxItemLength"
        >
          <ng-container
            *auiVirtualFor="
              let item of filterOptions$ | async;
              trackBy: trackByValue;
              template: inputItemTemplate || itemTemplate;
              templateCacheSize: 0
            "
          >
          </ng-container>
        </aui-virtual-scroll-viewport>
      </ng-template>
      <ng-template
        #itemTemplate
        let-item
      >
        <aui-option-item
          [label]="item.label"
          [value]="item.value"
          [selected]="item.selected"
          [disabled]="item.disabled"
          [groupTitle]="item.groupTitle"
          [focused]="isFocus(item.value, focused$ | async)"
        >
          <ng-container *ngIf="item.contentTemplate; else normal">
            <ng-container
              *ngTemplateOutlet="item.contentTemplate"
            ></ng-container>
          </ng-container>
          <ng-template #normal>
            {{ item.label || getLabelByValue(item.value) }}
          </ng-template>
        </aui-option-item>
      </ng-template>
    </div>
    <ng-content select="[suffix]"></ng-content>
    <div
      *ngIf="
        !((filterOptions$ | async)?.length || (allowCreate && filterString))
      "
      class="aui-option-container__placeholder"
    >
      <ng-content select="aui-option-placeholder"></ng-content>
    </div>
  </div>
</ng-template>
