<div
  [class]="rootClass"
  [ngClass]="{
    isDisabled: disabled,
    isFocused: focused,
    isClearable: displayClearBtn,
    withHeightLimit: maxRowCount > 0,
    isReadonly: readonly,
  }"
  #selectRef
  #tooltipRef="auiTooltip"
  [auiTooltip]="templateRef"
  auiTooltipAnimType="scaleY"
  [auiTooltipDisabled]="disabled"
  auiTooltipTrigger="click"
  auiTooltipPosition="bottom start"
  auiTooltipType="plain"
  (auiTooltipVisibleChange)="onVisibleOptions($event)"
  (mousedown)="$event.preventDefault()"
  [style.max-height]="maxHeight"
  >
  <div class="aui-multi-select__suffix">
    <span class="aui-multi-select__icon-container">
      <aui-icon
        class="aui-multi-select__indicator"
        [icon]="loading ? 'spinner' : 'caret_down_s'"
      ></aui-icon>
      <aui-icon
        class="aui-multi-select__clear"
        icon="xmark_small"
        (click)="clearValue($event)"
      ></aui-icon>
    </span>
  </div>
  <span
    [hidden]="model.length || inputRef.value.length"
    [class]="bem.element('placeholder')"
    >
    {{ placeholder }}
  </span>
  @for (option of selectedOptions$ | async; track trackByValue($index, option)) {
    <aui-tag
      type="info"
      [round]="true"
      [border]="true"
      [size]="tagSize"
      [closeable]="!disabled && !option.disabled"
      (close)="removeValue(option.value)"
      [ngClass]="tagClassFn && tagClassFn(option.label, option.value)"
      >
      @if (isTemplateRef(option.label)) {
        <ng-container
          [ngTemplateOutlet]="option.label"
          [ngTemplateOutletContext]="option.labelContext"
        ></ng-container>
      } @else {
        {{ option.label }}
      }
    </aui-tag>
  }
  <input
    #inputRef
    autocomplete="off"
    [readonly]="readonly"
    [class]="inputClass"
    (focus)="onInputFocus()"
    (blur)="onInputBlur()"
    (keydown)="onKeyDown($event)"
    (input)="onInput($event)"
    />
  <span
    #inputValueMirror
    [class]="bem.element('mirror')"
    >
    {{ inputValue }}
  </span>
</div>

<ng-template #templateRef>
  <div
    class="aui-option-container"
    [style.minWidth]="containerWidth"
    (mousedown)="$event.preventDefault()"
    >
    <div
      #optionListRef
      class="aui-option-container__content"
      >
      @if (
        allowSelectAll &&
        (hasEnabledOptions$ | async) &&
        ((hasVisibleOption$ | async) ||
        (allowCreate && (customCreatedOptions$ | async).length) ||
        (allowCreate && filterString))
        ) {
        <div
          class="aui-option"
          [class]="bemSelectAll.block(size$ | async)"
          [class.isDisabled]="disabled"
          [class.isSelected]="!!(selectAllStatus$ | async)"
          [class.isIndeterminate]="
            (selectAllStatus$ | async) === 'indeterminate'
          "
          [class.isMulti]="true"
          (click)="onSelectAllClick()"
          >
          <i class="aui-option__pointer">
            @if ((selectAllStatus$ | async) === 'checked') {
              <aui-icon
                icon="check"
              ></aui-icon>
            }
          </i>
          {{ 'select_all' | auiI18n }}
        </div>
        <div class="aui-option__divider"></div>
      }
      @if (allowCreate && filterString && !(hasMatchedOption$ | async)) {
        <aui-option
          #inputtingOption
          [value]="filterString"
          >
          {{ filterString }}
        </aui-option>
      }
      @if (allowCreate) {
        @for (option of customCreatedOptions$ | async; track option) {
          <aui-option
            [label]="option.label"
            [value]="option.value"
            >
            {{ option.label }}
          </aui-option>
        }
      }
      <ng-content></ng-content>
    </div>
    @if (
      !(
      (hasVisibleOption$ | async) ||
      (allowCreate && (customCreatedOptions$ | async).length) ||
      (allowCreate && filterString)
      )
      ) {
      <div
        class="aui-option-container__placeholder"
        >
        <ng-content select="aui-option-placeholder"></ng-content>
      </div>
    }
  </div>
</ng-template>
