<div
  class="aui-page"
  [class.hasHeader]="pageHeader"
  [class.hasSider]="pageSider"
  [class.hasToolbar]="pageToolbar"
  [class.hasSnackbar]="pageSnackbars.length"
>
  <div class="aui-page__header" *ngIf="pageHeader">
    <ng-container *ngTemplateOutlet="pageHeader"></ng-container>
  </div>
  <div class="aui-page__sider" *ngIf="pageSider">
    <ng-container *ngTemplateOutlet="pageSider"></ng-container>
  </div>
  <div class="aui-page__toolbar" *ngIf="pageToolbar">
    <ng-container *ngTemplateOutlet="pageToolbar"></ng-container>
  </div>
  <div class="aui-page__snackbar" *ngIf="pageSnackbars.length">
    <ng-container *ngTemplateOutlet="pageSnackbars.first"></ng-container>
  </div>
  <div class="aui-page__body">
    <div class="aui-page__content">
      <ng-container *ngTemplateOutlet="pageContent"></ng-container>
    </div>
  </div>
</div>
