@import '../theme/var';
@import '../theme/mixin';

.aui-page {
  min-height: 100%;
  background-color: get-color(n-9);

  &__header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 101;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--aui-page-header-height);
    padding: 0 var(--aui-page-padding-m) 0 var(--aui-page-padding-s);
    background-color: get-color(n-10);
    @include page-header-shadow;
  }

  &__toolbar {
    position: fixed;
    top: var(--aui-page-header-height);
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    height: var(--aui-page-toolbar-height);
    padding: 0 var(--aui-page-padding-m);
    background-color: get-color(n-9);
  }

  &__snackbar {
    position: fixed;
    bottom: 0;
    left: var(--aui-page-padding-m);
    right: var(--aui-page-padding-m);
    z-index: 100;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: var(--aui-page-snackbar-height);
    padding: 0 var(--aui-page-padding-m);
    background-color: get-color(n-10);
    @include page-snackbar-shadow;

    border-radius: var(--aui-border-radius-m);
  }

  &__sider {
    position: fixed;
    top: var(--aui-page-header-height);
    bottom: 0;
    left: 0;
    z-index: 100;
    width: var(--aui-page-sider-width);
    overflow: auto;
    background-color: get-color(n-9);
    padding: var(--aui-page-padding-m);
    @include scroll-bar;
  }

  &__content {
    min-height: 100vh;
    position: relative;
    z-index: 100;
    padding: var(--aui-page-padding-m);
  }

  &.hasHeader &__content {
    padding-top: var(--aui-page-header-height);
  }

  &.hasToolbar &__content {
    padding-top: var(--aui-page-toolbar-height);
  }

  &.hasHeader.hasToolbar &__content {
    padding-top: calc(
      var(--aui-page-header-height) + var(--aui-page-toolbar-height)
    );
  }

  &.hasSnackbar &__content {
    padding-bottom: calc(
      var(--aui-page-snackbar-height) + var(--aui-page-padding-m)
    );
  }

  &.hasSider & {
    &__toolbar,
    &__snackbar {
      left: var(--aui-page-sider-width);
    }
    &__content {
      padding-left: var(--aui-page-sider-width);
    }
  }
}
