@import '../theme/var';
@import '../theme/mixin';

.aui-editable {
  .aui-button--text {
    color: use-rgb(main-text);

    &:first-of-type {
      margin-left: 8px;
    }

    &:hover {
      color: use-rgb(primary);
    }

    &[disabled] {
      color: use-rgb(main-text) !important;
    }
  }

  &--center &__view-container,
  &--center &__editor-container {
    display: flex;
    align-items: center;
  }

  &--top &__view-container,
  &--top &__editor-container {
    display: flex;
    align-items: flex-start;
  }

  &--bottom &__view-container,
  &--bottom &__editor-container {
    display: flex;
    align-items: flex-end;
  }
}
