<ng-template #drawerTemplate>
  <div
    *ngIf="mask"
    class="aui-drawer-mask"
    [class.isOpen]="visible"
    (click)="maskClick()"
  ></div>
  <div
    [style.marginTop]="offsetY"
    [ngClass]="drawerClasses"
    [class.isOpen]="visible"
    [ngStyle]="{
      transform: transform,
      width: width + 'px'
    }"
  >
    <div class="aui-drawer__content">
      <div class="aui-drawer__body-wrapper">
        <div class="aui-drawer__header">
          <div class="aui-drawer__title">
            <ng-container
              *ngIf="!isTemplateRef(title || titleTemplate); else elseTemplate"
            >
              {{ title }}
            </ng-container>
            <ng-template #elseTemplate>
              <ng-container
                *ngIf="title || titleTemplate"
                [ngTemplateOutlet]="$any(title || titleTemplate)"
                [ngTemplateOutletContext]="templateContext"
              ></ng-container>
            </ng-template>
          </div>
          <div
            class="aui-drawer__close"
            *ngIf="showClose"
            (click)="dispose()"
          >
            <aui-icon icon="xmark"></aui-icon>
          </div>
        </div>

        <div
          class="aui-drawer__body"
          cdkScrollable
        >
          <ng-template cdkPortalOutlet></ng-template>
          <ng-container *ngIf="isTemplateRef(content || contentTemplate)">
            <ng-container
              *ngTemplateOutlet="
                $any(content || contentTemplate);
                context: templateContext
              "
            >
            </ng-container>
          </ng-container>
        </div>

        <div
          *ngIf="footer || footerTemplate"
          class="aui-drawer__footer"
        >
          <ng-container
            *ngIf="!isTemplateRef(footer || footerTemplate); else elseTemplate"
          >
            {{ footer }}
          </ng-container>
          <ng-template #elseTemplate>
            <ng-container
              *ngIf="footer || footerTemplate"
              [ngTemplateOutlet]="$any(footer || footerTemplate)"
              [ngTemplateOutletContext]="templateContext"
            ></ng-container>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</ng-template>
