@import '../../theme/var';
@import '../../theme/mixin';

$drawer: aui-drawer;

.#{$drawer}-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  @include modal-backdrop;

  &.isOpen {
    height: 100%;
  }
}

.#{$drawer} {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  transition: transform 0.3s, opacity 0.3s, box-shaow 0.3s;
  @include text-set(m, main);

  &.isOpen &__content {
    @include theme-light {
      box-shadow: -2px 0 8px 0 use-rgba(origin-shadow, 0.2);
    }
    @include theme-dark {
      box-shadow: -2px 0 8px 0 use-rgba(origin-shadow, 0.75);
    }
  }

  &__content {
    background-color: use-rgb(n-10);
    position: absolute;
    height: 100%;
    right: 0;
    width: 100%;
  }

  &__header {
    margin: 0 20px;
    padding: 20px 0;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
  }

  &__title {
    flex: 1;
    @include text-set(xxl, main);

    font-weight: use-var(font-weight-bold);
    @include text-overflow;
  }

  &__close {
    z-index: 10;
    margin-left: 16px;
    display: flex;
    align-items: center;
    font-size: use-var(icon-size-m);
    color: use-rgb(n-4);
    cursor: pointer;

    &:hover {
      color: use-rgb(primary);
    }
  }

  &__body-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    z-index: 1;
  }

  &__body {
    padding: 0 20px;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
  }

  &__footer {
    margin: 0 20px;
    padding: 20px 0;
  }

  &.hasDivider {
    .#{$drawer} {
      &__header {
        padding-bottom: 16px;
        border-bottom: 1px solid use-rgb(n-8);
      }

      &__body {
        padding: 16px 20px;
      }

      &__footer {
        padding-top: 16px;
        border-top: 1px solid use-rgb(n-8);
      }
    }
  }
}
