<ng-template #drawerTemplate>
  <div
    *ngIf="mask"
    class="aui-drawer-mask"
    [class.isOpen]="visible"
    (click)="maskClick()"
  ></div>
  <div
    [ngClass]="drawerClasses"
    [ngStyle]="{
      transform: transform,
      width: width,
      marginTop: offsetY
    }"
  >
    <div *ngIf="headerRef || showClose" class="aui-drawer__header-wrapper">
      <div class="aui-drawer__header">
        <ng-content select="[auiDrawerHeader]"></ng-content>
      </div>
      <div *ngIf="showClose" class="aui-drawer__close" (click)="close()">
        <aui-icon icon="close"></aui-icon>
      </div>
    </div>

    <div class="aui-drawer__content">
      <ng-content></ng-content>
    </div>

    <div class="aui-drawer__footer">
      <ng-content select="[auiDrawerFooter]"></ng-content>
    </div>
  </div>
</ng-template>
