@import '../../theme/var';
@import '../../theme/mixin';

.aui-drawer-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0.4;
  background-color: get-color(n-0);

  &.isOpen {
    height: 100%;
  }
}

.aui-drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  @include text-set(m, main);

  background-color: get-color(n-10);
  transition: transform 0.3s ease-in-out;

  &.isOpen {
    @include modal-shadow;
  }

  &__header-wrapper {
    margin: 20px 20px 0 20px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid get-color(n-8);
  }

  &__header {
    flex: 1;
    @include text-set(xxl, main);

    font-weight: get-size(font-weight-bold);
    @include text-overflow;
  }

  &__close {
    margin-left: 16px;
    display: flex;
    align-items: center;
    font-size: get-size(icon-size-m);
    color: get-color(n-4);
    cursor: pointer;

    &:hover {
      color: get-color(primary);
    }
  }

  &__content {
    margin: 16px 20px;
    flex: 1;
    overflow: auto;
    @include scroll-bar;
  }

  &__footer {
    margin: 0 20px 20px 20px;
    padding-top: 16px;
    border-top: 1px solid get-color(n-8);
  }
}
