<div class="aui-calendar-footer__wrapper">
  <div style="flex: 1">
    <ng-content></ng-content>
  </div>
  <div>
    @if (customAction) {
      <ng-container
        [ngTemplateOutlet]="customAction"
        >
      </ng-container>
    } @else {
      @if (clearable) {
        <button
          aui-button="text"
          (click)="clear.emit()"
          size="small"
          >
          {{ clearText || ('clear' | auiI18n) }}
        </button>
      }
      <button
        aui-button="primary"
        (click)="confirm.emit()"
        size="small"
        >
        {{ 'confirm' | auiI18n }}
      </button>
    }
  </div>
</div>
