@import '../../theme/var';
@import '../../theme/mixin';

$block: 'aui-search';

$component-size: (
  large: (),
  medium: (
    height: get-size(inline-height-m),
    line-height: get-size(line-height-m),
    icon-size: get-size(icon-size-m),
  ),
  small: (),
  mini: (),
);

.#{$block} {
  display: inline-block;
  width: 100%;
  position: relative;
  color: get-color(n-4);

  &.isDisabled {
    color: get-text-color(disabled);
    cursor: not-allowed;
  }

  @each $key in medium {
    $map: map-get($component-size, $key);

    &--#{$key} {
      font-size: map-get($map, font-size);
      line-height: map-get($map, line-height);

      aui-icon {
        font-size: map-get($map, icon-size);
      }

      .#{$block}__clear,
      .#{$block}__spinner {
        right: calc(#{get-size(inline-padding-xs)} + 1px);
      }

      .#{$block}__icon {
        left: calc(#{get-size(inline-padding-xs)} + 1px);
      }

      .#{$block}__button-icon {
        padding: 0 get-size(inline-padding-xs);
      }

      &.isClearable .#{$block}__input,
      &.isSearching .#{$block}__input {
        padding-right: get-size(inline-padding-xs);
      }

      &.hasIcon .#{$block}__input {
        padding-left: calc(
          #{map-get($map, icon-size)} + #{get-size(inline-padding-xs)} * 2 + 1px
        );
      }

      &.hasButton .#{$block} {
        &__input {
          padding-right: calc(
            #{map-get($map, icon-size)} + #{get-size(inline-padding-xs)}
          );
        }

        &__clear {
          right: calc(
            #{map-get($map, icon-size)} +
              #{get-size(inline-padding-xs)} *
              3 +
              1px *
              2
          );
        }
      }

      &.hasButton.isClearable .#{$block}__input {
        padding-right: calc(#{map-get($map, icon-size)} * 2);
      }
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: get-text-color(placeholder);
  }

  &__button {
    position: absolute;
    top: 0;
    right: 1px;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &:not(.isDisabled):not(.isSearching) &__button {
    cursor: pointer;

    &:hover {
      color: get-color(primary);
    }
  }

  &__button-icon {
    border-left: 1px solid get-color(n-7);
  }

  &__clear,
  &__spinner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__clear .aui-icon {
    @include clear-button;
  }
}
