name: Release beta

on:
  pull_request:
    branches: [master]

jobs:
  release_beta:
    name: Release Beta
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: yarn
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: yarn --frozen-lockfile

      - name: Release beta
        run: sh scripts/release.sh
        env:
          PUBLISH_VERSION: beta
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Sync Cnpm
        run: npx cnpm sync @alauda/ui
