name: Release prod

on:
  workflow_dispatch:
    inputs:
      version:
        description: Hotfix package version for prod, 5.7.0-prod-3.5-0 for example .
        required: true

jobs:
  release_prod:
    name: Release Prod
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: yarn

      - name: Install dependencies
        run: yarn --frozen-lockfile

      - name: Set git info
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"

      - name: Release
        run: sh scripts/release.sh
        env:
          PUBLISH_VERSION: ${{ github.event.inputs.version }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Sync Cnpm
        run: npx cnpm sync @alauda/ui
